{% extends "layout.html" %}

{% from "macros/flash_message.html" import render_flash_messages %}

{% block title %} Usuarios - Crear usuario {% endblock %}

{% block main_content %}
    <section class="section">

        <div class="container">
            <h1 class="title">Crear usuario</h1>

            <div class="mb-2">{{ render_flash_messages(messages) }}</div>

            <form method="POST">
                {{ form.hidden_tag() }}
                
                <div class="field">
                    <label class="label">{{ form.email.label }}</label>
                    <div class="control">
                        {{ form.email(class="input", type="email", placeholder="Ingrese el correo", data_validate="required email") }}
                    </div>
                    {% if form.email.errors %}
                        <p class="help is-danger">{{ form.email.errors[0] }}</p>
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label">{{ form.alias.label }}</label>
                    <div class="control">
                        {{ form.alias(class="input", placeholder="Ingrese un alias", data_validate="required alphanumeric") }}
                    </div>
                    {% if form.alias.errors %}
                        <p class="help is-danger">{{ form.alias.errors[0] }}</p>
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label">{{ form.password.label }}</label>
                    <div class="control">
                        {{ form.password(class="input", placeholder="Ingrese una contraseña", data_validate="required") }}
                    </div>
                    {% if form.password.errors %}
                        <p class="help is-danger">{{ form.password.errors[0] }}</p>
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label">{{ form.confirm_password.label }}</label>
                    <div class="control">
                        {{ form.confirm_password(class="input", placeholder="Repita la contraseña", data_validate="required") }}
                    </div>
                    {% if form.confirm_password.errors %}
                        <p class="help is-danger">{{ form.confirm_password.errors[0] }}</p>
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label">{{ form.role_id.label }}</label>
                    <div class="control">
                        <div class="select">
                            {{ form.role_id(data_validate="required") }}
                        </div>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            {{ form.system_admin() }} {{ form.system_admin.label }}
                        </label>
                    </div>
                </div>

                <div class="field-body">
                    <div class="field">
                        <div class="control">          
                            {{ form.submit_another(class="button is-fullwidth is-medium is-outlined is-primary")}}
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary is-medium is-fullwidth" type="submit">
                                Guardar y salir
                                <span class="icon ml-1">
                                    <i class="fa-solid fa-floppy-disk is-size-4"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block extra_scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/form_validator.js') }}"></script>
{% endblock %}