{% extends "layout.html" %}

{% block title %} Usuarios - Editar usuario {% endblock %}

{% block main_content %}
    <section class="section">
        <div class="container">
            <h1 class="title">Editar usuario</h1>
            <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="is-flex-direction-row is-flex is-justify-content-space-around ">

                    <div class="field is-touchable">
                        <label class="label file-label is-small">{{ form.profile_image.label }}
                        <div class="control file is-boxed"">
                            {{ form.profile_image(class="file-input", type="file",  onchange="previewImage(event)") }}
                            <span class="file-cta">
                                <span class="file-icon">
                                  <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label"> Subir...</span>
                        </div>
                        </label>
                        {% if form.profile_image.errors %}
                            <p class="help is-danger">{{ form.profile_image.errors[0] }}</p>
                        {% endif %}
                    </div>
                    <div class="field">
                        <label class="label">Vista previa</label>
                        <div class="control ">
                            <div class="control">
                           
                            <figure class="image is-128x128 ">
                                <img id="profile-image" src="{{ user.profile_image_url or '#' }}" alt="Imagen de perfil" class="is-rounded"
                                style="display: {{ 'block' if user.profile_image_url else 'none' }};"
                                >
                            </figure>
                            </div>
                        </div>
                    </div>
            </div>
                <div class="field">
                    <label class="label">{{ form.email.label }}</label>
                    <div class="control">
                        {{ form.email(class="input", type="email", placeholder="Inrese el correo") }}
                    </div>
                    {% if form.email.errors %}
                        <p class="help is-danger">{{ form.email.errors[0] }}</p>
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label">{{ form.alias.label }}</label>
                    <div class="control">
                        {{ form.alias(class="input", placeholder="Ingrese el alias") }}
                    </div>
                    {% if form.alias.errors %}
                        <p class="help is-danger">{{ form.alias.errors[0] }}</p>
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label">{{ form.role_id.label }}</label>
                    <div class="control">
                        <div class="select">
                            {{ form.role_id() }}
                        </div>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            {{ form.system_admin() }} {{ form.system_admin.label }}
                        </label>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <button class="button is-primary" type="submit">Guardar cambios</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block extra_scripts %}
   {{ super() }}
    <script src="{{ url_for('static', filename='js/preview-image.js') }}"></script>
{% endblock %}
