{% extends "layout.html" %} 

{% from "macros/pagination.html" import render_pagination %}
{% from "macros/date_format.html" import format_date %}
{% from "macros/natural_boolean.html" import render_natural_boolean %}
{% from "macros/edit_menu.html" import render_actions_menu %}
{% from "macros/delete_modal.html" import render_delete_modal %}

{% block title %}Usuarios{% endblock %} 

{% block head %} 
    {{ super() }} 
{% endblock %} 

{% block main_content %}
  <section class="is-fullheight-with-navbar"">
    <div class="table-container">
      <div class="box m-5">
        <a class="button" href="{{ url_for('users_bp.create_user')}}">Crear usuario</a>
      </div>
      <table class="table is-striped is-scrollable is-fullwidth p-5 mt-5">
        <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Email</th>
            <th>Alias</th>
            <th>Activo</th>
            <th>Roles</th>
            <th>Admin</th>
            <th>Ingreso</th>
            <th>Actualizado</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>
              {{ 
                render_actions_menu(
                value=user.id,
                to_left=true,
                endpoints={
                  'show':'', 
                  'edit': 'users_bp.edit_user', 
                  'delete':''
                })
              }}
            </td>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.alias }}</td>
            <td>{{ render_natural_boolean(user.enabled) }}</td>
            <td>{{ user.roles }}</td>
            <td>{{ render_natural_boolean(user.system_admin) }}</td>
            <td>{{ format_date(user.inserted_at) }}</td>
            <td>{{ format_date(user.updated_at) }}</td>
            <td>
              {{ 
                render_actions_menu(
                value=user.id,
                to_left=false,
                endpoints={
                  'show':'', 
                  'edit':'users_bp.edit_user', 
                  'delete':''
                })
              }}
            </td>       
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Email</th>
            <th>Alias</th>
            <th>Activo</th>
            <th>Roles</th>
            <th>Admin</th>
            <th>Ingreso</th>
            <th>Actualizado</th>
            <th></th>
          </tr>
        </tfoot>
      </table>
      <div class="container px-5">{{ render_pagination(users, 'users_bp.get_page') }}</div>

      {{ 
        render_delete_modal(
          endpoint="users_bp.delete_user", 
          title="Eliminar", 
          msg="¿Está seguro de que desea eliminar al usuario?", 
          msg_sub="Luego de confirmar, no se podrán revertir los cambios"
        ) 
      }}
    </div>
  </section>
{% endblock %}

