{% extends "base_list.html" %}

{% block title %}Usuarios - CEDICA{% endblock %}

{% block breadcrumb_items %}
  <li>
    <a href="">
      <span class="icon is-small">
        <i class="fas fa-users" aria-hidden="true"></i>
      </span>
      <span>Usuarios</span>
    </a>
  </li>
{% endblock %}

{% block inner_title %}  
  Usuarios
{% endblock %}


{% block create_button %}
  <a class="button is-primary level-item" href="{{ url_for('users_bp.create_user')}}">Crear usuario</a>
{% endblock %}

{% block search_and_filter %}
    {{ render_search_and_filter_bar(
     title="Buscar y Filtrar",
     search_fields=[
       {
         'type': 'text',
         'name': 'search_email',
         'label': 'Buscar por email',
         'placeholder': 'Email del usuario'
       },
       {
         'type': 'select',
         'name': 'search_active',
         'label': 'Buscar por estado',
         'options': [
           {'value': '', 'label': 'Todos'},
           {'value': 'true', 'label': 'Activo'},
           {'value': 'false', 'label': 'Inactivo'}
         ]
       },
       {
         'type': 'select',
         'name': 'search_role_id',
         'label': 'Buscar por rol',
         'options': [
           {'value': '', 'label': 'Todos'},
           {'value': '1', 'label': 'Técnica'},
           {'value': '2', 'label': 'Ecuestre'},
           {'value': '3', 'label': 'Voluntariado'},
           {'value': '4', 'label': 'Administración'}
         ]
       }
     ],
     sort_options=[
       {'value': 'inserted_at', 'label': 'Fecha de creación'},
       {'value': 'email', 'label': 'Email'}
     ],
     current_sort_by=request.args.get('sort_by', 'inserted_at'),
     current_order=request.args.get('order', 'asc')
   ) }}
{% endblock %}

{% block table_header %}
  <th></th>
  <th>ID</th>
  <th>Correo</th>
  <th>Alias</th>
  <th>Activo</th>
  <th>Rol</th>
  <th>Admin</th>
  <th>Ingreso</th>
  <th>Actualizado</th>
  <th></th>
{% endblock %}

{% block top_pagination %}
  {{ render_pagination(users, 'users_bp.get_users') }}
{% endblock %}

{% block table_body %}
  {% for user in users %}
  <tr class="">
    <td class="is-hidden-mobile">
      {{
        render_actions_menu(
        value=user.id,
        to_left=true,
        endpoints={
          'show':'users_bp.show_user',
          'edit': 'users_bp.edit_user',
          'delete':''
        })
      }}
    </td>
    <td><span class="is-hidden-tablet has-text-weight-bold">ID: </span>{{ user.id }}</td>
    <td><span class="is-hidden-tablet has-text-weight-bold">Email: </span>{{ user.email }}</td>
    <td><span class="is-hidden-tablet has-text-weight-bold">Alias: </span>{{ user.alias }}</td>
    <td><span class="is-hidden-tablet has-text-weight-bold">Habilitado: </span>{{ user.enabled | natural_boolean }}</td>
    <td><span class="is-hidden-tablet has-text-weight-bold">Rol: </span>{{ user.role_id | role }}</td>
    <td><span class="is-hidden-tablet has-text-weight-bold">Administrador del Sistema: </span>{{ user.system_admin | natural_boolean }}</td>
    <td><span class="is-hidden-tablet has-text-weight-bold">Creado: </span>{{ user.inserted_at | format_date }}</td>
    <td><span class="is-hidden-tablet has-text-weight-bold">Actualizado: </span>{{ user.updated_at | format_date }}</td>
    
    <td class="is-hidden-tablet is-flex">
      <a href="{{ url_for('users_bp.show_user', user_id=user.id)}}" class="button  is-flex-grow-1 ">
        <span class=" is-bold ">
            Ver usuario
            <i class="fa-regular fa-eye ml-2"></i>
        </span>
      </a>
    </td>
  </tr>
  {% endfor %}
{% endblock %}

{% block table_footer %}
  <th></th>
  <th>ID</th>
  <th>Email</th>
  <th>Alias</th>
  <th>Activo</th>
  <th>Rol</th>
  <th>Admin</th>
  <th>Ingreso</th>
  <th>Actualizado</th>
  <th></th>
{% endblock %}

{% block bottom_pagination %}
  {{ render_pagination(users, 'users_bp.get_users') }}
{% endblock %}

{% block delete_modal %}
  {{
    render_delete_modal(
      endpoint="users_bp.delete_user",
      title="Eliminar",
      msg="¿Está seguro de que desea eliminar al usuario?",
      msg_sub="Luego de confirmar, no se podrán revertir los cambios"
    )
  }}
{% endblock %}