{% extends "layout.html" %}

{% block title %}Editar Pago{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Editar Pago</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="field">
                <label class="label">Monto</label>
                <div class="control">
                    {{ form.amount(class="input") }}
                </div>
                {% if form.amount.errors %}
                <p class="help is-danger">{{ form.amount.errors[0] }}</p>
                {% endif %}
            </div>
            <div class="field">
                <label class="label">Fecha de Pago</label>
                <div class="control">
                    {{ form.date(class="input") }}
                </div>
                {% if form.date.errors %}
                <p class="help is-danger">{{ form.payment_date.errors[0] }}</p>
                {% endif %}
            </div>
            <div class="field">
                <label class="label">Tipo de Pago</label>
                <div class="control">
                    {{ form.payment_type(class="input") }}
                </div>
                {% if form.payment_type.errors %}
                <p class="help is-danger">{{ form.payment_type.errors[0] }}</p>
                {% endif %}
            </div>
            <div class="field">
                <label class="label">Descripción</label>
                <div class="control">
                    {{ form.description(class="input") }}
                </div>
                {% if form.description.errors %}
                <p class="help is-danger">{{ form.description.errors[0] }}</p>
                {% endif %}
            </div>
            <div class="field">
                <label class="label">Beneficiario</label>
                <div class="control">
                    {{ form.beneficiary_id(class="input") }}
                </div>
                {% if form.beneficiary_id.errors %}
                <p class="help is-danger">{{ form.beneficiary_id.errors[0] }}</p>
                {% endif %}
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">Guardar Cambios</button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}