{% extends "payment/base_payments_list.html" %}

{% block title %}Pagos Archivados - CEDICA{% endblock %}

{% block page_title %}Pagos Archivados{% endblock %}
{% block archive_title %}Archivo{% endblock %}
{% block all_tab_active %}{% endblock %}
{% block archive_tab_active %}is-active{% endblock %}

{% block delete_endpoint %}payment_bp.unarchive_payment{% endblock %}
{% block delete_modal_endpoint %}payment_bp.unarchive_payment{% endblock %}
{% block delete_modal_title %}Desarchivar{% endblock %}
{% block delete_modal_msg %}¿Está seguro de que desea desarchivar el pago?{% endblock %}
{% block delete_modal_msg_sub %}Luego de confirmar, el pago volverá a estar activo{% endblock %}