{% extends "payment/base_payments_list.html" %}

{% block title %}Pagos - CEDICA{% endblock %}

{% block page_title %}Pagos{% endblock %}
{% block archive_title %}Archivo{% endblock %}
{% block all_tab_active %}is-active{% endblock %}
{% block archive_tab_active %}{% endblock %}

{% block add_payment_button %}
<a class="button is-primary level-item" href="{{ url_for('payment_bp.create_payment')}}">
    Agregar pago
    <i class="fa-solid fa-money-bill-wave ml-2 is-size-5"></i>
</a>
{% endblock %}

{% block delete_endpoint %}payment_bp.archive_payment{% endblock %}
{% block delete_modal_endpoint %}payment_bp.delete_payment{% endblock %}
{% block delete_modal_title %}Eliminar{% endblock %}
{% block delete_modal_msg %}¿Está seguro de que desea eliminar el pago?{% endblock %}
{% block delete_modal_msg_sub %}Luego de confirmar, no se podrán revertir los cambios{% endblock %}