.bg-gradient {
    background-image: linear-gradient(
      45deg,
      hsl(190deg 33% 63%) 0%,
      hsl(191deg 31% 71%) 12%,
      hsl(191deg 28% 79%) 25%,
      hsl(191deg 23% 87%) 37%,
      hsl(0deg 0% 95%) 50%,
      hsl(30deg 62% 89%) 62%,
      hsl(31deg 77% 84%) 74%,
      hsl(32deg 82% 78%) 87%,
      hsl(33deg 82% 71%) 100%
    );
}

.glass-bg {
    background: #F6F6F6; 
    backdrop-filter: blur(30px);
    border-radius: 15px;
    border: 0px solid rgba(43, 43, 43, 0.568);
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2);
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}