{% extends 'update_relationship.html' %}
{% from "macros/boolean_tag.html" import render_boolean_tag %}

{% block title %} Cambiar estado {% endblock %}

{% block card_title %}Cambiando el estado de deuda de un jinete{% endblock %}

{% block actual_breadcrumb %}
    <li>
      <a href="{{ url_for('charges_bp.get_charges') }}">
        <span class="icon is-small">
          <i class="fas fa-file-invoice-dollar" aria-hidden="true"></i>
        </span>
        <span>Cobros</span>
      </a>
    </li>
    <li class=>
      <a href="{{ url_for('charges_bp.choose_debtor') }}">
        <span class="icon is-small">
          <i class="fas fa-user" aria-hidden="true"></i>
        </span>
        <span>Cambiar estado de deuda</span>
      </a>
    </li>
{% endblock %}

{% block search_label %}
	Buscar jinete por Nombre, Apellido o DNI
{% endblock %}

{% block pagination %}
    {{ render_pagination(jyas, 'charges_bp.choose_debtor') }}
{% endblock %}

{% block select_form %}
  <form method="POST" id="select-form" class="">
    {{ select_form.hidden_tag() }}
    {{ select_form.csrf_token }}
      {% if jyas.total %}
        {% for jya in jyas %}
          <a class="panel-block field mb-0" data-id="item-{{ jya.id }}">
            <div class="media">
              <div class="media-left">
                <i class="fas fa-user is-size-3" aria-hidden="true"></i>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>{{ jya.first_name }} {{ jya.last_name }}</strong> <small>{{ jya.inserted_at | format_date }}</small>
                    <br />
                    Dni: {{ jya.dni }}
                      <br />
                      Al día con los pagos: {{ render_boolean_tag(jya.has_debts, tag_size="medium") }}
                  </p>
                </div>
              </div>
            </div>
          </a>
        {% endfor %}
        {% else %}
            <div class="media-content is-flex is-justify-content-center is-align-items-center">
              <p class="has-text-centered">
                No hay jinetes y amazonas
              </p>
            </div>
        {% endif %}
    <div class="panel-block">
      <div class="columns is-mobile is-gapless" style="width: 100%;">
        <div class="column">
          {{ select_form.submit_jya(class="button is-primary is-fullwidth", id="submit-jya", type="submit") }}
        </div>
        <div class="column is-1"></div>  <!-- This creates a gap between buttons -->
        <div class="column">
          <a href="{{ url_for('charges_bp.get_charges') }}" class="button is-danger is-fullwidth">Cancelar</a>
        </div>
      </div>
    </div>
  </form>
{% endblock %}