{% extends "layout.html" %}

{% from "macros/pagination.html" import render_pagination %}
{% from "macros/flash_message.html" import render_flash_messages %}

{% block title %} Cobros - CEDICA {% endblock %}

{% block card_title %}Asociando un jinete {% endblock %}

{% block main_content %}
{{ render_flash_messages(messages) }}

<section id="change-employee" class="panel">
  <div class="container p-4">
    <h1 class="title is-size-4">
      Asociando un jinete
    </h1>
  </div>
  <form id="search-employee" method="GET" class="panel-block is-gap-2">
  {{ search_form.hidden_tag() }}
    {{ search_form.csrf_token }}
    <div class="field is-flex-grow-1">
      <label for="filtrar" class="label">Buscar jinete</label>
      <p class="control has-icons-left">
        {{ search_form.search_text(class="input", placeholder="Buscar por nombre o email") }}
        <span class="icon is-left">
          <i class="fas fa-search" aria-hidden="true"></i>
        </span>
      </p>
      {% if search_form.search_text.errors %}
      <p class="help is-danger">{{ search_form.search_text.errors[0] }}</p>
      {% endif %}
    </div>
    <div class="field">
      <label for="submit-search" class="is-invisible"> {{ search_form.submit_search.label }}</label>
      <div class="control">
          {{ search_form.submit_search(class="button is-flex-grow-1 is-link")}}
      </div>
    </div>
  </form>
  <div class="container p-5">
    {{ render_pagination(jyas, 'charges_bp.link_jya') }}
  </div>
  <form method="POST" id="select-form" class="">
    {{ select_form.hidden_tag() }}
    {{ select_form.csrf_token }}
      {% if jyas.total %}
        {% for jya in jyas %}
          <a class="panel-block field mb-0" data-id="employee-{{ jya.id }}">
            <div class="media">
              <div class="media-left">
                <i class="fas fa-user is-size-3" aria-hidden="true"></i>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>{{ jya.name }}</strong> <small>{{ jya.inserted_at | format_date }}</small>
                    <br />
                    {{ jya.email }}
                  </p>
                </div>
              </div>
            </div>
          </a>
        {% endfor %}
        {% else %}
            <div class="media-content is-flex is-justify-content-center is-align-items-center">
              <p class="has-text-centered">
                No hay jinetes
              </p>
            </div>
        {% endif %}
    <div class="panel-block">
      <div class="columns is-mobile is-gapless" style="width: 100%;">
        <div class="column">
          {{ select_form.submit_employee(class="button is-primary is-fullwidth", id="submit-employee", type="submit") }}
        </div>
        <div class="column is-1"></div>  <!-- This creates a gap between buttons -->
{#        <div class="column">#}
{#          <a href="{{ url_for('charges_bp.create_jya') }}" class="button is-danger is-fullwidth">Cancelar</a>#}
{#        </div>#}
      </div>
    </div>
  </form>
</section>
{% endblock %}
{% block extra_scripts %}
    {{ super() }}
    <script>
      document.addEventListener('DOMContentLoaded', function() {
    const pagination = document.getElementById("pagination");
    const selectForm = document.getElementById("select-form");
    const employeeLinks = document.querySelectorAll('[data-id^="employee-"]');
    const selectedEmployee = document.getElementById('selected_employee');
    const submitButton = document.getElementById('submit-employee');
    const isActive = "has-background-warning";

    function selectEmployee(employeeId, clickedElement) {
        selectedEmployee.value = employeeId;

        if (pagination) {
            pagination.classList.add("is-invisible");
        }
        employeeLinks.forEach(link => {
            link.classList.remove(isActive);
        });
        clickedElement.classList.add(isActive);
        submitButton.disabled = false;
    }

    function deselectEmployee() {
        if (pagination) {
            pagination.classList.remove("is-invisible");
        }
        selectedEmployee.value = '';
        employeeLinks.forEach(link => {
            link.classList.remove(isActive);
        });
        submitButton.disabled = true;
    }

    employeeLinks.forEach(link => {
        link.addEventListener('click', function(event) {
            event.preventDefault();
            const employeeId = this.getAttribute('data-id').split('-')[1];

            if (this.classList.contains(isActive)) {
                deselectEmployee();
            } else {
                selectEmployee(employeeId, this);
            }
        });
    });

    submitButton.disabled = true;
});
    </script>
{% endblock %}