{% extends 'update_relationship.html' %}

{% block title %} Asoociar empleado {% endblock %}

{% block card_title %} Asociando un empleado al cobro {% endblock %}

{% block actual_breadcrumb %}
	<li>
      <a href="{{ url_for('charges_bp.get_charges') }}">
        <span class="icon is-small">
          <i class="fas fa-file-invoice-dollar" aria-hidden="true"></i>
        </span>
        <span>Cobros</span>
      </a>
    </li>
    <li>
      <a
        href="{{ url_for('charges_bp.create_charge') }}"
      >
        <span class="icon is-small">
          <i class="fas fa-receipt" aria-hidden="true"></i>
        </span>
        <span>Crear cobro</span>
      </a>
    </li>
    <li>
      <a href="{{ url_for('charges_bp.link_employee') }}">
        <span class="icon is-small">
          <i class="fas fa-user" aria-hidden="true"></i>
        </span>
        <span>Asociar empleado</span>
      </a>
    </li>
{% endblock %}

{% block pagination %}
	 {{ render_pagination(employees, 'charges_bp.link_employee') }}
{% endblock %}

{% block select_form %}
  <form method="POST" id="select-form" class="">
    {{ select_form.hidden_tag() }}
    {{ select_form.csrf_token }}
      {% if employees.total %}
            {% for employee in employees %}
                <a class="panel-block field mb-0" data-id="item-{{ employee.id }}">
                  <div class="media">
                    <div class="media-left">
                      <i class="fa-solid fa-circle-user is-size-3" aria-hidden="true"></i>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>{{ employee.name }} {{ employee.lastname }} </strong>
                          <span class="tag is-info ml-2">{{ employee.position.value }}</span>

                          <br />
                          <small>Email: </small>{{ employee.email }}
                          <br>
                          <small>DNI:</small> {{ employee.dni }}
                          <br>
                          <small>Miembro desde: </small>
                          <small>{{ employee.inserted_at | format_date}}</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
          {% else %}
            <p class="has-text-centered py-2">Oops. Parece que no hay miembros activos en el equipo que sean Conductores</p>
          {% endfor %}
        {% else %}
            <div class="media-content is-flex is-justify-content-center is-align-items-center">
              <p class="has-text-centered">
                No hay empleados
              </p>
            </div>
        {% endif %}
    <div class="panel-block">
      <div class="columns is-mobile is-gapless" style="width: 100%;">
        <div class="column">
          {{ select_form.submit_employee(class="button is-primary is-fullwidth", id="submit-employee", type="submit") }}
        </div>
        <div class="column is-1"></div>
      </div>
    </div>
  </form>

{% endblock %}