{% extends 'update_relationship.html' %}

{% block title %} Asoociar jinete {% endblock %}

{% block card_title %} Asociando un jinete al cobro {% endblock %}

{% block actual_breadcrumb %}
    <li>
      <a href="{{ url_for('charges_bp.get_charges') }}">
        <span class="icon is-small">
          <i class="fas fa-file-invoice-dollar" aria-hidden="true"></i>
        </span>
        <span>Cobros</span>
      </a>
    </li>
    <li>
      <a
        href="{{ url_for('charges_bp.show_charge', charge_id=charge.id) }}"
      >
        <span class="icon is-small">
          <i class="fas fa-receipt" aria-hidden="true"></i>
        </span>
        <span>Cobro #{{ charge.id }}</span>
      </a>
    </li>
    <li>
      <a href="{{ url_for('charges_bp.change_jya', charge_id=charge.id) }}">
        <span class="icon is-small">
          <i class="fas fa-user" aria-hidden="true"></i>
        </span>
        <span>Cambiar jinete</span>
      </a>
    </li>
{% endblock %}

{% block tab_bar %}
    <div class="container">
        <h4 class="title is-fullwidth has-text-centered">Actualizando cobro #{{ charge.id }}</h4>
        <div class="tabs is-toggle is-fullwidth is-toggle-rounded is-centered is-medium">
            <ul>
                <li >
                    <a href="{{ url_for('charges_bp.edit_charge', charge_id=charge.id) }}">
                          <span class="icon is-small">
                              <i class="fa fa-info-circle" aria-hidden="true"></i>
                          </span>
                        <span>Información General</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for("charges_bp.change_employee",  charge_id=charge.id ) }}">
                          <span class="icon is-small">
                              <i class="far fa-user" aria-hidden="true"></i>
                          </span>
                        <span>Empleado asociado</span>
                    </a>
                </li>
                <li class="is-active">
                    <a href="{{ url_for("charges_bp.change_jya",  charge_id=charge.id ) }}">
                          <span class="icon is-small">
                              <i class="far fa-user" aria-hidden="true"></i>
                          </span>
                        <span>Jinete asociado</span>
                    </a>
                </li>
            </ul>
        </div>
{% endblock %}

{% block search_label %}
	Buscar jinete por Nombre, Apellido o DNI
{% endblock %}

{% block pagination %}
    {{ render_pagination(jyas, 'charges_bp.change_jya', {"charge_id":charge.id}) }}
{% endblock %}

{% block subtitle_text %}Mostrando jinetes activos{% endblock %}


{% block select_form %}
  <form method="POST" id="select-form" class="">
    {{ select_form.hidden_tag() }}
    {{ select_form.csrf_token }}
      {% if jyas.total %}
            {% for jya in jyas %}
                <a class="panel-block field mb-0" data-id="item-{{ jya.id }}">
                  <div class="media">
                    <div class="media-left">
                      <i class="fa-solid fa-circle-user is-size-3" aria-hidden="true"></i>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>{{ jya.first_name }} {{ jya.last_name }} </strong>
                          <br />
                          <small>DNI:</small> {{ jya.dni }}
                          <br>
                          <small>Miembro desde: </small>
                          <small>{{ jya.inserted_at | format_date}}</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </a>
          {% else %}
            <p class="has-text-centered py-2">Oops. Parece que no hay jinetes activos </p>
          {% endfor %}
        {% else %}
            <div class="media-content is-flex is-justify-content-center is-align-items-center">
              <p class="has-text-centered">
                Oops. Parece que no hay jinetes activos
              </p>
            </div>
        {% endif %}
    <div class="panel-block">
      <div class="columns is-mobile is-gapless" style="width: 100%;">
        <div class="column">
          {{ select_form.submit_jya(class="button is-primary is-fullwidth", id="submit-employee", type="submit") }}
        </div>
        <div class="column is-1"></div>
      </div>
    </div>
  </form>

{% endblock %}
