{% extends "layout.html" %}

{% block title %}CEDICA - Usuarios{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<section class="hero bg-gradient is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container is-widescreen has-text-centered glass-bg p-5">
            <p class="title has-text-primary-light is-size-1 has-text-text-20">Modulo de usuarios</p>
            <p class="hero-subtitle has-text-primary-light is-size-5 has-text-text-20">Estamos trabajando para usted</p>
        </div>
    </div>
</section>
{% endblock %}