{% extends "base_document_edit.html" %}

{% block breadcrumb_items %}
    <li>
      <a href="{{ url_for('employee_bp.get_employees') }}">
        <span class="icon is-small">
          <i class="fas fa-users" aria-hidden="true"></i>
        </span>
        <span>Equipo</span>
      </a>
    </li>
    <li>
      <a href="{{ url_for('employee_bp.show_employee', employee_id=employee.id) }}">
        <span class="icon is-small">
          <i class="fas fa-user" aria-hidden="true"></i>
        </span>
        <span>{{ employee.name }} {{ employee.lastname }}</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="icon is-small">
          <i class="fa-solid fa-pen-nib"></i>
        </span>
        <span>Actualizar documentos</span>
      </a>
    </li>
    <li>
      <a href="{{ url_for('employee_bp.edit_document', employee_id=employee.id, document_id=document.id) }}">
        <span class="icon is-small">
          <i class="fa-solid fa-pen-nib"></i>
        </span>
        <span>Documento: {{ document.title }}</span>
      </a>
    </li>
{% endblock %}