{% extends "base_show.html" %}

{% from "macros/file_icon.html" import render_file_icon %}
{% from "employee/macros/parse_categories.html" import render_category %}

{% block title %}Miembro {{ employee.name + " " + employee.lastname }} - CEDICA{% endblock %}

{% block breadcrumb_items %}
    <li>
        <a href="{{ url_for('employee_bp.get_employees' )}}">
            <span class="icon is-small">
                <i class="fas fa-users" aria-hidden="true"></i>
            </span>
            <span>Equipo</span>
        </a>
    </li>
    <li>
        <a href="">
            <span class="icon is-small">
                <i class="fa-solid fa-user" aria-hidden="true"></i>
            </span>
            <span>{{ employee.name + " " + employee.lastname }}</span>
        </a>
    </li>
{% endblock %}

{% block card_title %}
Miembro: {{ employee.name + " " + employee.lastname }}
{% if employee.employment_information.is_active %}
    <p class="tag is-success is-medium ml-2">Activo</p>
{% else %}
    <p class="tag is-danger is-medium ml-2">Bloqueado</p>
{% endif %}
{% endblock %}

{% block card_content %}

<div class="grid is-col-min-16">
    <div id="basic-info" class="cell">
        <h3>Informacion general</h3>
        <ul>
            <li><strong>ID: </strong> {{ employee.id }}</li>
            <li><strong>Nombre: </strong>{{ employee.name }}</li>
            <li><strong>Apellido: </strong> {{ employee.lastname }}</li>
            <li><strong>Email: </strong>{{ employee.email }}</li>
            <li><strong>Telefono: </strong>+{{ employee.phone.country_code }} {{employee.phone.area_code}} {{employee.phone.number}}</li>
            <li><strong>DNI: </strong>{{ employee.dni }}</li>
            <li><strong>Dado de alta: </strong>{{ employee.inserted_at | format_date }}</li>
            <li><strong>Ultima modificacion: </strong>{{ employee.updated_at | format_date }}</li>

        </ul>

    </div>
    <div id="job-info" class="cell">
        <h3>Datos laborales</h3>
        <ul>
            <li><strong>Profesion: </strong> {{ employee.employment_information.profession }}</li>
            <li><strong>Cargo: </strong>{{ employee.employment_information.position }}</li>
            <li><strong>Condicion laboral: </strong>{{ employee.employment_information.job_condition }}</li>
            <li><strong>Comienzo de actividades: </strong> {{ employee.employment_information.start_date }}</li>
            {% if employee.employment_information.end_date %}
                <li><strong>Finalizacion de actividades: </strong>{{ employee.employment_information.end_date }}</li>
            {% endif %}
            <li><strong>Esta activo: </strong> {{ employee.employment_information.is_active | natural_boolean }}</li>
                <li><strong>Obra Social: </strong>{{ employee.health_insurance }}</li>
            <li><strong>Numero de afiliado: #</strong>{{ employee.affiliate_number }}</li>
        </ul>
    </div>
</div>
<div id="emergency-contact-info has-bab" class="cell box">
    <h3>Contacto de emergencia</h3>
    <ul id="emergency-contact">
        <li><strong>Nombre completo: </strong>{{ employee.emergency_contact.emergency_contact_name }}</li>
        <li><strong>Telefono: </strong>{{ employee.emergency_contact.emergency_contact_phone }}</li>
    </ul>
</div>
{% endblock %}

{% block card_actions %}
    <button href="" class="card-footer-item has-text-danger modal-trigger" data-id="{{ employee.id }}" data-target="employee-delete-modal">
        Eliminar
    </button>
    <a href="{{ url_for("employee_bp.toggle_activation", employee_id=employee.id )}}" class="card-footer-item">
        {% if employee.employment_information.is_active %}Deshabilitar{% else %}Habilitar{% endif %}
    </a>
    <a href="{{ url_for( "employee_bp.edit_employee", employee_id=employee.id )}}" class="card-footer-item has-text-warning">Actualizar</a>
{% endblock %}

{% block additional_cards %}
    <div id="account" class="card">
        <header class="card-header">
            <h2 class="card-header-title is-size-4">
                Usuario asociado a {{ employee.name }}
                {% if not account %}
                <span class="tag is-info is-medium ml-2">Sin informacion</span>
                {% else %}
                {% if account.enabled %}
                <span class="tag is-success is-medium ml-2">Activo</span>
                {% else %}
                <span class="tag is-danger is-medium ml-2">Bloqueado</span>
                {% endif %}
                {% endif %}
            </h2>
        </header>
        {% if account %}
        <div class="card-content">
            <div class="content">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="https://bulma.io/assets/images/placeholders/128x128.png" alt="Image" />
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong class="is-size-5">{{ account.alias }}</strong> 
                                <small>{{ account.inserted_at | format_date }}</small>
                                <br />
                                {{ account.email }}
                                <br />
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <footer class="card-footer">
            <a href="{{ url_for( "employee_bp.unlink_account", employee_id=employee.id ) }}" class="card-footer-item has-text-link">Desasociar</a>
        </footer>
        {% else %}
        <div class="card-content">
            <div class="content">
                <p>No existe un usuario asociado a este integrante</p>
            </div>
        </div>
        <footer class="card-footer">
            <a href="{{ url_for( "employee_bp.link_account", employee_id=employee.id ) }}" class="card-footer-item has-text-link">Asociar cuenta</a>
        </footer>
        {% endif %}
    </div>
    <div id="documents" class="panel">
        <div class="panel-heading has-background-black-bis">
            <h2 class="card-header-title is-size-4">Documentos asociados</h2>
        </div>
        {% if employee.files %}

        {% for document in employee.files %}
        <div class="panel-block is-active">
            <span class="panel-icon">
            {{ render_file_icon(document.filetype, 5) }}
            </span>
            <span class="tag is-white">{{ render_category(document.tag) }}</span>
            <p class="ml-2"> {{ document.original_filename}} </p>
        </div>
        {% endfor %}
        {% else %}
        <div class="panel-block">
            <p>No se se ha subido ningun documento</p>
        </div>
        {% endif %}
        <div class="panel-block">
            <a href="{{ url_for("employee_bp.edit_documents", employee_id=employee.id ) }}" class="card-footer-item has-text-warning">
                Actualizar
            </a>
        </div>
    </div>
{% endblock %}

{% block modal %}
  {{
    render_delete_modal(
      field="employee",
      endpoint="employee_bp.delete_employee",
      title="Eliminar",
      msg="¿Está seguro de que desea eliminar este empleado?",
      msg_sub="Luego de confirmar, no se podrán revertir los cambios"
    )
  }}
{% endblock %}


