{% extends "base_show.html" %}

{% from "macros/file_icon.html" import render_file_icon %}
{% from "employee/macros/parse_categories.html" import render_category %}

{% block title %}Miembro {{ employee.name + " " + employee.lastname }} - CEDICA{% endblock %}

{% block breadcrumb_items %}
    <li>
        <a href="{{ url_for('employee_bp.get_employees' )}}">
            <span class="icon is-small">
                <i class="fas fa-users" aria-hidden="true"></i>
            </span>
            <span>Equipo</span>
        </a>
    </li>
    <li>
        <a href="">
            <span class="icon is-small">
                <i class="fa-solid fa-user-tie"></i>
            </span>
            <span>{{ employee.name + " " + employee.lastname }}</span>
        </a>
    </li>
{% endblock %}

{% block card_title %}
Miembro: {{ employee.name + " " + employee.lastname }}
{% if employee.employment_information.is_active %}
    <p class="tag is-success is-medium ml-2">Activo</p>
{% else %}
    <p class="tag is-danger is-medium ml-2">Bloqueado</p>
{% endif %}
{% endblock %}

{% block banner %}
    {% if employee.is_deleted %}
        <div class="is-flex is-fullwidth is-justify-content-center has-background-danger p-4">
            <h2 class="title">Miembro eliminado</h2>
        </div>
    {% endif %}
{% endblock %}

{% block card_content %}
{% if employee %}
<div class="grid is-col-min-16">
    <div id="basic-info" class="cell">
        <h3>
            <span class="icon mr-2">
                <i class="fa-solid fa-circle-info"></i>            
            </span>
            Informacion general
        </h3>
        <ul>
            <li><strong>Nombre: </strong>{{ employee.name }}</li>
            <li><strong>Apellido: </strong> {{ employee.lastname }}</li>
            <li><strong>Email: </strong>{{ employee.email }}</li>
            <li><strong>Telefono: </strong>+{{ employee.phone.country_code }} {{employee.phone.area_code}} {{employee.phone.number}}</li>
            <li><strong>DNI: </strong>{{ employee.dni }}</li>
            <li><strong>Dado de alta: </strong>{{ employee.inserted_at | format_date }}</li>
            <li><strong>Ultima modificacion: </strong>{{ employee.updated_at | format_date }}</li>
        </ul>
    </div>
    <div id="job-info" class="cell">
        <h3>
            <span class="icon mr-2">
                <i class="fa-solid fa-user-tie"></i>
            </span>
            Datos laborales
        </h3>
        <ul>
            <li><strong>Profesion: </strong> 
                {{ employee.employment_information.profession }}
            </li>
            <li><strong>Cargo: </strong>
                <span class="tag is-info">{{ employee.employment_information.position }}</span>
            </li>
            <li><strong>Condicion laboral: </strong>
                <span class="tag is-info">{{ employee.employment_information.job_condition }}</span>
            </li>
            <li><strong>Comienzo de actividades: </strong> {{ employee.employment_information.start_date }}</li>
            {% if employee.employment_information.end_date %}
                <li><strong>Finalizacion de actividades: </strong>{{ employee.employment_information.end_date }}</li>
            {% endif %}
            <li><strong>Esta activo: </strong> {{ employee.employment_information.is_active | natural_boolean }}</li>
                <li><strong>Obra Social: </strong>{{ employee.health_insurance }}</li>
            <li><strong>Numero de afiliado: #</strong>{{ employee.affiliate_number }}</li>
        </ul>
    </div>
</div>
<div id="emergency-contact-info has-bab" class="cell box">
    <h3>
        <span class="icon mr-2">
            <i class="fa-solid fa-kit-medical"></i>
        </span>
        Contacto de emergencia
    </h3>
    <ul id="emergency-contact">
        <li><strong>Nombre completo: </strong>{{ employee.emergency_contact.emergency_contact_name }}</li>
        <li><strong>Telefono: </strong>{{ employee.emergency_contact.emergency_contact_phone }}</li>
    </ul>
</div>
{% else %}
<p>No se encontró información del empleado.</p>
{% endif %}
{% endblock %}

{% block card_actions %}
    {% if employee.is_deleted %}
        {% if "equipo_destroy" in permissions or is_admin %}
            <button class="card-footer-item has-text-danger modal-trigger" data-id="{{ employee.id }}" data-target="employee-delete-modal">
                Eliminar para siempre
            </button>
            <form class="card-footer-item" action="{{ url_for('employee_bp.recover_employee') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="employee_id" value="{{ employee.id }}">
                <button type="submit" class="has-text-primary">Recuperar</button>
            </form>
        {% endif %}
    {% else %}
        {% if "equipo_destroy" in permissions or is_admin %}
            <button class="card-footer-item has-text-danger modal-trigger" data-id="{{ employee.id }}" data-target="employee-delete-modal">
                Archivar
            </button>
        {% endif %}
        {% if "equipo_update" in permissions or is_admin %}
            <a href="{{ url_for( "employee_bp.edit_employee", employee_id=employee.id )}}" class="card-footer-item has-text-warning">Actualizar</a>
            <a href="{{ url_for("employee_bp.toggle_activation", employee_id=employee.id )}}" class="card-footer-item">
                {% if employee.employment_information.is_active %}Deshabilitar{% else %}Habilitar{% endif %}
            </a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block additional_cards %}
    <div id="account" class="card">
        <header class="card-header">
            <h2 class="card-header-title is-size-4">
                <span class="icon mr-2">
                    <i class="fa-solid fa-user"></i>                
                </span>
                Usuario asociado a {{ employee.name }}
                {% if not account %}
                <span class="tag is-info is-medium ml-2">Sin informacion</span>
                {% else %}
                    {% if account.enabled %}
                        <span class="tag is-success is-medium ml-2">Activo</span>
                    {% else %}
                        <span class="tag is-danger is-medium ml-2">Bloqueado</span>
                    {% endif %}
                    {% if account.is_deleted %}
                        <span class="tag is-danger is-medium ml-2">Archivado</span>
                    {% endif %}
                {% endif %}
            </h2>
        </header>
        {% if account %}
        <div class="card-content">
            <div class="content">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="https://bulma.io/assets/images/placeholders/128x128.png" alt="Image" />
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong class="is-size-5">{{ account.alias }}</strong> 
                                <small>{{ account.inserted_at | format_date }}</small>
                                <br />
                                {{ account.email }}
                                <br />
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <footer class="card-footer">
            <a href="{{ url_for( "employee_bp.unlink_account", employee_id=employee.id ) }}" class="card-footer-item has-text-link">Desasociar</a>
        </footer>
        {% else %}
        <div class="card-content">
            <div class="content">
                <p>No existe un usuario asociado a este integrante</p>
            </div>
        </div>
        <footer class="card-footer">
            {% if employee.employment_information.is_active %}
            <a href="{{ url_for( "employee_bp.link_account", employee_id=employee.id ) }}" class="card-footer-item has-text-link">Asociar cuenta</a>
            {% else %}
            <button type="disabled" class="card-footer-item has-text-info">No se puede asociar una cuenta a un miembro inactivo o eliminado</button>
            {% endif %}
        </footer>
        {% endif %}
    </div>
    <div id="documents" class="card">
        <header class="card-header">
            <p class="card-header-title is-size-4">
                <span class="icon mr-2">
                    <i class="fa-solid fa-file"></i>
                </span>
                Documentos anexos:
                {% if employee.files_number > 0%}
                    <span class="tag is-medium is-success ml-2">{{ employee.files_number }}</span>
                {% else %}
                    <span class="tag is-medium is-info ml-2">No hay</span>
                {% endif %}
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                {% if employee.files %}
                    {% for file in employee.files %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                {{ render_file_icon(file.filetype, size=1) }}
                            </div>
                            <div class="media-content ml-2">
                            <div class="content">
                                <p>
                                <strong>{{ render_category(file.tag) }}</strong>
                                <small>{{ file.uploaded_at | format_date }}</small>
                                <br />
                                {{ file.title }}
                                </p>
                            </div>
                            </div>
                        </article>
                    </div>
                    <footer class="card-footer">
                        {% if equipo_show in permissions or is_admin %}
                        <a href="{{ url_for("employee_bp.edit_documents", employee_id=employee.id )}}" class="card-footer-item has-text-warning">Ver todos</a>
                        {% endif %}
                    </footer>
                    {% endfor %}
                {% else %}
                    <p>No se se ha subido ningun documento</p>
                    {% if "equipo_update" in permissions or is_admin %}
                    <footer class="card-footer">
                        {% if not employee.is_deleted %}
                            {% if equipo_new in permissions or is_admin %}
                            <a href="{{ url_for("employee_bp.create_document", employee_id=employee.id )}}" class="card-footer-item">Agregar</a>
                            {% endif %}
                        {% else %}
                            {% if equipo_show in permissions %}
                            <a href="{{ url_for("employee_bp.edit_documents", employee_id=employee.id )}}" class="card-footer-item">Ver</a>
                            {% endif %}
                        {% endif %}
                    </footer>
                    {% endif%}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block modal %}
    {% if employee.is_deleted %}
        {{
            render_delete_modal(
            url_for("employee_bp.delete_employee", employee_id=employee.id),
            field="employee",
            title="Eliminar",
            msg="¿Está seguro de que desea eliminar este empleado?",
            msg_sub="Luego de confirmar, no se podrán revertir los cambios.",
            related_entities_text="Todos los archivos asociados a este miembro del equipo serán eliminados
            y todas las propuestas de trabajo con este empleado lo perderán."
        )}}
    {% else %}
        {{
            render_delete_modal(
            url_for("employee_bp.archive_employee", employee_id=employee.id),
            field="employee",
            title="Archivar",
            msg="¿Está seguro de que desea archivar al empleado?",
            delete_text="Archivar"
        )}}
    {% endif %}

{% endblock %}
