{% extends "layout.html" %} 
{% block title %} Equipo - Agregar miembro {% endblock %} 

{% block main_content %}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li>
      <a href="{{ url_for('index_bp.home')}}">
        <span class="icon is-small">
          <i class="fas fa-home" aria-hidden="true"></i>
        </span>
        <span>Inicio</span>
      </a>
    </li>
    <li>
      <a href="{{ url_for('employee_bp.get_employees') }}">
        <span class="icon is-small">
          <i class="fas fa-users" aria-hidden="true"></i>
        </span>
        <span>Miembros</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="icon is-small">
          <i class="fa-solid fa-pen-nib"></i>
        </span>
        <span>Actualizar miembro</span>
      </a>
    </li>
  </ul>
</nav>

<div class="container">
  <h4 class="title is-fullwidth has-text-centered">Actualizando a {{ employee.first_name + " " + employee.last_name }}</h4>
  <div class="tabs is-toggle is-fullwidth is-toggle-rounded is-centered is-medium">
    <ul>
      <li class="is-active">
        <a>
          <span class="icon is-small">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
          </span>
          <span>Informacion General</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon is-small">
              <i class="far fa-file-alt" aria-hidden="true"></i>
          </span>
          <span>Documentacion Anexa</span>
        </a>
      </li>
    </ul>
  </div>

<section class="section pt-4">
    <form method="POST">
      {{ form.hidden_tag() }}
      <div id="general-information" class="field">
        <label class="label is-size-4">Información General</label>
        <div class="field-body">
            <div class="field">
                <label class="label">{{ form.basic_information.first_name.label }}</label>
                <div class="control">
                    {{ form.basic_information.first_name(class="input", placeholder="Ingrese el nombre") }}
                </div>
                {% if form.basic_information.first_name.errors %}
                    <p class="help is-danger">{{ form.basic_information.first_name.errors[0] }}</p>
                {% endif %}
            </div>
            <div class="field">
                <label class="label">{{ form.basic_information.last_name.label }}</label>
                <div class="control">
                    {{ form.basic_information.last_name(class="input", placeholder="Ingrese el apellido") }}
                </div>
                {% if form.basic_information.last_name.errors %}
                    <p class="help is-danger">{{ form.basic_information.last_name.errors[0] }}</p>
                {% endif %}
            </div>
        </div>

        <div class="field-body pt-2">
          <div class="field">
              <label class="label">{{ form.basic_information.dni.label }}</label>
              <div class="control">
                  {{ form.basic_information.dni(class="input", placeholder="Ingrese el DNI") }}
              </div>
              {% if form.basic_information.dni.errors %}
                  <p class="help is-danger">{{ form.basic_information.dni.errors[0] }}</p>
              {% endif %}
          </div>
          <div class="field">
            <label class="label">{{ form.email.label }}</label>
            <div class="control">
              {{ form.email(class="input", type="email", placeholder="Ingrese el correo") }}
            </div>
            {% if form.email.errors %}
              <p class="help is-danger">{{ form.email.errors[0] }}</p>
            {% endif %}
          </div>
        </div>

        <div class="field-body pt-2">
          <div class="field">
            <label class="label">{{ form.basic_information.phone.country_code.label }}</label>
            <div class="control">
                {{ form.basic_information.phone.country_code(class="input", placeholder="Código de país") }}
            </div>
            {% if form.basic_information.phone.country_code.errors %}
                <p class="help is-danger">{{ form.basic_information.phone.country_code.errors[0] }}</p>
            {% endif %}
          </div>
          <div class="field">
              <label class="label">{{ form.basic_information.phone.area_code.label }}</label>
              <div class="control">
                  {{ form.basic_information.phone.area_code(class="input", placeholder="Código de área") }}
              </div>
              {% if form.basic_information.phone.area_code.errors %}
                  <p class="help is-danger">{{ form.basic_information.phone.area_code.errors[0] }}</p>
              {% endif %}
          </div>
          <div class="field">
              <label class="label">{{ form.basic_information.phone.number.label }}</label>
              <div class="control">
                  {{ form.basic_information.phone.number(class="input", placeholder="Número") }}
              </div>
              {% if form.basic_information.phone.number.errors %}
                  <p class="help is-danger">{{ form.basic_information.phone.number.errors[0] }}</p>
              {% endif %}
          </div>
        </div>
      </div>
      <div id="address-info" class="field pt-3">
        <label class="label is-size-4">Dirección</label>
        <div class="field">
          <div class="field-body">
            <div class="field">
              <label class="label">{{ form.address.province.label }}</label>
              <div class="control">
                {{ form.address.province(class="input", placeholder="Ingrese la provincia") }}
              </div>
              {% if form.address.province.errors %}
                <p class="help is-danger">{{ form.address.province.errors[0] }}</p>
              {% endif %}
            </div>
            <div class="field">
              <label class="label">{{ form.address.locality.label }}</label>
              <div class="control">
                {{ form.address.locality(class="input", placeholder="Ingrese la localidad") }}
              </div>
              {% if form.address.locality.errors %}
                <p class="help is-danger">{{ form.address.locality.errors[0] }}</p>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="field-body">
          <div class="field">
            <label class="label">{{ form.address.department.label }}</label>
            <div class="control">
              {{ form.address.department(class="input", placeholder="Ingrese el departamento") }}
            </div>
            {% if form.address.department.errors %}
              <p class="help is-danger">{{ form.address.department.errors[0] }}</p>
            {% endif %}
          </div>
          <div class="field">
            <label class="label">{{ form.address.street.label }}</label>
            <div class="control">
              {{ form.address.street(class="input", placeholder="Ingrese la calle") }}
            </div>
            {% if form.address.street.errors %}
              <p class="help is-danger">{{ form.address.street.errors[0] }}</p>
            {% endif %}
          </div>
          <div class="field">
            <label class="label">{{ form.address.number.label }}</label>
            <div class="control">
              {{ form.address.number(class="input", placeholder="Ingrese el número") }}
            </div>
            {% if form.address.number.errors %}
              <p class="help is-danger">{{ form.address.number.errors[0] }}</p>
            {% endif %}
          </div>
        </div>
      </div>
  
      <div id="job-info" class="field pt-3">
        <label class="label is-size-4">Datos laborales</label>
        <div class="field">
          <div class="control">
            <label class="checkbox">
                {{ form.employment_information.is_active.label(class="has-text-weight-bold is-size-5") }} 
                {{ form.employment_information.is_active(class="ml-1", type="checkbox") }}
            </label>
          </div>
          {% if form.employment_information.is_active.errors %}
              <p class="help is-danger">{{ form.employment_information.is_active.errors[0] }}</p>
          {% endif %}
        </div>
        
        <div class="field-body">
          <div class="field">
            <label class="label">{{ form.employment_information.profession.label }}</label>
            <div class="control">
              <div class="select">
                {{ form.employment_information.profession() }}
              </div>
            </div>
            {% if form.employment_information.errors %}
              <p class="help is-danger">{{ form.employment_information.errors[0] }}</p>
            {% endif %}
          </div>
          <div class="field">
            <label class="label">{{ form.employment_information.label }}</label>
            <div class="control">
              <div class="select">
                {{ form.employment_information.position() }}
              </div>
            </div>
            {% if form.employment_information.position.errors %}
              <p class="help is-danger">{{ form.employment_information.position.errors[0] }}</p>
            {% endif %}
          </div>
          <div class="field">
            <label class="label">{{ form.employment_information.job_condition.label }}</label>
            <div class="control">
              <div class="select">
                {{ form.employment_information.job_condition() }}
              </div>
            </div>
            {% if form.employment_information.job_condition.errors %}
              <p class="help is-danger">{{ form.employment_information.job_condition.errors[0] }}</p>
            {% endif %}
          </div>
        </div>

        <div class="field-body pt-2">
          <div class="field">
            <label class="label">{{ form.employment_information.start_date.label }}</label>
            <div class="control">
              {{ form.employment_information.start_date(class="input", type="date") }}
            </div>
            {% if form.employment_information.start_date.errors %}
              <p class="help is-danger">{{ form.employment_information.start_date.errors[0] }}</p>
            {% endif %}
          </div>
          <div class="field">
            <label class="label">{{ form.employment_information.end_date.label }}</label>
            <div class="control">
              {{ form.employment_information.end_date(class="input", type="date") }}
            </div>
            {% if form.employment_information.end_date.errors %}
              <p class="help is-danger">{{ form.employment_information.end_date.errors[0] }}</p>
            {% endif %}
          </div>
        </div>
      </div>

      <div id="health-info" class="field pt-3">
      <label class="label is-size-4">Cobertura medica</label>
      <div class="field-body">
        <div class="field">
          <label class="label">{{ form.emergency_contact.emergency_contact_name.label }}</label>
          <div class="control">
            {{ form.emergency_contact.emergency_contact_name(class="input", placeholder="Ingrese el nombre del contacto de emergencia")}}
          </div>
          {% if form.address.number.errors %}
          <p class="help is-danger">{{ form.emergency_contact.emergency_contact_name.errors[0] }}</p>
          {% endif %}
        </div> 
        <div class="field">
          <label class="label">{{ form.emergency_contact.emergency_contact_phone.label }}</label>
          <div class="control">
              {{ form.emergency_contact.emergency_contact_phone(class="input", placeholder="Ingrese el nombre del contacto de emergencia")}}
          </div>
          {% if form.address.number.errors %}
          <p class="help is-danger">{{ form.emergency_contact.emergency_contact_phone.errors[0] }}</p>
          {% endif %}
        </div> 
      </div>
      <div class="field pt-3">
        <label class="label">{{ form.health_insurance.label }}</label>
        <div class="control">
          {{ form.health_insurance(class="textarea") }}
        </div>
        {% if form.health_insurance.errors %}
          <p class="help is-danger">{{ form.health_insurance.errors[0] }}</p>
        {% endif %}
      </div>
      <div class="field">
        <label class="label">{{ form.affiliate_number.label }}</label>
        <div class="control">
          {{ form.affiliate_number(class="input", placeholder="Ingrese el número de afiliado") }}
        </div>
        {% if form.affiliate_number.errors %}
          <p class="help is-danger">{{ form.affiliate_number.errors[0] }}</p>
        {% endif %}
      </div>
      </div>

      <div class="field mt-5">
        <div class="control">
            <button class="button is-primary is-medium is-fullwidth" type="submit">Actualizar miembro
              <span class="icon ml-1"><i class="fa-solid fa-pen-nib"></i></span>
            </button>
        </div>
      </div>
    </form>
  </div>
</section>




{% endblock %}
