{% extends "layout.html" %}

{% from "macros/file_icon.html" import render_file_icon %}
{% from "employee/macros/parse_categories.html" import render_category %}

{% block title %} Equipo - Agregar miembro {% endblock %} 

{% block main_content %}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li>
      <a href="{{ url_for('index_bp.home')}}">
        <span class="icon is-small">
          <i class="fas fa-home" aria-hidden="true"></i>
        </span>
        <span>Inicio</span>
      </a>
    </li>
    <li>
      <a href="{{ url_for('employee_bp.get_employees') }}">
        <span class="icon is-small">
          <i class="fas fa-users" aria-hidden="true"></i>
        </span>
        <span>Equipo</span>
      </a>
    </li>
    <li>
      <a href="{{ url_for('employee_bp.show_employee', employee_id=employee.id) }}">
        <span class="icon is-small">
          <i class="fas fa-user" aria-hidden="true"></i>
        </span>
        <span>{{ employee.name }} {{ employee.lastname }}</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="icon is-small">
          <i class="fa-solid fa-pen-nib"></i>
        </span>
        <span>Actualizar miembro</span>
      </a>
    </li>
  </ul>
</nav>

<div class="container">
  <h4 class="title is-fullwidth has-text-centered">Actualizando a {{ employee.name + " " + employee.lastname }}</h4>
  <div class="tabs is-toggle is-fullwidth is-toggle-rounded is-centered is-medium">
    <ul>
      <li class="">
        <a href="{{ url_for("employee_bp.edit_employee", employee_id=employee.id ) }}">
          <span class="icon is-small">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
          </span>
          <span>Informacion General</span>
        </a>
      </li>
      <li class="is-active">
        <a>
          <span class="icon is-small">
              <i class="far fa-file-alt" aria-hidden="true"></i>
          </span>
          <span>Documentos Anexos</span>
        </a>
      </li>
    </ul>
  </div>

<section class="section pt-4">
  <div id="documents" class="card">
    <header class="panel-header">
      <div class="panel-block">
        <button class="button is-fullwidth is-primary">
          Agregar documento
          <span class="icon ml-1">
            <i class="fa-solid fa-file is-size-5"></i>
          </span>
        </button>
      </div>
      <div class="panel-block">
        <!-- <p class="control has-icons-left">
          <input class="input" type="text" placeholder="Search" />
          <span class="icon is-left">
            <i class="fas fa-search" aria-hidden="true"></i>
          </span>
        </p> -->
      </div>
    </header>
    <div class="card-content">
        <div class="content">
          {% if employee.files %}
          {% for document in documents %}
          <div class="card">
              <article class="card-content level is-flex is-flex-wrap-wrap is-justify-content-space-between">
                  <div class="media m-0">
                    <div class="media-left">
                        {{ render_file_icon(document.file.filetype, size=1) }}
                    </div>
                    <div class="media-content ml-2">
                      <p>
                        <strong class="tag is-white">{{ render_category(document.file.tag) }}</strong>
                        <small class="ml-1">{{ document.file.uploaded_at | format_date }}</small>
                        <br />
                        {{ document.file.original_filename }}
                        </p>
                    </div>
                  </div>
                  <div class="field has-addons">
                    <div class="control">
                      <button class="button is-danger hover">
                        <span class="icon mr-1">
                          <i class="fa-solid fa-trash"></i>
                        </span>
                        Eliminar
                      </button>
                    </div>
                    <div class="control">
                      <a href="{{ document.url }}" target="_blank" class="button is-link">
                        <span class="icon mr-1">
                          <i class="fa-solid fa-download"></i>
                        </span>
                        Descargar
                      </a>
                    </div>
                  </div>
              </article>
          </div>
          {% endfor %}
          {% else %}
          <p>No se se ha subido ningun documento</p>
          {% endif %}
        </div>
    </div>
</section>
{% endblock %}
