{% extends "base_document_list.html" %}

{% set entity_has_documents = employee.files %}

{% block title %} Empleados - Actualizar documentos {% endblock %}


{% block breadcrumb_items %}
    <li>
      <a href="{{ url_for('employee_bp.get_employees') }}">
        <span class="icon is-small">
          <i class="fas fa-users" aria-hidden="true"></i>
        </span>
        <span>Equipo</span>
      </a>
    </li>
    <li>
      <a href="{{ url_for('employee_bp.show_employee', employee_id=employee.id) }}">
        <span class="icon is-small">
          <i class="fas fa-user" aria-hidden="true"></i>
        </span>
        <span>{{ employee.name }} {{ employee.lastname }}</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="icon is-small">
          <i class="fa-solid fa-pen-nib"></i>
        </span>
        <span>Actualizar miembro</span>
      </a>
    </li>
{% endblock %}

{% block doc_header_title %} Actualizando documentos de {{ employee.name }} {% endblock %}
{% block doc_header_endpoint %}{{ url_for("employee_bp.edit_employee", employee_id=employee.id ) }}{% endblock %}

{% block no_documents_text %} No se ha subido ningún documento para este empleado {% endblock %}

{% block modal %}
    {{ render_delete_modal(
        url_for("employee_bp.delete_document", employee_id=employee.id),
        title="Eliminar documento",
        msg="¿Está seguro de que desea eliminar el documento?",
        msg_sub="Luego de confirmar, no se podrán revertir los cambios"
    ) }}
{% endblock %}
