{% extends "base_document_management.html" %}

{% block title %}Crear documento{% endblock %}

{% block breadcrumb_items %}
    <li>
      <a href="{{ url_for('jockey_amazon_bp.get_jockeys') }}">
        <span class="icon is-small">
          <i class="fas fa-user-tie" aria-hidden="true"></i>
        </span>
        <span>Jinetes y Amazonas</span>
      </a>
    </li>
    <li>
      <a href="{{ url_for('jockey_amazon_bp.show_jockey', jockey_id=jockey.id) }}">
        <span class="icon is-small">
          <i class="fas fa-user" aria-hidden="true"></i>
        </span>
        <span>{{ jockey.first_name }} {{ jockey.last_name }}</span>
      </a>
    </li>
    <li>
      <a href="{{ url_for('jockey_amazon_bp.create_document', jockey_id=jockey.id) }}">
        <span class="icon is-small">
          <i class="fa-solid fa-pen-nib"></i>
        </span>
        <span>Crear documento</span>
      </a>
    </li>
{% endblock %}

{% block card_title %}
 Crear documento
{% endblock %}

{% block submit_label %}
 Guardar
{% endblock %}

{% block exit_button %}
 <a href="{{ url_for('jockey_amazon_bp.edit_documents', jockey_id=jockey.id) }}" class="button is-half is-danger">
        Cerrar
        <span class="icon ml-1">
            <i class="fa-solid fa-exit"></i>
        </span>
    </a>
{% endblock %}