{% extends "base_document_list.html" %}

{% from "jockey_amazon/macros/parse_categories.html" import render_category %}

{# Variables used in base_document_list #}
{% set entity_has_documents = files %}
{% set current_url = url_for('jockey_amazon_bp.edit_documents', jockey_id=jockey.id) %}

{% block title %} Jockeys - Actualizar documentos {% endblock %}

{% block breadcrumb_items %}
    <li>
      <a href="{{ url_for('jockey_amazon_bp.get_jockeys') }}">
              <span class="icon is-small">
                  <i class="fas fa-hat-cowboy" aria-hidden="true"></i>
              </span>
          <span>Jinetes y Amazonas</span>
      </a>
    </li>
    <li>
      <a href="{{ url_for('jockey_amazon_bp.show_jockey', jockey_id=jockey.id) }}">
        <span class="icon is-small">
          <i class="fas fa-user" aria-hidden="true"></i>
        </span>
        <span>{{ jockey.first_name }} {{ jockey.last_name }}</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="icon is-small">
          <i class="fa-solid fa-pen-nib"></i>
        </span>
        <span>Actualizar documentos</span>
      </a>
    </li>
{% endblock %}

{% block doc_header %}
    <div class="container">
        <h4 class="title is-fullwidth has-text-centered">Editando el perfil de {{ jockey.first_name }} {{ jockey.last_name }}</h4>
        <div class="tabs is-toggle is-fullwidth is-toggle-rounded is-centered is-medium">
            <ul>
                <li >
                    <a href="{{ url_for('jockey_amazon_bp.update.edit_jockey', jockey_id=jockey.id) }}">
                          <span class="icon is-small">
                              <i class="fa fa-info-circle" aria-hidden="true"></i>
                          </span>
                        <span>Informacion General</span>
                    </a>
                </li>
                <li class="is-active">
                    <a href="{{ url_for("jockey_amazon_bp.edit_documents",  jockey_id=jockey.id ) }}">
                          <span class="icon is-small">
                              <i class="far fa-file-alt" aria-hidden="true"></i>
                          </span>
                        <span>Documentacion Anexa</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
{% endblock %}

{% block form_action %}{{ url_for("jockey_amazon_bp.edit_documents", jockey_id=jockey.id ) }}{% endblock %}
{% block clear_url %}{{ url_for("jockey_amazon_bp.edit_documents", jockey_id=jockey.id ) }}{% endblock %}

{% block doc_header_title %} Actualizando documentos de {{ jockey.first_name }} {% endblock %}
{% block doc_header_endpoint %}{{ url_for("jockey_amazon_bp.edit_documents", jockey_id=jockey.id ) }}{% endblock %}

{% block create_endpoint %}
    {{ url_for('jockey_amazon_bp.create_document',jockey_id=jockey.id) }}
{% endblock %}

{% block top_pagination %}
  {{ render_pagination(paginated_files, 'jockey_amazon_bp.edit_documents', {'jockey_id': jockey.id}) }}
{% endblock %}

{% macro render_document_category(file) %}
    {{ render_category(file.tag) }}
{% endmacro %}

{% block no_documents_text %} No se ha subido ningún documento para este jockey {% endblock %}

{% block bottom_pagination %}
  {{ render_pagination(paginated_files, 'jockey_amazon_bp.edit_documents', {'jockey_id': jockey.id}) }}
{% endblock %}

{% block modal %}
    {{ render_delete_modal(
        url_for("jockey_amazon_bp.delete_document", jockey_id=jockey.id),
        title="Eliminar documento",
        msg="¿Está seguro de que desea eliminar el documento?",
        msg_sub="Luego de confirmar, no se podrán revertir los cambios"
    ) }}
{% endblock %}