{% extends "layout.html" %}

{% from "macros/pagination.html" import render_pagination %}
{% from "macros/edit_menu.html" import render_actions_menu %}
{% from "macros/delete_modal.html" import render_delete_modal %}
{% from "macros/flash_message.html" import render_flash_messages %}

{% block extra_styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/components/table.css' )}}">
{% endblock%}


{% block main_content %}

  <nav class="breadcrumb mb-2" aria-label="breadcrumbs">
    <ul>
      <li>
        <a href="{{ url_for('index_bp.home')}}">
          <span class="icon is-small">
            <i class="fas fa-home" aria-hidden="true"></i>
          </span>
          <span>Inicio</span>
        </a>
      </li>
      {% block breadcrumb_items %}{% endblock %}
    </ul>
  </nav>

  {{ render_flash_messages(messages) }}

  <section class="is-fullheight-with-navbar pt-4">
    <h2 class="title is-size-3 has-text-centered">
      {% block inner_title %}  
      {% endblock %}
    </h2>
    <div class="px-3">
      {% block create_button %}{% endblock %}
      {% block filter_form %}{% endblock %}
    </div>
    <div class="table-container p-2 mt-2">
      <table class="table is-striped is-scrollable is-fullwidth">
        <div class="container p-5">
          {% block top_pagination %}{% endblock %}
        </div>
        <thead>
          <tr>
            {% block table_header %}{% endblock %}
          </tr>
        </thead>
        <tbody>
          {% block table_body %}{% endblock %}
        </tbody>
        <tfoot>
          <tr>
            {% block table_footer %}{% endblock %}
          </tr>
        </tfoot>
      </table>
      <div class="container p-5">
        {% block bottom_pagination %}{% endblock %}
      </div>
      {% block delete_modal %}{% endblock %}
    </div>
  </section>
{% endblock %}


{% block extra_scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/table-row-toggle.js') }}"></script>
{% endblock %}