{% extends "layout.html" %}

{% from "macros/file_icon.html" import render_file_icon %}
{% from "macros/delete_modal.html" import render_delete_modal %}
{% from "equestrian/macros/parse_categories.html" import render_category %}
{% from "macros/flash_message.html" import render_flash_messages %}
{% from "macros/pagination.html" import render_pagination %}

{% block extra_styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/table.css' )}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/documents/buttons.css' )}}">
{% endblock%}

<nav class="breadcrumb mb-2" aria-label="breadcrumbs">
    <ul>
      <li>
        <a href="{{ url_for('index_bp.home')}}">
          <span class="icon is-small">
            <i class="fas fa-home" aria-hidden="true"></i>
          </span>
          <span>Inicio</span>
        </a>
      </li>
      {% block breadcrumb_items %}{% endblock %}
    </ul>
</nav>
{% block doc_header %}
    <div class="container">
  <h4 class="title is-fullwidth has-text-centered">{% block doc_header_title %}{% endblock %}</h4>
  <div class="tabs is-toggle is-fullwidth is-toggle-rounded is-centered is-medium">
    <ul>
      <li class="">
        <a href="{% block doc_header_endpoint %}{% endblock %}">
          <span class="icon is-small">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
          </span>
          <span>Información General</span>
        </a>
      </li>
      <li class="is-active">
        <a>
          <span class="icon is-small">
              <i class="far fa-file-alt" aria-hidden="true"></i>
          </span>
          <span>Documentos Anexos</span>
        </a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}



{% block main_content %}

    {% block add_form_block %}
        <div class="card">
            <header class="card-header">
              <p class="card-header-title is-size-4">
                <span class="icon mr-3">
                  <i class="fa-solid fa-plus"></i>
                </span>
                Agregar documento
              </p>
              <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </header>
            <div class="card-content">
              <div class="content">
        <form method="POST" class="block" enctype="multipart/form-data">
        {{ add_form.hidden_tag() }}
        <div class="columns is-multiline">
         <div class="column is-full">
            <div class="field">
              <label class="label">{{ add_form.upload_type.label }}</label>
              <div class="control is-flex">
                {% for subfield in add_form.upload_type %}
                  <label class="radio">
                    {{ subfield }}
                    <span class="radio-label">{{ subfield.label }}</span>
                  </label>
                {% endfor %}
              </div>
              {% if add_form.upload_type.errors %}
              <p class="help is-danger">{{ add_form.upload_type.errors[0] }}</p>
              {% endif %}
            </div>
          </div>

          <div class="column is-half">
            <div class="field">
            <label class="label">{{ add_form.title.label }}</label>
              <div class="control">
                {{ add_form.title(class="input", placeholder="Ingrese el título del documento") }}
              </div>
              {% if add_form.title.errors %}
              <p class="help is-danger">{{ add_form.title.errors[0] }}</p>
              {% endif %}
            </div>
          </div>

          <div class="column is-half">
            <div class="field">
            <label class="label">{{ add_form.url.label }}</label>
              <div class="control">
                {{ add_form.url(class="input", placeholder="Ingrese la url del documento") }}
              </div>
              {% if add_form.url.errors %}
              <p class="help is-danger">{{ add_form.url.errors[0] }}</p>
              {% endif %}
            </div>
          </div>

          <div class="column is-half">
            <div class="field">
            <label class="label">{{ add_form.tag.label }}</label>
              <div class="control">
                <div class="select is-fullwidth">
                  {{ add_form.tag(class="is-fullwidth") }}
                </div>
              </div>
              {% if add_form.tag.errors %}
              <p class="help is-danger">{{ add_form.tag.errors[0] }}</p>
              {% endif %}
            </div>
          </div>

          <div class="column is-half">
            <div class="field">
            <label class="label">{{ add_form.file.label }}</label>
              <div class="file has-name is-fullwidth">
                <label class="file-label">
                  {{ add_form.file(class="file-input", multiple="multiple") }}
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">Elegir archivo</span>
                  </span>
                  <span class="file-name">No se ha seleccionado ningún archivo</span>
                </label>
              </div>
              {% if add_form.file.errors %}
              <p class="help is-danger">{{ add_form.file.errors[0] }}</p>
              {% endif %}
            </div>
          </div>

          <div class="column is-full">
            <div class="field">
              <div class="control">
                <button type="submit" class="button is-fullwidth is-primary">
                  Agregar documento
                  <span class="icon ml-1">
                    <i class="fa-solid fa-file"></i>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
        </div>
        </div>
        </div>
    {% endblock %}

    {% block filter_form %}
          <div class="card">
            <header class="card-header">
              <p class="card-header-title is-size-4">
                <span class="icon mr-3">
                  <i class="fa-solid fa-filter"></i>
                </span>
                Filtrar
              </p>
              <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </header>
            <div class="card-content">
              <div class="content">
                <form class="form" method="GET" action="{% block form_action %}{% endblock %}">
                  <div class="is-flex is-flex-direction-row is-flex-wrap-wrap is-gap-1">
                    <div class="field">
                      <label class="label">Buscar</label>
                      <div class="control">
                          <div class="select">
                              {{ search_form.search_by() }}
                          </div>
                      </div>
                    </div>
                    {% block aditional_filters %}
                        <div class="field">
                            <label class="label">Tipo de Documento</label>
                            <div class="control">
                                <div class="select">
                                    {{ search_form.filter_tag() }}
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                    <div class="field is-flex-grow-1">
                      <label for="filtrar" class="label is-invisible-tablet">Buscar</label>
                      <p class="control has-icons-left">
                        {{ search_form.search_text(class="input", placeholder="Buscar") }}
                        <span class="icon is-left">
                          <i class="fas fa-search" aria-hidden="true"></i>
                        </span>
                      </p>
                      {% if search_form.search_text.errors %}
                      <p class="help is-danger">{{ search_form.search_text.errors[0] }}</p>
                      {% endif %}
                    </div>
                  </div>
                  <div class="grid is-flex-tablet is-row-gap-0 is-column-gap-1 pt-3" >
                    <div class="field">
                      <label class="label">Ordenar por</label>
                      <div class="control">
                          <div class="select">
                              {{ search_form.order_by() }}
                          </div>
                      </div>
                    </div>
                    <div class="field">
                      <label class="label">En orden</label>
                      <div class="control">
                          <div class="select">
                              {{ search_form.order() }}
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="field card-footer">
                    <div class="control card-footer-item">
                      <a href="{% block clear_url %}{% endblock %}">
                        Limpiar
                      </a>
                    </div>
                    <div class="control card-footer-item">
                      {{ search_form.submit_search(class="button is-flex-grow-1 is-link")}}
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
      {% endblock %}

    {% block top_pagination %}{% endblock %}

    <section class="section pt-4 px-0">
    {{ render_flash_messages(messages) }}
      <div id="documents" class="card">
        <header class="card-header">
          <h2 class="card-header-title is-size-4 m-0">Documentación relacionada</h2>
        </header>
        <div class="card-content">
            {% block document_list %}
                <div class="content mt-4">
                {% if entity_has_documents %}
                  {% for document in documents %}
                    <div class="card">
                      <article class="card-content level is-flex is-flex-wrap-wrap is-justify-content-space-between">
                        <div class="media m-0">
                          <div class="media-left">
                            {{ render_file_icon(document.file.filetype, size=1) }}
                          </div>
                          <div class="media-content ml-2">
                            <p>
                              <strong class="tag is-white">{{ render_category(document.file.tag) }} {{ document.file.is_link | file_type }}</strong>
                              <small class="ml-1">{{ document.file.uploaded_at | format_date }}</small>
                              <br />
                              Título: {{ document.file.title }}
                              <br />
                              {% if document.file.is_link %}
                              Enlace: <a href="{{ document.file.path }}">{{ document.file.path }}</a>
                              {% endif %}
                            </p>
                          </div>
                        </div>
                        <div class="field has-addons">
                          <div class="control">
                            <button class="button is-danger hover modal-trigger" data-id="{{ document.file.id }}" data-target="user-delete-modal">
                              <span class="icon mr-1">
                                <i class="fa-solid fa-trash"></i>
                              </span>
                              Eliminar
                            </button>
                          </div>
                          <div class="control">
                            <a href="{{ document.download_url if document.download_url else '#' }}"
                               class="button is-link {{ '' if document.download_url else 'is-disabled' }}"
                               {% if not document.download_url %} aria-disabled="true" {% endif %}>
                              <span class="icon mr-1">
                                <i class="fa-solid fa-download"></i>
                              </span>
                              Descargar
                            </a>
                          </div>
                        </div>
                      </article>
                    </div>
                  {% endfor %}
                {% else %}
                    <p>{% block no_documents_text %}{% endblock %}</p>
                {% endif %}
              </div>
                </div>
              </div>
                {% block bottom_pagination %}{% endblock %}
            </section>
                {% block modal %}{% endblock %}
            {% endblock %}

{% endblock %}

{% block extra_scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/file-input.js') }}"></script>
    <script src="{{ url_for('static', filename='js/toggle-search-bar.js') }}"></script>
{% endblock %}