{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block head %}
    {{ super() }}
    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/home.css') }}"
    />
{% endblock %}

{% block content %}
    <section class="hero bg-gradient is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="container is-widescreen has-text-centered glass-bg p-5">
                <p class="title is-size-1 has-text-text-20">Pagina de Inicio</p>
                <p class="hero-subtitle is-size-5 has-text-text-20">Estamos trabajando para usted</p>
            </div>
        </div>
    </section>
{% endblock %}