<!DOCTYPE html>
<html lang="es" data-theme="light" class="has-navbar-fixed-top">
<head>
    {% block head %}
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="color-scheme" content="light dark"/>
        <link
                rel="stylesheet"
                href="{{ url_for('static', filename='css/vendor/bulma.min.css') }}"
        />
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body class="level">
{% include 'partials/nav.html' %}
<div>{% block navbar %}{% endblock %}</div>
<main class="container" id="container">{% block content %} {% endblock %}</main>
<div>{% block footer %}{% endblock %}</div>
<script src="{{ url_for('static', filename='js/theme.js') }}"></script>
</body>
</html>