{% extends "layout.html" %}

{% block title %}Caballos - Crear caballo{% endblock %}

{% block main_content %}
    <section class="section">
        <div class="container">
            <h1 class="title">Crear caballo</h1>
            <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                <div class="field">
                    <label class="label">{{ form.name.label }}</label>
                    <div class="control">
                        {{ form.name(class="input", placeholder="Ingrese el nombre del caballo") }}
                    </div>
                    {% if form.name.errors %}
                        <p class="help is-danger">{{ form.name.errors[0] }}</p>
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label">{{ form.breed.label }}</label>
                    <div class="control">
                        {{ form.breed(class="input", placeholder="Ingrese la raza del caballo") }}
                    </div>
                    {% if form.breed.errors %}
                        <p class="help is-danger">{{ form.breed.errors[0] }}</p>
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label">{{ form.birth_date.label }}</label>
                    <div class="control">
                        {{ form.birth_date(class="input", type="date") }}
                    </div>
                    {% if form.birth_date.errors %}
                        <p class="help is-danger">{{ form.birth_date.errors[0] }}</p>
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label">{{ form.coat.label }}</label>
                    <div class="control">
                        {{ form.coat(class="input", placeholder="Ingrese el pelaje del caballo") }}
                    </div>
                    {% if form.coat.errors %}
                        <p class="help is-danger">{{ form.coat.errors[0] }}</p>
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label">{{ form.sex.label }}</label>
                    <div class="control">
                        <div class="select">
                            {{ form.sex() }}
                        </div>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            {{ form.is_donation() }} {{ form.is_donation.label }}
                        </label>
                    </div>
                </div>

                <div class="field">
                    <label class="label">{{ form.admission_date.label }}</label>
                    <div class="control">
                        {{ form.admission_date(class="input", type="date") }}
                    </div>
                    {% if form.admission_date.errors %}
                        <p class="help is-danger">{{ form.admission_date.errors[0] }}</p>
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label">{{ form.assigned_facility.label }}</label>
                    <div class="control">
                        {{ form.assigned_facility(class="input", placeholder="Ingrese la sede asignada") }}
                    </div>
                    {% if form.assigned_facility.errors %}
                        <p class="help is-danger">{{ form.assigned_facility.errors[0] }}</p>
                    {% endif %}
                </div>

                <div class="field">
                    <label class="label">{{ form.ja_type.label }}</label>
                    <div class="control">
                        <div class="select">
                            {{ form.ja_type() }}
                        </div>
                    </div>
                </div>


                <div id="horse-documents" class="field pt-3">
                    <label class="label is-size-4">Documentos del Caballo</label>
                    <p class="has-text-weight-light">Formatos permitidos: <span
                            class="is-italic">PDF, DOC, XLS, JPEG</span></p>

                    <div class="field pt-3">
                        <label for="ficha_general" class="label">Ficha General <span
                                class="has-text-weight-light is-italic">(máximo 5 archivos)</span></label>
                        <div class="file has-name is-fullwidth">
                            <label class="file-label">
                                {{ form.documents.ficha_general(class="file-input", multiple="multiple") }}
                                <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label"> Elegir archivos </span>
        </span>
                                <span class="file-name"> Ficha General </span>
                            </label>
                        </div>
                        {% if form.documents.ficha_general.errors %}
                            <p class="help is-danger">{{ form.documents.ficha_general.errors[0] }}</p>
                        {% endif %}
                    </div>

                    <div class="field pt-3">
                        <label for="planificacion_entrenamiento" class="label">Planificación de Entrenamiento <span
                                class="has-text-weight-light is-italic">(máximo 5 archivos)</span></label>
                        <div class="file has-name is-fullwidth">
                            <label class="file-label">
                                {{ form.documents.planificacion_entrenamiento(class="file-input", multiple="multiple") }}
                                <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label"> Elegir archivos </span>
        </span>
                                <span class="file-name"> Planificación de Entrenamiento </span>
                            </label>
                        </div>
                        {% if form.documents.planificacion_entrenamiento.errors %}
                            <p class="help is-danger">{{ form.documents.planificacion_entrenamiento.errors[0] }}</p>
                        {% endif %}
                    </div>

                    <div class="field pt-3">
                        <label for="informe_evolucion" class="label">Informe de Evolución <span
                                class="has-text-weight-light is-italic">(máximo 5 archivos)</span></label>
                        <div class="file has-name is-fullwidth">
                            <label class="file-label">
                                {{ form.documents.informe_evolucion(class="file-input", multiple="multiple") }}
                                <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label"> Elegir archivos </span>
        </span>
                                <span class="file-name"> Informe de Evolución </span>
                            </label>
                        </div>
                        {% if form.documents.informe_evolucion.errors %}
                            <p class="help is-danger">{{ form.documents.informe_evolucion.errors[0] }}</p>
                        {% endif %}
                    </div>

                    <div class="field pt-3">
                        <label for="carga_imagenes" class="label">Imágenes <span
                                class="has-text-weight-light is-italic">(máximo 10 archivos)</span></label>
                        <div class="file has-name is-fullwidth">
                            <label class="file-label">
                                {{ form.documents.carga_imagenes(class="file-input", multiple="multiple") }}
                                <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label"> Elegir archivos </span>
        </span>
                                <span class="file-name"> Imágenes </span>
                            </label>
                        </div>
                        {% if form.documents.carga_imagenes.errors %}
                            <p class="help is-danger">{{ form.documents.carga_imagenes.errors[0] }}</p>
                        {% endif %}
                    </div>

                    <div class="field pt-3">
                        <label for="registro_veterinario" class="label">Registro Veterinario <span
                                class="has-text-weight-light is-italic">(máximo 5 archivos)</span></label>
                        <div class="file has-name is-fullwidth">
                            <label class="file-label">
                                {{ form.documents.registro_veterinario(class="file-input") }}
                                <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label"> Elegir archivo </span>
        </span>
                                <span class="file-name"> Registro Veterinario </span>
                            </label>
                        </div>
                        {% if form.documents.registro_veterinario.errors %}
                            <p class="help is-danger">{{ form.documents.registro_veterinario.errors[0] }}</p>
                        {% endif %}
                    </div>
                </div>


                <div class="field">
                    <div class="control">
                        <button class="button is-primary" type="submit">Guardar cambios</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}