{% extends "base_show.html" %}
{% from "macros/edit_menu.html" import render_actions_menu %}
{% from "macros/file_icon.html" import render_file_icon %}
{% from "equestrian/macros/parse_categories.html" import render_category %}


{% block title %}Caballo {{ horse.name }} - CEDICA{% endblock %}

{% block breadcrumb_items %}
    <li>
        <a href="{{ url_for('equestrian_bp.get_horses') }}">
            <span class="icon is-small">
                <i class="fa-solid fa-horse" aria-hidden="true"></i>
            </span>
            <span>Caballos</span>
        </a>
    </li>
    <li>
        <a href="">
            <span class="icon is-small">
                <i class="fa-solid fa-horse-head" aria-hidden="true"></i>
            </span>
            <span>{{ horse.name }}</span>
        </a>
    </li>
{% endblock %}

{% block card_title %}Caballo: {{ horse.name }}{% endblock %}

{% block card_content %}
    <ul class="grid desktop-is-col-min-16">
        <div class="cell">
            <h4>Información general</h4>
            <li><strong>ID: </strong> {{ horse.id }}</li>
            <li><strong>Nombre: </strong>{{ horse.name }}</li>
            <li><strong>Raza: </strong>{{ horse.breed }}</li>
            <li><strong>Fecha de nacimiento: </strong>{{ horse.birth_date | format_date }}</li>
            <li><strong>Pelaje: </strong>{{ horse.coat }}</li>
            <li><strong>Sexo: </strong>{{ horse.sex }}</li>
        </div>

        <div class="cell">
            <h4>Información adicional</h4>
            <li><strong>Es donación: </strong>{{ horse.is_donation | natural_boolean }}</li>
            <li><strong>Fecha de admisión: </strong>{{ horse.admission_date | format_date }}</li>
            <li><strong>Sede asignada: </strong>{{ horse.assigned_facility }}</li>
            <li><strong>Tipo de actividad: </strong>{{ horse.ja_type.value }}</li>
        </div>

        <div class="cell">
            <h4>Estampas</h4>
            <li><strong>Dado de alta: </strong>{{ horse.inserted_at | format_date }}</li>
            <li><strong>Última modificación: </strong>{{ horse.updated_at | format_date }}</li>
        </div>
    </ul>
{% endblock %}

{% block card_actions %}
    {% if "ecuestre_destroy" in permissions or is_admin %}
        <button class="card-footer-item has-text-danger modal-trigger" data-id="{{ horse.id }}"
                data-target="horse-delete-modal">
            Eliminar
        </button>
    {% endif %}

    {% if "ecuestre_update" in permissions or is_admin %}
        <a href="{{ url_for('equestrian_bp.edit_horse', horse_id=horse.id) }}"
           class="card-footer-item has-text-warning">Editar</a>
    {% endif %}
    <a href="{{ url_for('equestrian_bp.edit_documents', horse_id=horse.id) }}"
           class="card-footer-item has-text-link">Ver documentos</a>
{% endblock %}

{% block additional_cards %}

    <div class="card">
        <header class="card-header">
            <p class="card-header-title is-size-4">Entrenadores y conductores asociados</p>
        </header>
        <div class="card-content">
            <div class="content">
                <table class="table is-striped is-scrollable is-fullwidth is-hidden-touch">
                    <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Posición</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for trainer in horse_trainers %}
                        <tr class="">
                            <td class="is-hidden-mobile">
                                {{ render_actions_menu(
                                        field="employee_id",
                                        value=trainer.id,
                                        to_left=true,
                                        endpoints={
                                            'show':'employee_bp.show_employee',
                                            'edit': 'employee_bp.edit_employee',
                                          'delete':''
                                        },
                                        permission_to_show="equipo_show",
                                        permission_to_edit="equipo_update",
                                        permission_to_delete="equipo_destroy",
                                        user_permissions=permissions,
                                        is_admin=is_admin
                                        ) }}
                            </td>
                            <td><span class="is-hidden-tablet has-text-weight-bold">ID: </span>{{ trainer.id }}</td>
                            <td><span class="is-hidden-tablet has-text-weight-bold">Nombre: </span>{{ trainer.name }}
                            </td>
                            <td><span
                                    class="is-hidden-tablet has-text-weight-bold">Apellido: </span>{{ trainer.lastname }}
                            </td>
                            <td><span
                                    class="is-hidden-tablet has-text-weight-bold">Posición: </span>{{ trainer.position.value }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                    <tfoot>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Posición</th>
                    </tr>
                    </tfoot>
                </table>
                <div class="box is-hidden-desktop">
                    {% for trainer in horse_trainers %}

                    <p><strong>ID:</strong> {{ trainer.id }}</p>
                    <p><strong>Nombre:</strong> {{ trainer.name }}</p>
                    <p><strong>Apellido:</strong> {{ trainer.lastname }}</p>
                    <p><strong>Posición:</strong> {{ trainer.position.value }}</p>
                    <div class="buttons">
                        <div class="is-hidden-tablet is-flex">
                            <a href="{{ url_for('employee_bp.show_employee', employee_id = trainer.id) }}"
                               class="button is-flex-grow-1 ">
                                    <span class="is-bold">
                                        Ver en detalle
                                        <i class="fa-regular fa-eye ml-2"></i>
                                    </span>
                            </a>
                        </div>
                {% if "ecuestre_update" in permissions or is_admin %}
                    {% block create_button %}
                        <a class="button is-primary level-item" href="{{ url_for('equestrian_bp.edit_horse', horse_id=horse.id) }}#trainers-content">
                            Cambiar entrenadores
                            <i class="fa-solid fa-user ml-2 is-size-5"></i>
                        </a>
                    {% endblock %}
                {% endif %}

            </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}

{% block modal %}
    {{ render_delete_modal(
      field="horse",
      endpoint=url_for("equestrian_bp.delete_horse"),
      title="Eliminar",
      msg="¿Está seguro de que desea eliminar al caballo?",
      msg_sub="Luego de confirmar, no se podrán revertir los cambios"
    ) }}
{% endblock %}

