{% extends "layout.html" %}

{% block title %} Jinetes y Amazonas - Agregar Jinete y Amazona {% endblock %}

{% block main_content %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="{{ url_for('index_bp.home') }}">
                    <span class="icon is-small"><i class="fas fa-home" aria-hidden="true"></i></span>
                    <span>Inicio</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('jockey_amazon_bp.get_jockeys') }}">
                    <span class="icon is-small"><i class="fas fa-hat-cowboy" aria-hidden="true"></i></span>
                    <span>Jinetes y Amazonas</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="icon is-small"><i class="fas fa-add" aria-hidden="true"></i></span>
                    <span>Agregar Jinetes y Amazonas</span>
                </a>
            </li>
        </ul>
    </nav>

    <section class="section pt-4">
        <div class="container">
            <h1 class="title">Agregar Jinete/Amazona</h1>
            <form method="POST">
                {{ form.hidden_tag() }}

                <!-- Pestañas -->
                <div class="tabs is-boxed">
                    <ul>
                        <li class="is-active" data-tab="general-info"><a>Información General</a></li>
                        <li data-tab="emergency-contact"><a>Contacto de Emergencia</a></li>
                        <li data-tab="disability-info"><a>Información de Discapacidad</a></li>
                        <li data-tab="family-pension-info"><a>Familia y Pensión</a></li>
                        <li data-tab="scholarship-info"><a>Beca</a></li>
                        <li data-tab="health-info"><a>Información de Salud</a></li>
                        <li data-tab="curatorship-info"><a>Curaduría</a></li>
                        <li data-tab="school-info"><a>Información Escolar</a></li>
                        <li data-tab="professionals-info"><a>Profesionales</a></li>
                        <li data-tab="family-members-info"><a>Miembros de la Familia</a></li>
                        <li data-tab="work-assignments-info"><a>Asignaciones de Trabajo</a></li>
                    </ul>
                </div>
                <!-- Contenido de las pestañas -->
                <div class="tab-content">
                    <!-- General Information -->
                    <div id="general-info" class="tab-pane is-active" style="display:block;">
                        <label class="label is-size-4">Información General</label>
                        <div class="field-body">
                            <div class="field">
                                <label class="label">{{ form.first_name.label }}</label>
                                <div class="control">
                                    {{ form.first_name(class="input", placeholder="Ingrese el nombre") }}
                                </div>
                                {% if form.first_name.errors %}
                                    <p class="help is-danger">{{ form.first_name.errors[0] }}</p>
                                {% endif %}
                            </div>
                            <div class="field">
                                <label class="label">{{ form.last_name.label }}</label>
                                <div class="control">
                                    {{ form.last_name(class="input", placeholder="Ingrese el apellido") }}
                                </div>
                                {% if form.last_name.errors %}
                                    <p class="help is-danger">{{ form.last_name.errors[0] }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.birthplace.label }}</label>
                            <div class="control">
                                {{ form.birthplace(class="input", placeholder="Ingrese el lugar de nacimiento", required=true) }}
                            </div>
                        </div>
                        <div class="field-body pt-2">
                            <div class="field">
                                <label class="label">{{ form.dni.label }}</label>
                                <div class="control">
                                    {{ form.dni(class="input", placeholder="Ingrese el DNI") }}
                                </div>
                                {% if form.dni.errors %}
                                    <p class="help is-danger">{{ form.dni.errors[0] }}</p>
                                {% endif %}
                            </div>
                            <div class="field">
                                <label class="label">{{ form.birth_date.label }}</label>
                                <div class="control">
                                    {{ form.birth_date(class="input", type="date") }}
                                </div>
                                {% if form.birth_date.errors %}
                                    <p class="help is-danger">{{ form.birth_date.errors[0] }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="field-body pt-2">
                            <div class="field">
                                <label class="label">{{ form.phone.country_code.label }}</label>
                                <div class="control">
                                    {{ form.phone.country_code(class="input", placeholder="Código de país") }}
                                </div>
                                {% if form.phone.country_code.errors %}
                                    <p class="help is-danger">{{ form.phone.country_code.errors[0] }}</p>
                                {% endif %}
                            </div>
                            <div class="field">
                                <label class="label">{{ form.phone.area_code.label }}</label>
                                <div class="control">
                                    {{ form.phone.area_code(class="input", placeholder="Código de área") }}
                                </div>
                                {% if form.phone.area_code.errors %}
                                    <p class="help is-danger">{{ form.phone.area_code.errors[0] }}</p>
                                {% endif %}
                            </div>
                            <div class="field">
                                <label class="label">{{ form.phone.number.label }}</label>
                                <div class="control">
                                    {{ form.phone.number(class="input", placeholder="Número") }}
                                </div>
                                {% if form.phone.number.errors %}
                                    <p class="help is-danger">{{ form.phone.number.errors[0] }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <!-- Address Information -->
                        <div id="address-info" class="field pt-3">
                            <label class="label is-size-4">Dirección</label>
                            <div class="field">
                                <div class="field-body">
                                    <div class="field">
                                        <label class="label">{{ form.address.province.label }}</label>
                                        <div class="control">
                                            {{ form.address.province(class="input", placeholder="Ingrese la provincia") }}
                                        </div>
                                        {% if form.address.province.errors %}
                                            <p class="help is-danger">{{ form.address.province.errors[0] }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="field">
                                        <label class="label">{{ form.address.locality.label }}</label>
                                        <div class="control">
                                            {{ form.address.locality(class="input", placeholder="Ingrese la localidad") }}
                                        </div>
                                        {% if form.address.locality.errors %}
                                            <p class="help is-danger">{{ form.address.locality.errors[0] }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <label class="label">{{ form.address.department.label }}</label>
                                    <div class="control">
                                        {{ form.address.department(class="input", placeholder="Ingrese el departamento") }}
                                    </div>
                                    {% if form.address.department.errors %}
                                        <p class="help is-danger">{{ form.address.department.errors[0] }}</p>
                                    {% endif %}
                                </div>
                                <div class="field">
                                    <label class="label">{{ form.address.street.label }}</label>
                                    <div class="control">
                                        {{ form.address.street(class="input", placeholder="Ingrese la calle") }}
                                    </div>
                                    {% if form.address.street.errors %}
                                        <p class="help is-danger">{{ form.address.street.errors[0] }}</p>
                                    {% endif %}
                                </div>
                                <div class="field">
                                    <label class="label">{{ form.address.number.label }}</label>
                                    <div class="control">
                                        {{ form.address.number(class="input", placeholder="Ingrese el número") }}
                                    </div>
                                    {% if form.address.number.errors %}
                                        <p class="help is-danger">{{ form.address.number.errors[0] }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                     <!-- Emergency Contact -->
                    <div id="emergency-contact" class="tab-pane" style="display:none;">
                        <label class="label is-size-4">Contacto de Emergencia</label>
                        <div class="field">
                            <label class="label">{{ form.emergency_contact.emergency_contact_name.label }}</label>
                            <div class="control">
                                {{ form.emergency_contact.emergency_contact_name(class="input", placeholder="Ingrese el nombre del contacto de emergencia", required=true) }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.emergency_contact.emergency_contact_phone.label }}</label>
                            <div class="control">
                                {{ form.emergency_contact.emergency_contact_phone(class="input", placeholder="Ingrese el teléfono del contacto de emergencia", required=true) }}
                            </div>
                        </div>
                    </div>

                    <!-- Disability Information -->
                     
                    <div id="disability-info" class="tab-pane" style="display:none;">
                        <label class="label is-size-5">Información de Discapacidad</label>
                        <div class="field">
                            <div class="control">
                                <label class="checkbox is-small">
                                    {{ form.has_disability.label(class="has-text-weight-bold is-size-5") }}
                                    {{ form.has_disability(class="ml-1", type="checkbox") }}
                                </label>
                            </div>
                            {% if form.has_disability.errors %}
                                <p class="help is-danger">{{ form.has_disability.errors[0] }}</p>
                            {% endif %}
                        </div>
                    
                        <div class="field" id="disability-details" style="display: none;">
                            <label class="label">Diagnóstico de Discapacidad</label>
                            <div class="control">
                                {{ form.disability_diagnosis(class="textarea is-small", placeholder="Ingrese el diagnóstico de discapacidad") }}
                            </div>
                            {% if form.disability_diagnosis.errors %}
                                <p class="help is-danger">{{ form.disability_diagnosis.errors[0] }}</p>
                            {% endif %}
                        
                            <label class="label is-size-6">Otra Discapacidad</label>
                            <div class="control">
                                {{ form.disability_other(class="textarea is-small", placeholder="Ingrese otra discapacidad") }}
                            </div>
                            {% if form.disability_other.errors %}
                                <p class="help is-danger">{{ form.disability_other.errors[0] }}</p>
                            {% endif %}
                    
                            <label class="label is-size-6">Tipo de Discapacidad</label>
                            <div class="control">
                                {{ form.disability_type(class="textarea is-small", placeholder="Ingrese el tipo de discapacidad") }}
                            </div>
                            {% if form.disability_type.errors %}
                                <p class="help is-danger">{{ form.disability_type.errors[0] }}</p>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Family and Pension Information -->
                    <div id="family-pension-info" class="tab-pane" style="display:none;">
                        <label class="label is-size-5">Información de Asignación Familiar</label>
                        <div class="field">
                            <div class="control">
                                <label class="checkbox">
                                    {{ form.has_family_assignment.label(class="has-text-weight-bold is-size-5") }}
                                    {{ form.has_family_assignment(class="ml-1", type="checkbox") }}
                                </label>
                            </div>
                            {% if form.has_family_assignment.errors %}
                                <p class="help is-danger">{{ form.has_family_assignment.errors[0] }}</p>
                            {% endif %}
                        </div>
                    
                        <div class="field" id="family-assignment-details" style="display: none;">
                            <label class="label">Tipo de Asignación Familiar</label>
                            <div class="control">
                                {{ form.family_assignment_type(class="textarea", placeholder="Ingrese el tipo de asignación familiar") }}
                            </div>
                            {% if form.family_assignment_type.errors %}
                                <p class="help is-danger">{{ form.family_assignment_type.errors[0] }}</p>
                            {% endif %}
                        </div>
                        
                        <div class="field">
                            <div class="control">
                                <label class="checkbox">
                                    {{ form.has_pension.label(class="has-text-weight-bold is-size-5") }}
                                    {{ form.has_pension(class="ml-1", type="checkbox") }}
                                </label>
                            </div>
                            {% if form.has_pension.errors %}
                                <p class="help is-danger">{{ form.has_pension.errors[0] }}</p>
                            {% endif %}
                        </div>
                    
                        <div class="field" id="pension-details" style="display: none;">
                            <label class="label">Tipo de Pensión</label>
                            <div class="control">
                                {{ form.pension_type(class="input", placeholder="Ingrese el tipo de pensión") }}
                            </div>
                            {% if form.pension_type.errors %}
                                <p class="help is-danger">{{ form.pension_type.errors[0] }}</p>
                            {% endif %}
                    
                            <label class="label">Detalles de Pensión</label>
                            <div class="control">
                                {{ form.pension_details(class="textarea", placeholder="Ingrese detalles de la pensión") }}
                            </div>
                            {% if form.pension_details.errors %}
                                <p class="help is-danger">{{ form.pension_details.errors[0] }}</p>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Scholarship info -->

                        <div id="scholarship-info" class="tab-pane" style="display:none;">
                            <label class="label is-size-4">Información de Beca</label>
                            <div class="field">
                                <div class="control">
                                    <label class="checkbox">
                                        {{ form.has_scholarship.label(class="has-text-weight-bold is-size-5") }}
                                        {{ form.has_scholarship(class="ml-1", type="checkbox") }}
                                    </label>
                                </div>
                                {% if form.has_scholarship.errors %}
                                    <p class="help is-danger">{{ form.has_scholarship.errors[0] }}</p>
                                {% endif %}
                            </div>
                        
                            <div class="field" id="scholarship-details" style="display: none;">
                                <label class="label">Porcentaje de Beca</label>
                                <div class="control">
                                    {{ form.scholarship_percentage(class="input", placeholder="Ingrese el porcentaje de beca") }}
                                </div>
                                {% if form.scholarship_percentage.errors %}
                                    <p class="help is-danger">{{ form.scholarship_percentage.errors[0] }}</p>
                                {% endif %}
                        
                                <label class="label">Observaciones de Beca</label>
                                <div class="control">
                                    {{ form.scholarship_observations(class="textarea", placeholder="Ingrese observaciones de la beca") }}
                                </div>
                                {% if form.scholarship_observations.errors %}
                                    <p class="help is-danger">{{ form.scholarship_observations.errors[0] }}</p>
                                {% endif %}
                            </div>
                        </div>
                    
                    <!-- Health Information -->
                    <div id="health-info" class="tab-pane" style="display:none;">
                        <label class="label is-size-4">Cobertura médica</label>
                        <div class="field">
                            <label class="label">{{ form.social_security.label }}</label>
                            <div class="control">
                                {{ form.social_security(class="input", placeholder="Ingrese la cobertura médica") }}
                            </div>
                            {% if form.social_security.errors %}
                                <p class="help is-danger">{{ form.social_security.errors[0] }}</p>
                            {% endif %}
                        </div>
                        <div class="field">
                            <label class="label">{{ form.social_security_number.label }}</label>
                            <div class="control">
                                {{ form.social_security_number(class="input", placeholder="Ingrese el número de afiliado") }}
                            </div>
                            {% if form.social_security_number.errors %}
                                <p class="help is-danger">{{ form.social_security_number.errors[0] }}</p>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Curatorship Information -->
                    <div id="curatorship-info" class="tab-pane" style="display:none;">
                        <label class="label is-size-4">Información de Curatela</label>
                        <div class="field">
                            <div class="control">
                                <label class="checkbox">
                                    {{ form.has_curatorship.label(class="has-text-weight-bold is-size-5") }}
                                    {{ form.has_curatorship(class="ml-1", type="checkbox") }}
                                </label>
                            </div>
                            {% if form.has_curatorship.errors %}
                                <p class="help is-danger">{{ form.has_curatorship.errors[0] }}</p>
                            {% endif %}
                        </div>
                    
                        <div class="field" id="curatorship-details" style="display: none;">
                            <label class="label">Observaciones de Curatela</label>
                            <div class="control">
                                {{ form.curatorship_observations(class="textarea", placeholder="Ingrese observaciones de la curatela") }}
                            </div>
                            {% if form.curatorship_observations.errors %}
                                <p class="help is-danger">{{ form.curatorship_observations.errors[0] }}</p>
                            {% endif %}
                        </div>
                    </div>

                    <!-- School Information -->
                    <div id="school-info" class="tab-pane" style="display:none;">
                      <label class="label is-size-4">Información Escolar</label>
                      <div class="field">
                          <label class="label">{{ form.school_institution.school_name.label }}</label>
                          <div class="control">
                              {{ form.school_institution.school_name(class="input", placeholder="Ingrese el nombre de la institución escolar") }}
                          </div>
                          {% if form.school_institution.school_name.errors %}
                              <p class="help is-danger">{{ form.school_institution.school_name.errors[0] }}</p>
                          {% endif %}
                      </div>

                      <div class="field-body">
                          <div class="field">
                              <label class="label">{{ form.school_institution.street.label }}</label>
                              <div class="control">
                                  {{ form.school_institution.street(class="input", placeholder="Ingrese la calle de la institución escolar") }}
                              </div>
                              {% if form.school_institution.street.errors %}
                                  <p class="help is-danger">{{ form.school_institution.street.errors[0] }}</p>
                              {% endif %}
                          </div>
                          <div class="field">
                              <label class="label">{{ form.school_institution.number.label }}</label>
                              <div class="control">
                                  {{ form.school_institution.number(class="input", placeholder="Ingrese el número de la institución escolar") }}
                              </div>
                              {% if form.school_institution.number.errors %}
                                  <p class="help is-danger">{{ form.school_institution.number.errors[0] }}</p>
                              {% endif %}
                          </div>
                      </div>

                      <div class="field-body">
                          <div class="field">
                              <label class="label">{{ form.school_institution.department.label }}</label>
                              <div class="control">
                                  {{ form.school_institution.department(class="input", placeholder="Ingrese el departamento de la institución escolar") }}
                              </div>
                              {% if form.school_institution.department.errors %}
                                  <p class="help is-danger">{{ form.school_institution.department.errors[0] }}</p>
                              {% endif %}
                          </div>
                          <div class="field">
                              <label class="label">{{ form.school_institution.locality.label }}</label>
                              <div class="control">
                                  {{ form.school_institution.locality(class="input", placeholder="Ingrese la localidad de la institución escolar") }}
                              </div>
                              {% if form.school_institution.locality.errors %}
                                  <p class="help is-danger">{{ form.school_institution.locality.errors[0] }}</p>
                              {% endif %}
                          </div>
                          <div class="field">
                              <label class="label">{{ form.school_institution.province.label }}</label>
                              <div class="control">
                                  {{ form.school_institution.province(class="input", placeholder="Ingrese la provincia de la institución escolar") }}
                              </div>
                              {% if form.school_institution.province.errors %}
                                  <p class="help is-danger">{{ form.school_institution.province.errors[0] }}</p>
                              {% endif %}
                          </div>
                      </div>

                      <div class="field-body">
                          <div class="field">
                              <label class="label">{{ form.school_institution.phone_country_code.label }}</label>
                              <div class="control">
                                  {{ form.school_institution.phone_country_code(class="input", placeholder="Ingrese el código de país de la institución escolar") }}
                              </div>
                              {% if form.school_institution.phone_country_code.errors %}
                                  <p class="help is-danger">{{ form.school_institution.phone_country_code.errors[0] }}</p>
                              {% endif %}
                          </div>
                          <div class="field">
                              <label class="label">{{ form.school_institution.phone_area_code.label }}</label>
                              <div class="control">
                                  {{ form.school_institution.phone_area_code(class="input", placeholder="Ingrese el código de área de la institución escolar") }}
                              </div>
                              {% if form.school_institution.phone_area_code.errors %}
                                  <p class="help is-danger">{{ form.school_institution.phone_area_code.errors[0] }}</p>
                              {% endif %}
                          </div>
                          <div class="field">
                              <label class="label">{{ form.school_institution.phone_number.label }}</label>
                              <div class="control">
                                  {{ form.school_institution.phone_number(class="input", placeholder="Ingrese el número de teléfono de la institución escolar") }}
                              </div>
                              {% if form.school_institution.phone_number.errors %}
                                  <p class="help is-danger">{{ form.school_institution.phone_number.errors[0] }}</p>
                              {% endif %}
                          </div>
                      </div>

                      <div class="field">
                          <label class="label">{{ form.current_grade_year.label }}</label>
                          <div class="control">
                              {{ form.current_grade_year(class="input", placeholder="Ingrese el grado/año actual") }}
                          </div>
                          {% if form.current_grade_year.errors %}
                              <p class="help is-danger">{{ form.current_grade_year.errors[0] }}</p>
                          {% endif %}
                      </div>

                      <div class="field">
                          <label class="label">{{ form.school_observations.label }}</label>
                          <div class="control">
                              {{ form.school_observations(class="textarea", placeholder="Ingrese observaciones sobre la institución escolar") }}
                          </div>
                          {% if form.school_observations.errors %}
                              <p class="help is-danger">{{ form.school_observations.errors[0] }}</p>
                          {% endif %}
                      </div>
                  </div>

                    <!-- Professionals Information -->
                    <div id="professionals-info" class="tab-pane" style="display:none;">
                        <label class="label">{{ form.professionals.label }}</label>
                        <div class="control">
                            {{ form.professionals(class="textarea", placeholder="Ingrese los profesionales que lo atienden") }}
                        </div>
                        {% if form.professionals.errors %}
                            <p class="help is-danger">{{ form.professionals.errors[0] }}</p>
                        {% endif %}
                    </div>
            
                    <!-- Family Members -->
                    <div id="family-members-info" class="tab-pane" style="display:none;">
                        <label class="label is-size-4">Miembros de la Familia</label>
                        <div id="family-members-container">
                            <div class="family-member">
                                <div class="field-body">
                                    <div class="field">
                                        <label class="label">Relación</label>
                                        <div class="control">
                                            <input type="text" name="family_member1-relationship" class="input" placeholder="Ingrese la relación" required>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">Nombre</label>
                                        <div class="control">
                                            <input type="text" name="family_member1-first_name" class="input" placeholder="Ingrese el nombre" required>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">Apellido</label>
                                        <div class="control">
                                            <input type="text" name="family_member1-last_name" class="input" placeholder="Ingrese el apellido" required>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">DNI</label>
                                        <div class="control">
                                            <input type="text" name="family_member1-dni" class="input" placeholder="Ingrese el DNI" required maxlength="8">
                                        </div>
                                    </div>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <label class="label">Calle</label>
                                        <div class="control">
                                            <input type="text" name="family_member1-street" class="input" placeholder="Ingrese la calle" required>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">Número</label>
                                        <div class="control">
                                            <input type="number" name="family_member1-number" class="input" placeholder="Ingrese el número" required>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">Departamento</label>
                                        <div class="control">
                                            <input type="text" name="family_member1-department" class="input" placeholder="Ingrese el departamento" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <label class="label">Localidad</label>
                                        <div class="control">
                                            <input type="text" name="family_member1-locality" class="input" placeholder="Ingrese la localidad" required>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">Provincia</label>
                                        <div class="control">
                                            <input type="text" name="family_member1-province" class="input" placeholder="Ingrese la provincia" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <label class="label">Código de País</label>
                                        <div class="control">
                                            <input type="text" name="family_member1-phone_country_code" class="input" placeholder="Código de País" required>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">Código de Área</label>
                                        <div class="control">
                                            <input type="text" name="family_member1-phone_area_code" class="input" placeholder="Código de Área" required>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">Número de Teléfono</label>
                                        <div class="control">
                                            <input type="text" name="family_member1-phone_number" class="input" placeholder="Ingrese el número de teléfono" required maxlength="15">
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Correo Electrónico</label>
                                    <div class="control">
                                        <input type="email" name="family_member1-email" class="input" placeholder="Ingrese el correo electrónico" required>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Nivel Educativo</label>
                                    <div class="control">
                                        <select name="family_member1-education_level" class="select" required>
                                            <option value="">Seleccione el nivel educativo</option>
                                            {% for key, value in EducationLevelEnum.__members__.items() %}
                                                <option value="{{ key }}">{{ value.value }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Ocupación</label>
                                    <div class="control">
                                        <input type="text" name="family_member1-occupation" class="input" placeholder="Ingrese la ocupación" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="button is-primary add-family-member">Agregar Miembro de la Familia</button>

                        <div class="family-member" style="display: none;">
                            <div class="field-body">
                                <div class="field">
                                    <label class="label">Relación</label>
                                    <div class="control">
                                        <input type="text" name="family_member2-relationship" class="input" placeholder="Ingrese la relación" required>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Nombre</label>
                                    <div class="control">
                                        <input type="text" name="family_member2-first_name" class="input" placeholder="Ingrese el nombre" required>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Apellido</label>
                                    <div class="control">
                                        <input type="text" name="family_member2-last_name" class="input" placeholder="Ingrese el apellido" required>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">DNI</label>
                                    <div class="control">
                                        <input type="text" name="family_member2-dni" class="input" placeholder="Ingrese el DNI" required maxlength="8">
                                    </div>
                                </div>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <label class="label">Calle</label>
                                    <div class="control">
                                        <input type="text" name="family_member2-street" class="input" placeholder="Ingrese la calle" required>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Número</label>
                                    <div class="control">
                                        <input type="number" name="family_member2-number" class="input" placeholder="Ingrese el número" required>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Departamento</label>
                                    <div class="control">
                                        <input type="text" name="family_member2-department" class="input" placeholder="Ingrese el departamento" required>
                                    </div>
                                </div>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <label class="label">Localidad</label>
                                    <div class="control">
                                        <input type="text" name="family_member2-locality" class="input" placeholder="Ingrese la localidad" required>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Provincia</label>
                                    <div class="control">
                                        <input type="text" name="family_member2-province" class="input" placeholder="Ingrese la provincia" required>
                                    </div>
                                </div>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <label class="label">Código de País</label>
                                    <div class="control">
                                        <input type="text" name="family_member2-phone_country_code" class="input" placeholder="Código de País" required>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Código de Área</label>
                                    <div class="control">
                                        <input type="text" name="family_member2-phone_area_code" class="input" placeholder="Código de Área" required>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Número de Teléfono</label>
                                    <div class="control">
                                        <input type="text" name="family_member2-phone_number" class="input" placeholder="Ingrese el número de teléfono" required maxlength="15">
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Correo Electrónico</label>
                                <div class="control">
                                    <input type="email" name="family_member2-email" class="input" placeholder="Ingrese el correo electrónico" required>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Nivel Educativo</label>
                                <div class="control">
                                    <select name="family_member2-education_level" class="select" required>
                                        <option value="">Seleccione el nivel educativo</option>
                                        {% for key, value in EducationLevelEnum.__members__.items() %}
                                        <option value="{{ key }}">{{ value.value }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Ocupación</label>
                                <div class="control">
                                    <input type="text" name="family_member2-occupation" class="input" placeholder="Ingrese la ocupación" required>
                                </div>
                            </div>
                            <button type="button" class="button is-danger remove-family-member">Eliminar</button>
                        </div>
                    </div>

                    <div id="work-assignments-info" class="tab-pane" style="display:none;">
                        <label class="label is-size-4">Asignaciones de Trabajo</label>
                        <div class="field">
                            <label class="label">{{ form.work_assignments.proposal.label }}</label>
                            <div class="control">
                                {{ form.work_assignments.proposal(class="select") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.work_assignments.condition.label }}</label>
                            <div class="control">
                                {{ form.work_assignments.condition(class="select") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.work_assignments.sede.label }}</label>
                            <div class="control">
                                {{ form.work_assignments.sede(class="select") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.work_assignments.days.label }}</label>
                            <div class="control">
                                <div class="select is-multiple"> 
                                        {{ form.work_assignments.days(multiple=True) }}
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.work_assignments.professor_or_therapist_id.label }}</label>
                            <div class="control">
                                {{ form.work_assignments.professor_or_therapist_id(class="input", type="number") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.work_assignments.conductor_id.label }}</label>
                            <div class="control">
                                {{ form.work_assignments.conductor_id(class="input", type="number") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.work_assignments.track_assistant_id.label }}</label>
                            <div class="control">
                                {{ form.work_assignments.track_assistant_id(class="input", type="number") }}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{ form.work_assignments.horse_id.label }}</label>
                            <div class="control">
                                {{ form.work_assignments.horse_id(class="input", type="number") }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field mt-5">
                    <div class="control">
                        <button class="button is-primary is-medium is-fullwidth" type="submit">
                            Agregar Jockey/Amazon
                            <span class="icon ml-1"><i class="fa-solid fa-pen-nib"></i></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Código existente para manejar las pestañas
            const tabs = document.querySelectorAll('.tabs li');
            const tabContent = document.querySelectorAll('.tab-pane');
    
            tabs.forEach(tab => {
                tab.addEventListener('click', () => {
                    tabs.forEach(item => item.classList.remove('is-active'));
                    tab.classList.add('is-active');
    
                    const target = tab.dataset.tab;
                    tabContent.forEach(content => {
                        if (content.id === target) {
                            content.style.display = 'block';
                        } else {
                            content.style.display = 'none';
                        }
                    });
                });
            });
    
            // Funcionalidad para agregar miembros de la familia
            const addFamilyMemberButton = document.querySelector('.add-family-member');
            const familyMemberContainer = document.getElementById('family-members-info');
            const secondFamilyMember = document.querySelector('.family-member[style="display: none;"]');
    
            addFamilyMemberButton.addEventListener('click', function () {
                secondFamilyMember.style.display = 'block';
                addFamilyMemberButton.style.display = 'none'; // Ocultar el botón después de agregar el segundo miembro
            });
    
            // Maneja el evento de eliminar un miembro de la familia
            familyMemberContainer.addEventListener('click', function (event) {
                if (event.target.classList.contains('remove-family-member')) {
                    const familyMember = event.target.closest('.family-member');
                    if (familyMember) {
                        familyMember.style.display = 'none'; // Ocultar en lugar de eliminar
                        
                        // Limpiar los campos
                        familyMember.querySelectorAll('input, select').forEach(input => {
                            input.value = '';
                        });
    
                        addFamilyMemberButton.style.display = 'block'; // Mostrar el botón de agregar nuevamente
                    }
                }
            });
    
            // Funcionalidad para mostrar/ocultar detalles de la beca
            const hasScholarshipCheckbox = document.querySelector('input[name="has_scholarship"]');
            const scholarshipDetails = document.getElementById('scholarship-details');
    
            function toggleScholarshipDetails() {
                if (hasScholarshipCheckbox.checked) {
                    scholarshipDetails.style.display = 'block';
                } else {
                    scholarshipDetails.style.display = 'none';
                }
            }
    
            hasScholarshipCheckbox.addEventListener('change', toggleScholarshipDetails);
            toggleScholarshipDetails();  // Initial check
    
            // Funcionalidad para mostrar/ocultar detalles de la discapacidad
            const hasDisabilityCheckbox = document.querySelector('input[name="has_disability"]');
            const disabilityDetails = document.getElementById('disability-details');
    
            function toggleDisabilityDetails() {
                if (hasDisabilityCheckbox.checked) {
                    disabilityDetails.style.display = 'block';
                } else {
                    disabilityDetails.style.display = 'none';
                }
            }
    
            hasDisabilityCheckbox.addEventListener('change', toggleDisabilityDetails);
            toggleDisabilityDetails();  // Initial check
    
            // Funcionalidad para mostrar/ocultar detalles de la asignación familiar
            const hasFamilyAssignmentCheckbox = document.querySelector('input[name="has_family_assignment"]');
            const familyAssignmentDetails = document.getElementById('family-assignment-details');
    
            function toggleFamilyAssignmentDetails() {
                if (hasFamilyAssignmentCheckbox.checked) {
                    familyAssignmentDetails.style.display = 'block';
                } else {
                    familyAssignmentDetails.style.display = 'none';
                }
            }
    
            hasFamilyAssignmentCheckbox.addEventListener('change', toggleFamilyAssignmentDetails);
            toggleFamilyAssignmentDetails();  // Initial check
    
            // Funcionalidad para mostrar/ocultar detalles de la curatela
            const hasCuratorshipCheckbox = document.querySelector('input[name="has_curatorship"]');
            const curatorshipDetails = document.getElementById('curatorship-details');
    
            function toggleCuratorshipDetails() {
                if (hasCuratorshipCheckbox.checked) {
                    curatorshipDetails.style.display = 'block';
                } else {
                    curatorshipDetails.style.display = 'none';
                }
            }
    
            hasCuratorshipCheckbox.addEventListener('change', toggleCuratorshipDetails);
            toggleCuratorshipDetails();  // Initial check
    
            // Funcionalidad para mostrar/ocultar detalles de la pensión
            const hasPensionCheckbox = document.querySelector('input[name="has_pension"]');
            const pensionDetails = document.getElementById('pension-details');
    
            function togglePensionDetails() {
                if (hasPensionCheckbox.checked) {
                    pensionDetails.style.display = 'block';
                } else {
                    pensionDetails.style.display = 'none';
                }
            }
    
            hasPensionCheckbox.addEventListener('change', togglePensionDetails);
            togglePensionDetails();  // Initial check
        });
    </script>
    
{% endblock %}