{% extends "layout.html" %}

{% block title %} Jinetes y Amazonas - Agregar Jinete y Amazona {% endblock %}

{% block main_content %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="{{ url_for('index_bp.home') }}">
                    <span class="icon is-small"><i class="fas fa-home" aria-hidden="true"></i></span>
                    <span>Inicio</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('jockey_amazon_bp.get_jockeys') }}">
                    <span class="icon is-small"><i class="fas fa-hat-cowboy" aria-hidden="true"></i></span>
                    <span>Jinetes y Amazonas</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="icon is-small"><i class="fas fa-add" aria-hidden="true"></i></span>
                    <span>Agregar Jinetes y Amazonas</span>
                </a>
            </li>
        </ul>
    </nav>

    <h1 class="title">Agregar Jinete/Amazona</h1>
    
    <h3 class="subtitle is-size-4 my-2 mt-4 has-text-centered">
        Agregando {% block step_name %}{% endblock %}
    </h3>
    <progress class="progress is-success is-medium" value="{% block step_number %}{% endblock %}" max="5">
    </progress>
    
    <section class="section pt-0">

        <article id="{% block section_id %}{% endblock %}" class="container">
            <form method="POST">
                {% block step_form %}{% endblock %}
                <div class="field-body mt-5">
                    <div class="field">
                        <div class="control">
                            {% block prev_button %}{% endblock %}
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            {% block next_button %}{% endblock %}
                        </div>
                    </div>
                </div>
            </form>
        </article>
    </section>
{% endblock %}
