{% extends "base_document_management.html" %}

{% block title %}Editar documento{% endblock %}

{% block breadcrumb_items %}
    <li>
      <a href="{{ url_for('jockey_amazon_bp.get_jockeys') }}">
        <span class="icon is-small">
          <i class="fas fa-user-tie" aria-hidden="true"></i>
        </span>
        <span>Jockeys</span>
      </a>
    </li>
    <li>
      <a href="{{ url_for('jockey_amazon_bp.show_jockey', jockey_id=jockey.id) }}">
        <span class="icon is-small">
          <i class="fas fa-user" aria-hidden="true"></i>
        </span>
        <span>{{ jockey.first_name }}</span>
      </a>
    </li>
    <li>
      <a href="{{ url_for('jockey_amazon_bp.edit_documents', jockey_id=jockey.id) }}">
        <span class="icon is-small">
          <i class="fa-solid fa-pen-nib"></i>
        </span>
        <span>Actualizar documentos</span>
      </a>
    </li>
    <li>
      <a href="{{ url_for('jockey_amazon_bp.edit_document', jockey_id=jockey.id, document_id=document.id) }}">
        <span class="icon is-small">
          <i class="fa-solid fa-pen-nib"></i>
        </span>
        <span>Documento: {{ document.title }}</span>
      </a>
    </li>
{% endblock %}

{% block visibility %}is-hidden{% endblock %}

{% block card_title %}
 Modificar documento
{% endblock %}

{% block filename %}
 {% if not document.is_link %}
        Se usará el archivo previamente cargado
      {% else %}
      {% endif %}
        No se ha seleccionado ningún archivo
{% endblock %}

{% block submit_label %}
 Modificar
{% endblock %}

{% block exit_button %}
 <a href="{{ url_for('jockey_amazon_bp.edit_documents', jockey_id=jockey.id) }}" class="button is-half is-danger">
        Cerrar
        <span class="icon ml-1">
            <i class="fa-solid fa-exit"></i>
        </span>
    </a>
{% endblock %}