{% extends "base_list.html" %}

{% block title %}Jinetes y Amazonas - CEDICA{% endblock %}

{% block breadcrumb_items %}
  <li>
    <a href="">
      <span class="icon is-small">
        <i class="fa-solid fa-hat-cowboy" aria-hidden="true"></i>
      </span>
      <span>Jinetes y Amazonas</span>
    </a>
  </li>
{% endblock %}

{% block inner_title %}
    <h2 class="title is-size-3 has-text-centered">
        Jinetes y Amazonas
    </h2>
{% endblock %}

{% block tabs %}
<div class="tabs is-medium is-toggle is-toggle-rounded is-centered">
  <ul>
    <li>
      <a href="{{ url_for('jockey_amazon_bp.get_jockeys')}}">
        <span class="icon is-small"><i class="fa-solid fa-users"></i></span>
        <span>Todos</span>
      </a>
    </li>
    <li class="is-active">
      <a href="{{ url_for('jockey_amazon_bp.get_deleted_jockeys')}}">
        <span class="icon is-small"><i class="fa-solid fa-box-archive"></i></span>
        <span>J&A Archivados</span>
      </a>
    </li>
  </ul>
</div>
{% endblock %}

{% block aditional_filters %}
<div class="field pb-3">
    <label class="label">{{ search_form.filter_debtors.label}}</label>
    <div class="control">
        <div class="select is-fullwidth">
            {{ search_form.filter_debtors() }}
        </div>
    </div>
  </div>
{% endblock %}


{% block form_action %}{{ url_for("jockey_amazon_bp.get_deleted_jockeys") }}{% endblock %}
{% block clear_url %}{{ url_for("jockey_amazon_bp.get_deleted_jockeys") }}{% endblock %}

{% block table_header %}
  <th>Nombre</th>
  <th>Apellido</th>
  <th>DNI</th>
  <th>Fecha de Nacimiento</th>
  <th>Teléfono</th>
  <th>Fecha de creación</th>
  <th>Propuesta de trabajo</th>
  <th>Tiene deudas</th>
{% endblock %}

{% block top_pagination %}
  {{ render_pagination(jockeys, 'jockey_amazon_bp.get_deleted_jockeys') }}
{% endblock %}

{% block table_body %}
  {% for jockey in jockeys %}
  <tr class="">
    <td class="is-hidden-mobile">
      {{
        render_actions_menu(
        field="jockey_id",
        value=jockey.id,
        to_left=true,
        endpoints={
          'show':'jockey_amazon_bp.show_jockey',
          'edit':'',
          'delete':'jockey_amazon_bp.delete_jockey'
        },
        permission_to_show="jya_show",
        permission_to_edit="jya_update",
        permission_to_delete="jya_destroy",
        user_permissions=permissions,
        is_admin=is_admin
        )
      }}
    </td>
    <td><span class="is-hidden-tablet has-text-weight-bold">Nombre: </span>{{ jockey.first_name }}</td>
    <td><span class="is-hidden-tablet has-text-weight-bold">Apellido: </span>{{ jockey.last_name }}</td>
    <td><span class="is-hidden-tablet has-text-weight-bold">DNI: </span>{{ jockey.dni }}</td>
    <td><span class="is-hidden-tablet has-text-weight-bold">Fecha de Nacimiento: </span>{{ jockey.birth_date.strftime('%d-%m-%Y') }}</td>
    <td><span class="is-hidden-tablet has-text-weight-bold">Teléfono: </span>{{ jockey.phone }}</td>
    <td><span class="is-hidden-tablet has-text-weight-bold">Fecha de creación: </span>{{ jockey.inserted_at.strftime('%d-%m-%Y') }}</td>
    <td><span class="is-hidden-tablet has-text-weight-bold">Propuesta de Trabajo: </span>{{ jockey.work_assignment.proposal.value }}</td>
    <td><span class="is-hidden-tablet has-text-weight-bold">Es deudor: </span>{{ jockey.has_debts | natural_boolean }}</td>
    <td class="is-hidden-tablet is-flex">
      <a href="{{ url_for('jockey_amazon_bp.show_jockey', jockey_id=jockey.id)}}" class="button is-flex-grow-1 ">
        <span class="is-bold">
            Ver en detalle
            <i class="fa-regular fa-eye ml-2"></i>
        </span>
      </a>
    </td>
  </tr>
  {% endfor %}
{% endblock %}

{% block table_footer %}
  <th>Nombre</th>
  <th>Apellido</th>
  <th>DNI</th>
  <th>Fecha de Nacimiento</th>
  <th>Teléfono</th>
  <th>Fecha de creación</th>
  <th>Propuesta de trabajo</th>
  <th>Tiene deudas</th>
{% endblock %}

{% block bottom_pagination %}
  {{ render_pagination(jockeys, 'jockey_amazon_bp.get_deleted_jockeys') }}
{% endblock %}

{% block delete_modal %}
  {{
    render_delete_modal(
      endpoint=url_for("jockey_amazon_bp.delete_jockey"),
      title="Eliminar",
      msg="¿Está seguro de que desea eliminar al Jinete/Amazona?",
      msg_sub="Luego de confirmar, no se podrán revertir los cambios",
      related_entities_text="Todos los archivos e información relacionada con el Jinete/Amazona será eliminada",
      delete_text="Eliminar"
    )
  }}
{% endblock %}