{% extends "base_show.html" %}

{% from "macros/file_icon.html" import render_file_icon %}
{% from "macros/boolean_tag.html" import render_boolean_tag %}
{% from "jockey_amazon/macros/parse_categories.html" import render_category %}


{% block title %}Jinete Amazona {{ jockey_amazon.first_name + " " + jockey_amazon.last_name }} - CEDICA{% endblock %}


{% block breadcrumb_items %}
<li>
    <a href="{{ url_for('jockey_amazon_bp.get_jockeys') }}">
            <span class="icon is-small">
                <i class="fas fa-hat-cowboy" aria-hidden="true"></i>
            </span>
        <span>Jinetes y Amazonas</span>
    </a>
</li>
<li>
    <a href="">
            <span class="icon is-small">
                <i class="fa-solid fa-user" aria-hidden="true"></i>
            </span>
        <span>{{ jockey_amazon.first_name + " " + jockey_amazon.last_name }}</span>
    </a>
</li>
{% endblock %}

{% block page_title %} 

<h2 class="title has-text-centered">Jockey Amazon: {{ jockey_amazon.first_name + " " + jockey_amazon.last_name }} </h2>
<div class="buttons is-centered has-addons is-medium">
    {% if jockey_amazon.is_deleted %}
        {% if "jockey_amazon_destroy" in permissions or is_admin %}
            <button class="button is-danger modal-trigger is-medium" data-id="{{ jockey_amazon.id }}" data-target="jockey-delete-modal">
                <span class="icon is-small">
                    <i class="fa fa-trash"></i>
                </span>
                <span>Eliminar</span>
            </button>
            <form action="{{ url_for('jockey_amazon_bp.recover_jockey') }}" method="POST" class="button is-primary is-medium">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="jockey_amazon_id" value="{{ jockey_amazon.id }}">
                <button type="submit" class="">
                    <span class="icon is-small">
                        <i class="fa fa-undo"></i>
                    </span>
                    <span>Recuperar</span>
                </button>
            </form>
        {% endif %}
    {% else %}
        {% if "jockey_amazon_destroy" in permissions or is_admin %}
            <button class="button is-danger modal-trigger is-medium" data-id="{{ jockey_amazon.id }}" data-target="jockey-delete-modal">
                <span class="icon is-small">
                    <i class="fa fa-archive"></i>
                </span>
                <span>Archivar</span>
            </button>
        {% endif %}
        {% if "jockey_amazon_update" in permissions or is_admin %}
            <button class="button is-link is-medium">
                <a class="has-text-black" href="{{ url_for('jockey_amazon_bp.update.edit_jockey', jockey_id=jockey_amazon.id) }}">
                    <span class="icon is-small">
                        <i class="fa fa-edit"></i>
                    </span>
                    <span>Actualizar</span>
                </a>
            </button>
        {% endif %}
    {% endif %}
</div>

{% endblock %}



{% block card_title %}
<span class="py-4">
    <p class="icon mr-2"><i class="fa-regular fa-clipboard is-size-3"></i></p>
    Ficha General
</span>
{% endblock %}

{% block close_button %} 
<button class="card-header-icon" aria-label="more options" id="toggle-search-button">
    <span class="icon">
    <i class="fas fa-angle-down" aria-hidden="true"></i>
    </span>
</button>
{% endblock %}

{% block banner %}
    {% if jockey_amazon.is_deleted %}
        <div class="is-flex is full-width is-justify-content-center has-background-danger p-4">
            <h2 class="title">Jinete/Amazona Archivado</h2>
        </div>
    {% endif %}
{% endblock %}


{% block card_content %}
{% if jockey_amazon %}
    <div class="grid is-col-min-16">
        <div id="basic-info" class="cell">
            <h3>
                <p class="icon mr-1"><i class="fa-solid fa-person-half-dress"></i></p>
                Información General
            </h3>
            <ul>
                <li><strong>Nombre: </strong>{{ jockey_amazon.first_name }}</li>
                <li><strong>Apellido: </strong> {{ jockey_amazon.last_name }}</li>
                <li><strong>DNI: </strong>{{ jockey_amazon.dni }}</li>
                <li><strong>Edad: </strong> <span id="jockey-age"></span></li>
                <li><strong>Fecha de nacimiento: </strong>{{ jockey_amazon.birth_date }}</li>
                <li><strong>Lugar de nacimiento: </strong>{{ jockey_amazon.birthplace }}</li>
                <li><strong>Telefono: </strong>(+{{ jockey_amazon.country_code }}) ({{ jockey_amazon.area_code }}) {{ jockey_amazon.phone }} </li>
                <li><strong>Dirección: </strong>{{ jockey_amazon.street }} {{ jockey_amazon.number }} {% if jockey_amazon.department %}{{ jockey_amazon.department }}{% endif %}, {{ jockey_amazon.locality }}, {{ jockey_amazon.province }}</li>
                <li><strong>Fecha de creación: </strong>{{ jockey_amazon.inserted_at | format_date }}</li>
                <li><strong>Última modificación: </strong>{{ jockey_amazon.updated_at | format_date }}</li>
            </ul>
        </div>
        <div id="health-info" class="cell">
            <div id="disability-info" class="cell">
                <h3>
                    <p class="icon mr-2"><i class="fa-solid fa-notes-medical"></i></p>
                    Información de Salud
                </h3>
                <ul>
                    <li><strong>Tiene discapacidad: </strong>{{ render_boolean_tag(jockey_amazon.has_disability) }}</li>
                    {% if jockey_amazon.has_disability %}
                    <li><strong>Diagnóstico: </strong>{{ jockey_amazon.disability_diagnosis.value }}</li>
                    <li><strong>Otro diagnóstico: </strong>{{ jockey_amazon.disability_other }}</li>
                    <li><strong>Tipo de discapacidad: </strong>{{ jockey_amazon.disability_type.value  }}</li>
                    {% endif %}
                </ul>
            </div>
            <div id="social-security-info" class="cell">
                <ul>
                    <li><strong>Obra Social: </strong>{{ jockey_amazon.social_security }}</li>
                    <li><strong>Número de seguridad social: </strong>{{ jockey_amazon.social_security_number }}</li>
                    <li><strong>¿Tiene pensión? </strong>
                        <span>{{ render_boolean_tag(jockey_amazon.has_pension) }}</span>
                    </li>
                    {% if jockey_amazon.has_pension %}
                    <li><strong>Tipo de pensión: </strong>{{ jockey_amazon.pension_type.value }}</li>
                    <li><strong>Detalles: </strong>{{ jockey_amazon.pension_details }}</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <div id="emergency-contact-info" class="cell box">
        <h4>
            <p class="icon mr-2"><i class="fa-solid fa-truck-medical"></i></p>
            Contacto de emergencia</h4>
        <ul>
            <li><strong>Contacto de emergencia: </strong> {{ jockey_amazon.emergency_contact_name }}</li>
            <li><strong>Telefono de emergencia: </strong>{{ jockey_amazon.emergency_contact_phone }}</li>
        </ul>
    </div>

    <div id="curatorship-info" class="cell box">
        <h4>
            <p class="icon mr-2"><i class="fa-solid fa-user-tie"></i></p>
            Información de curadoría</h4>
        <ul>
            <li><strong>Tiene curadoría: </strong>{{ render_boolean_tag(jockey_amazon.has_curatorship)  }}</li>
            {% if jockey_amazon.has_curatorship %}
            <li><strong>Observaciones: </strong>{{ jockey_amazon.curatorship_observations }}</li>
            {% endif %}
        </ul>
    </div>
    <div class="grid is-col-min-16 pt-4">
        <div id="school-info" class="cell">
            <h3>
                <p class="icon mr-2"><i class="fa-solid fa-graduation-cap"></i></p>
                Información Escolar
            </h3>
            <ul>
                <li><strong>Institución escolar: </strong>{{ jockey_amazon.school_institution.name }}</li>
                <li><strong>Calle: </strong>{{ jockey_amazon.school_institution.street }}</li>
                <li><strong>Número: </strong>{{ jockey_amazon.school_institution.number }}</li>
                {% if jockey_amazon.school_institution.department %}
                <li><strong>Departamento: </strong>{{ jockey_amazon.school_institution.department }}</li>
                {% endif %}
                <li><strong>Localidad: </strong>{{ jockey_amazon.school_institution.locality }}</li>
                <li><strong>Provincia: </strong>{{ jockey_amazon.school_institution.province }}</li>
                <li><strong>Número de teléfono: </strong>{{ jockey_amazon.school_institution.phone_country_code }} {{ jockey_amazon.school_institution.phone_area_code }} {{ jockey_amazon.school_institution.phone_number }}</li>
                <li><strong>Año de grado actual: </strong>{{ jockey_amazon.current_grade_year }}</li>
                <li><strong>Observaciones escolares: </strong>{{ jockey_amazon.school_observations }}</li>
            </ul>
        </div>
        <div id="work-assignment-info" class="cell">
            <h3>
                <p class="icon mr-2"><i class="fa-solid fa-briefcase"></i></p>
                Asignación de Trabajo
            </h3>
            <ul>
                <li><strong>Profesionales:</strong>{{ jockey_amazon.professionals }}</li>
            </ul>
            {% if jockey_amazon.work_assignment %}
                <ul>
                    <li><strong>Propuesta: </strong> 
                        {{ jockey_amazon.work_assignment.proposal.value }}
                    </li>
                    <li><strong>Condición: </strong> 
                        <span class="tag is-info">{{ jockey_amazon.work_assignment.condition.value }}</span>
                    </li>
                    <li><strong>Sede: </strong> 
                        <span class="tag is-info">{{ jockey_amazon.work_assignment.sede.value }}</span>
                    </li>
                    <li><strong>Asiste los días: </strong>
                        {% for day in jockey_amazon.work_assignment.days %}
                            <div class="tag is-info">{{ day.value }}{% if not loop.last %}, {% endif %}</div>
                        {% endfor %}

                    </li>
                    <li><strong>Profesor o Terapeuta: </strong> 
                        {% if jockey_amazon.work_assignment.profesor_or_therapist %}
                            {{ jockey_amazon.work_assignment.professor_or_therapist.name }}
                            {{ jockey_amazon.work_assignment.professor_or_therapist.lastname }}
                            <small class="is-size-7"><strong>DNI: </strong>{{ jockey_amazon.work_assignment.professor_or_therapist.dni }}</small>
                        {% else %}
                            Sin asignar
                        {% endif %}
                    </li>
                    <li><strong>Conductor: </strong> 
                        {% if jockey_amazon.work_assignment.conductor %}
                            {{ jockey_amazon.work_assignment.conductor.name }}
                            {{ jockey_amazon.work_assignment.conductor.lastname }}
                            <small class="is-size-7"><strong>DNI: </strong>{{ jockey_amazon.work_assignment.conductor.dni }}</small>
                        {% else %}
                            Sin asignar
                        {% endif %}
                    </li>
                    <li><strong>Asistente de pista: </strong>
                        {% if jockey_amazon.work_assignment.track_assistant %}
                            {{ jockey_amazon.work_assignment.track_assistant.name   }}
                            {{ jockey_amazon.work_assignment.track_assistant.lastname }}
                            <small class="is-size-7"><strong>DNI: </strong>{{ jockey_amazon.work_assignment.track_assistant.dni }}</small>
                        {% else %}
                            Sin asignar
                        {% endif %}
                    </li>
                    <li><strong>Caballo: </strong> 
                        {% if jockey_amazon.work_assignment.horse %}
                        {{ jockey_amazon.work_assignment.horse.name }}
                        <small class="is-size-7"><strong>Tipo: </strong>{{ jockey_amazon.work_assignment.horse.ja_type.value }}</small>
                        {% else %}
                        Sin asignar
                        {% endif %}
                    </li>
                </ul>
            {% else %}
                <p>No tiene asignación de trabajo</p>
            {% endif %}
        </div>
    </div>

    <div id="family-info" class="cell">
        <h3>
            <p class="icon mr-2"><i class="fa-solid fa-people-roof"></i></p>
            Informacion familiar</h3>

        <div id="family-assignment-info" class="">
            <ul>
                <li><strong>¿Tiene asignación familiar? </strong>{{ render_boolean_tag(jockey_amazon.has_family_assignment) }}</li>
                {% if jockey_amazon.has_family_assignment %}
                <li><strong>Tipo de asignación: </strong>{{ jockey_amazon.family_assignment_type.value }}</li>
                {% endif %}
            </ul>
        </div>
        
        <div class="pt-4" id="family-members-info">
            <h4 class="mt-4 has-text-centered">
                <p class="icon"><i class="fa-solid fa-people-group"></i></p>
                Miembros de la Familia</h4>
            <div id="family-members" class="">
                {% for family_member in jockey_amazon.family_members %}
                <div class="box">
                    <strong>Relación: </strong> {{ family_member.relationship }}<br>
                    <strong>Nombre: </strong> {{ family_member.first_name }} {{ family_member.last_name }}<br>
                    <strong>DNI: </strong> {{ family_member.dni }}<br>
                    <strong>Dirección: </strong> {{ family_member.street }} {{ family_member.number }} {% if family_member.department %}{{ family_member.department }}{% endif %}, {{ family_member.locality }}, {{ family_member.province }}<br>
                    <strong>Teléfono: </strong> (+{{ family_member.phone_country_code }}) ({{ family_member.phone_area_code }}) {{ family_member.phone_number }}<br>
                    <strong>Email: </strong> {{ family_member.email }}<br>
                    <strong>Nivel educativo: </strong> {{ family_member.education_level.value }}<br>
                    <strong>Ocupación: </strong> {{ family_member.occupation }}
                </div>
                <hr>
                {% else %}
                <p class="has-text-centered">No posee miembros familiares registrados</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% else %}
    <p>No se encontró el Jinete/Amazona</p>
{% endif %}
{% endblock %}


{% block additional_cards %}
<div id="organization-work" class="card">
    <header class="card-header py-4">
        <h2 class="card-header-title is-size-4">
            <p class="icon mr-3"><i class="fa-solid fa-users is-size-4"></i></p>
            Miembros Asignados
        </h2>
        <button class="card-header-icon" aria-label="more options" id="toggle-search-button">
            <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
        </button>
    </header>
    <div class="card-content pt-0">
        <div>
            <div class="grid is-col-min-6">
                <div id="therapist" class="cell mt-5 px-2">
                    <h3 class="title mb-3 has-text-centered is-size-5">
                        <span class="icon mr-2">
                            <i class="fa-solid fa-user-tie"></i>
                        </span> 
                        Profesor o Terapeuta
                        {% if jockey_amazon.work_assignment.professor_or_therapist  %}
                            <span class="tag is-info ml-2">
                                Es
                            {{ jockey_amazon.work_assignment.professor_or_therapist.position.value }}
                            </span>
                        {% else %}
                            <span class="tag is-warning ml-2">
                                Sin asignar
                            </span>
                        {% endif %}
                        {% if jockey_amazon.work_assignment.professor_or_therapist.is_deleted  %}
                            <span class="tag is-danger ml-2">
                                {{ jockey_amazon.work_assignment.professor_or_therapist.position.value }} archivado
                            </span>
                        {% endif %}
                    </h3>
                    {% if jockey_amazon.work_assignment.professor_or_therapist %}
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong class="is-size-5">
                                            {{ jockey_amazon.work_assignment.professor_or_therapist.name }}
                                            {{jockey_amazon.work_assignment.professor_or_therapist.lastname}} 
                                        </strong>
                                        <small>es miembro desde {{ jockey_amazon.work_assignment.professor_or_therapist.start_date | format_date }}</small>
                                    </p>
                                    <p>
                                        <strong>DNI: </strong>{{ jockey_amazon.work_assignment.professor_or_therapist.dni }}
                                        <br>
                                        <strong>Correo: </strong>{{ jockey_amazon.work_assignment.professor_or_therapist.email }}
                                        <br>
                                        <strong>Puesto laboral: </strong> {{jockey_amazon.work_assignment.professor_or_therapist.position.value }}
                                    </p>
                                </div>
                            </div>
                        </article>
                        {% if "jockey_amazon_update" in permissions or is_admin %}
                            <a href="{{ url_for("jockey_amazon_bp.update.unlink_professor", jockey_id=jockey_amazon.id )}}" class="button is-fullwidth is-small">Quitar</a>
                        {% endif  %}
                    </div>
                    {% else %}
                        {% if not jockey_amazon.is_deleted  %}
                            {% if "jockey_amazon_update" in permissions or is_admin %}
                                <a href="{{ url_for("jockey_amazon_bp.update.assign_professor_or_therapist", jockey_id=jockey_amazon.id ) }}" class="button is-fullwidth mt-3">
                                    Asignar Profesor o Terapeuta
                                </a>
                            {% endif %}
                        {% else %}
                            <p class="has-text-grey has-text-centered mt-3">No se puede asociar un terapeuta a un jinete archivado</p>
                        {% endif %}

                    {% endif %}
                </div>
                <div id="conductor" class="cell mt-5 px-2">
                    <h3 class="title has-text-centered mb-3 is-size-5">
                        <span class="icon mr-2">
                            <i class="fa-regular fa-life-ring"></i>
                        </span>
                        Conductor
                        {% if not jockey_amazon.work_assignment.conductor  %}
                            <span class="tag is-warning ml-2">
                                Sin asignar
                            </span>
                        {% endif %}
                        {% if jockey_amazon.work_assignment.conductor.is_deleted  %}
                            <span class="tag is-danger ml-2">
                                Conductor archivado
                            </span>
                        {% endif %}
                    </h3>
                    {% if jockey_amazon.work_assignment.conductor %}
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong class="is-size-5">
                                            {{ jockey_amazon.work_assignment.conductor.name }}
                                            {{jockey_amazon.work_assignment.conductor.lastname}} 
                                        </strong>
                                        <small>es miembro desde {{ jockey_amazon.work_assignment.conductor.start_date | format_date }}</small>
                                    </p>
                                    <p>
                                        <strong>DNI: </strong>{{ jockey_amazon.work_assignment.conductor.dni }}
                                        <br>
                                        <strong>Correo: </strong>{{ jockey_amazon.work_assignment.conductor.email }}
                                        <br>
                                        <strong>Puesto laboral: </strong> {{jockey_amazon.work_assignment.conductor.position.value }}
                                    </p>
                                </div>
                            </div>
                        </article>
                        {% if "jockey_amazon_update" in permissions or is_admin %}
                        <a href="{{ url_for("jockey_amazon_bp.update.unlink_conductor", jockey_id=jockey_amazon.id ) }}" class="button is-fullwidth mt-3">
                            Quitar
                        </a>
                        {% endif %}
                    </div>
                    {% else %}
                        {% if not jockey_amazon.is_deleted %}
                            {% if "jockey_amazon_update" in permissions or is_admin %}
                                <a href="{{ url_for("jockey_amazon_bp.update.assign_conductor", jockey_id=jockey_amazon.id ) }}" class="button is-fullwidth mt-3">
                                    Asignar Conductor
                                </a>
                            {% endif %}
                        {% else %}
                            <p class="has-text-grey has-text-centered mt-3">No se puede asociar un conductor a un jinete archivado</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="grid is-col-min-16">
                <div id="assistant" class="mt-5 px-2">
                    <h3 class="title mb-3 is-size-5 has-text-centered">
                        <span class="icon mr-2">
                            <i class="fa-solid fa-hat-cowboy-side"></i>
                        </span>
                        Asistente de pista
                        {% if not jockey_amazon.work_assignment.track_assistant  %}
                        <span class="tag is-warning ml-2">
                            Sin asignar
                        </span>
                        {% endif %}
                        {% if jockey_amazon.work_assignment.track_assistant.is_deleted %}
                            <span class="tag is-danger ml-2">
                                Asistente de pista archivado
                            </span>
                        {% endif %}
                    </h3>
                    {% if jockey_amazon.work_assignment.track_assistant %}
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong class="is-size-5">
                                            {{ jockey_amazon.work_assignment.track_assistant.name }}
                                            {{jockey_amazon.work_assignment.track_assistant.lastname}} 
                                        </strong>
                                        <small>es miembro desde {{ jockey_amazon.work_assignment.track_assistant.start_date | format_date }}</small>
                                    </p>
                                    <p>
                                        <strong>DNI: </strong>{{ jockey_amazon.work_assignment.track_assistant.dni }}
                                        <br>
                                        <strong>Correo: </strong>{{ jockey_amazon.work_assignment.track_assistant.email }}
                                        <br>
                                        <strong>Puesto laboral: </strong> {{jockey_amazon.work_assignment.track_assistant.position.value }}
                                    </p>
                                </div>
                            </div>
                        </article>
                        {% if "jockey_amazon_update" in permissions or is_admin %}
                            <a href="{{ url_for("jockey_amazon_bp.update.unlink_track_assistant", jockey_id=jockey_amazon.id ) }}" class="button is-fullwidth mt-3">
                                Quitar
                            </a>
                        {% endif %}
                    </div>
                    {% else %}
                        {% if not jockey_amazon.is_deleted %}
                            {% if "jockey_amazon_update" in permissions or is_admin %}
                                <a href="{{ url_for("jockey_amazon_bp.update.assign_track_assistant", jockey_id=jockey_amazon.id ) }}" class="button is-fullwidth mt-3">
                                    Asignar Asistente de Pista
                                </a>
                            {% endif %}
                        {% else %}
                            <p class="has-text-grey has-text-centered mt-3">No se puede asociar un asistente de pista a un jinete archivado</p>
                        {% endif %}
                    {% endif %}
                    
                </div>
                <div class="horse mt-5 px-2">
                    <h3 class="title mb-3 is-size-5 has-text-centered">
                        <span class="icon mr-2">
                            <i class="fa-solid fa-horse-head"></i>
                        </span>
                        Caballo
                        {% if not jockey_amazon.work_assignment.horse  %}
                        <span class="tag is-warning ml-2">
                            Sin asignar
                        </span>
                        {% endif %}
                        {% if jockey_amazon.work_assignment.horse.is_archived %}
                            <span class="tag is-danger ml-2">
                                Caballo archivado
                            </span>
                        {% endif %}
                    </h3>
                    {% if jockey_amazon.work_assignment.horse %}
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong class="is-size-5">
                                            {{ jockey_amazon.work_assignment.horse.name }}
                                            {{jockey_amazon.work_assignment.horse.lastname}} 
                                        </strong>
                                        <small>admitido en {{ jockey_amazon.work_assignment.horse.admission_date | format_date }}</small>
                                    </p>
                                    <p>
                                        <strong>Locacion asignada:: </strong>{{ jockey_amazon.work_assignment.horse.assigned_facility }}
                                        <br>
                                        <strong>Sexo: </strong>{{ jockey_amazon.work_assignment.horse.sex }}
                                        <br>
                                        <strong>Jinete y Amazona asignado: </strong> {{jockey_amazon.work_assignment.horse.ja_type.value }}
                                    </p>
                                </div>
                            </div>
                        </article>
                        {% if "jockey_amazon_update" in permissions or is_admin %}
                        <a href="{{ url_for("jockey_amazon_bp.update.unlink_horse", jockey_id=jockey_amazon.id ) }}" class="button is-fullwidth mt-3">
                            Quitar
                        </a>      
                        {% endif %}              
                    </div>
                    {% else %}
                        {% if not jockey_amazon.is_deleted %}
                            {% if "jockey_amazon_update" in permissions or is_admin %}
                                <a href="{{ url_for("jockey_amazon_bp.update.assign_horse", jockey_id=jockey_amazon.id ) }}" class="button is-fullwidth mt-3">
                                    Asignar Caballo
                                </a>
                            {% endif %}
                        {% else %}
                            <p class="has-text-grey has-text-centered mt-3">No se puede asociar un caballo a un jinete archivado</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="documents" class="card">
    <header class="card-header py-4">
        <h2 class="card-header-title is-size-4">
            <span class="icon mr-3 is-size-4"><i class="fa-regular fa-folder-open"></i></span>
            Documentación Complementaria
            {% if jockey_amazon.files | length  > 0 %} 
                <span class="tag is-medium is-success ml-2">Total: {{ jockey_amazon.files | length }}</span> 
            {% else %}
                <span class="tag is-medium is-info ml-2">No posee</span>
            {% endif %}
        </h2>
        <button class="card-header-icon" aria-label="more options" id="toggle-search-button">
            <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
        </button>
    </header>
    <div class="card-content pt-0">
        <div class="content">
            {% if jockey_amazon.files %}
                {% for file in jockey_amazon.files[:5] %}
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            {{ render_file_icon(file.filetype, size=1) }}
                        </div>
                        <div class="media-content ml-2">
                        <div class="content">
                            <p>
                            <strong>{{ render_category(file.tag) }}</strong>
                            <small>{{ file.inserted_at | format_date }}</small>
                            <br />
                            {{ file.title }}
                            </p>
                        </div>
                        </div>
                    </article>
                </div>
                <footer class="card-footer">
                    <a href="{{ url_for("jockey_amazon_bp.edit_documents", jockey_id=jockey_amazon.id )}}" class="card-footer-item has-text-link">Ver todos</a>
                </footer>
                {% endfor %}
            {% else %}
                <p>No se se ha subido ningun documento</p>
                {% if "equipo_update" in permissions or is_admin %}
                <footer class="card-footer">
                    {% if not jockey_amazon.is_deleted %}
                        <a href="{{ url_for("jockey_amazon_bp.create_document", jockey_id=jockey_amazon.id )}}" class="card-footer-item">Agregar</a>
                    {% else %}
                        <a href="{{ url_for("jockey_amazon_bp.edit_documents", jockey_id=jockey_amazon.id )}}" class="card-footer-item">Ver</a>
                    {% endif %}
                </footer>
                {% endif%}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block modal %}
    {% if jockey_amazon.is_deleted %}
        {{
            render_delete_modal(
                field="jockey",
                endpoint=url_for("jockey_amazon_bp.delete_jockey", jockey_amazon_id=jockey_amazon.id),
                title="Eliminar",
                msg="¿Está seguro de que desea eliminar este Jinete/Amazona?",
                msg_sub="Luego de confirmar, no se podrán revertir los cambios"
            )
        }}
    {% else %}
        {{
            render_delete_modal(
                field="jockey",
                endpoint=url_for("jockey_amazon_bp.archive_jockey", jockey_amazon_id=jockey_amazon.id),
                title="Archivar",
                msg="¿Está seguro de que desea archivar este Jinete/Amazona?",
                msg_sub="",
                delete_text="Archivar"
            )
        }}
    {% endif %}
{% endblock %}


{% block extra_scripts %}
{{super()}}
<script src="{{ url_for('static', filename='js/toggle-search-bar.js') }}"></script>
<script>
    function calculateAge(birthDate) {
        const today = new Date();
        const birth = new Date(birthDate);
        let age = today.getFullYear() - birth.getFullYear();
        const monthDiff = today.getMonth() - birth.getMonth();
        if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < birth.getDate())) {
            age--;
        }
        return age;
    }
    
    document.getElementById('jockey-age').textContent = calculateAge('{{ jockey_amazon.birth_date }}');
    </script>

{% endblock %}