{% extends "base_list.html" %}

{% block title %}Jinetes y Amazonas - CEDICA{% endblock %}

{% block breadcrumb_items %}
  <li>
    <a href="">
      <span class="icon is-small">
        <i class="fa-solid fa-hat-cowboy" aria-hidden="true"></i>
      </span>
      <span>Jinetes y Amazonas</span>
    </a>
  </li>
{% endblock %}

{% block inner_title %}
  Jinetes y Amazonas
{% endblock %}

{% block create_button %}
  <a class="button is-primary level-item" href="{{ url_for('jockey_amazon_bp.create_jockey_amazon.init')}}">
    Agregar Jinete/Amazona
    <i class="fa-solid fa-hat-cowboy ml-2 is-size-5"></i>
  </a>
{% endblock %}

{% block form_action %}{{ url_for("jockey_amazon_bp.get_jockeys") }}{% endblock %}
{% block clear_url %}{{ url_for("jockey_amazon_bp.get_jockeys") }}{% endblock %}

{% block table_header %}
  <th></th>
  <th>Nombre</th>
  <th>Apellido</th>
  <th>DNI</th>
  <th>Fecha de Nacimiento</th>
  <th>Teléfono</th>
  <th>Fecha de creación</th>
  <th>Propuesta de trabajo</th>
{% endblock %}

{% block top_pagination %}
  {{ render_pagination(jockeys, 'jockey_amazon_bp.get_jockeys') }}
{% endblock %}

{% block table_body %}
  {% for jockey in jockeys %}
  <tr class="">
    <td class="is-hidden-mobile">
      {{
        render_actions_menu(
        field="jockey_id",
        value=jockey.id,
        to_left=true,
        endpoints={
          'show':'jockey_amazon_bp.show_jockey',
          'edit': 'jockey_amazon_bp.edit_jockey',
          'delete':''
        },
        permission_to_show="jockey_amazon_show",
        permission_to_edit="jockey_amazon_update",
        permission_to_delete="jockey_amazon_destroy",
        user_permissions=permissions,
        is_admin=is_admin
        )
      }}
    </td>
    <td><span class="is-hidden-tablet has-text-weight-bold">Nombre: </span>{{ jockey.first_name }}</td>
    <td><span class="is-hidden-tablet has-text-weight-bold">Apellido: </span>{{ jockey.last_name }}</td>
    <td><span class="is-hidden-tablet has-text-weight-bold">DNI: </span>{{ jockey.dni }}</td>
    <td><span class="is-hidden-tablet has-text-weight-bold">Fecha de Nacimiento: </span>{{ jockey.birth_date.strftime('%d-%m-%Y') }}</td>
    <td><span class="is-hidden-tablet has-text-weight-bold">Teléfono: </span>{{ jockey.phone }}</td>
    <td><span class="is-hidden-tablet has-text-weight-bold">Fecha de creación: </span>{{ jockey.inserted_at.strftime('%d-%m-%Y') }}</td>
    <td><span class="is-hidden-tablet has-text-weight-bold">Propuesta de Trabajo: </span>{{ jockey.work_assignment.proposal.value }}</td>
    <td class="is-hidden-tablet is-flex">
      <a href="{{ url_for('jockey_amazon_bp.show_jockey', jockey_id=jockey.id)}}" class="button is-flex-grow-1 ">
        <span class="is-bold">
            Ver en detalle
            <i class="fa-regular fa-eye ml-2"></i>
        </span>
      </a>
    </td>
  </tr>
  {% endfor %}
{% endblock %}

{% block table_footer %}

{% endblock %}

{% block bottom_pagination %}
  {{ render_pagination(jockeys, 'jockey_amazon_bp.get_jockeys') }}
{% endblock %}

{% block delete_modal %}
  {{
    render_delete_modal(
      endpoint="jockey_amazon_bp.delete_jockey",
      title="Eliminar",
      msg="¿Está seguro de que desea eliminar al jockey?",
      msg_sub="Luego de confirmar, no se podrán revertir los cambios"
    )
  }}
{% endblock %}