{% extends "layout.html" %}

{% block title %}Jockeys - Actualizar Jockey{% endblock %}

{% block main_content %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="{{ url_for('index_bp.home') }}">
        <span class="icon is-small">
          <i class="fas fa-home" aria-hidden="true"></i>
        </span>
                    <span>Inicio</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('jockey_amazon_bp.get_jockeys') }}">
        <span class="icon is-small">
          <i class="fas fa-hat-cowboy" aria-hidden="true"></i>
        </span>
                    <span>Jockeys</span>
                </a>
            </li>
            <li>
                <a href="">
        <span class="icon is-small">
          <i class="fa-solid fa-pen-nib"></i>
        </span>
                    <span>Actualizar Jockey</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <h4 class="title is-fullwidth has-text-centered">Actualizando a {{ jockey.first_name }} {{ jockey.last_name }}</h4>
        <div class="tabs is-toggle is-fullwidth is-toggle-rounded is-centered is-medium">
            <ul>
                <li class="is-active">
                    <a>
                          <span class="icon is-small">
                              <i class="fa fa-info-circle" aria-hidden="true"></i>
                          </span>
                        <span>Informacion General</span>
                    </a>
                </li>
                <li>
                    <a>
                          <span class="icon is-small">
                              <i class="far fa-file-alt" aria-hidden="true"></i>
                          </span>
                        <span>Documentacion Anexa</span>
                    </a>
                </li>
            </ul>
        </div>

        <section class="section pt-4">
        <form method="POST" class="">
            {{ form.hidden_tag() }}
            <label class="label is-size-4">Datos del Jockey</label>
            <div class="field">
                <label class="label">{{ form.first_name.label }}</label>
                <div class="control">
                    {{ form.first_name(class="input", placeholder="Ingrese el nombre del jockey") }}
                </div>
                {% if form.first_name.errors %}
                    <p class="help is-danger">{{ form.first_name.errors[0] }}</p>
                {% endif %}
            </div>

            <div class="field">
                <label class="label">{{ form.last_name.label }}</label>
                <div class="control">
                    {{ form.last_name(class="input", placeholder="Ingrese el apellido del jockey") }}
                </div>
                {% if form.last_name.errors %}
                    <p class="help is-danger">{{ form.last_name.errors[0] }}</p>
                {% endif %}
            </div>

            <div class="field">
                <label class="label">{{ form.dni.label }}</label>
                <div class="control">
                    {{ form.dni(class="input", placeholder="Ingrese el DNI del jockey") }}
                </div>
                {% if form.dni.errors %}
                    <p class="help is-danger">{{ form.dni.errors[0] }}</p>
                {% endif %}
            </div>

            <div class="field">
                <label class="label">{{ form.birth_date.label }}</label>
                <div class="control">
                    {{ form.birth_date(class="input", type="date") }}
                </div>
                {% if form.birth_date.errors %}
                    <p class="help is-danger">{{ form.birth_date.errors[0] }}</p>
                {% endif %}
            </div>

            <div class="field">
                <label class="label">{{ form.address.label }}</label>
                <div class="control">
                    {{ form.address(class="input", placeholder="Ingrese la dirección del jockey") }}
                </div>
                {% if form.address.errors %}
                    <p class="help is-danger">{{ form.address.errors[0] }}</p>
                {% endif %}
            </div>

            <div class="field">
                <label class="label">{{ form.phone.label }}</label>
                <div class="control">
                    {{ form.phone(class="input", placeholder="Ingrese el teléfono del jockey") }}
                </div>
                {% if form.phone.errors %}
                    <p class="help is-danger">{{ form.phone.errors[0] }}</p>
                {% endif %}
            </div>

            <div class="field">
                <label class="label">{{ form.work_condition.label }}</label>
                <div class="control">
                    <div class="select">
                        {{ form.work_condition() }}
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">{{ form.work_proposal.label }}</label>
                <div class="control">
                    <div class="select">
                        {{ form.work_proposal() }}
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">{{ form.family_assignment.label }}</label>
                <div class="control">
                    <div class="select">
                        {{ form.family_assignment() }}
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">Guardar cambios</button>
                </div>
            </div>
        </form>
    </div>
    </section>
{% endblock %}
{% block extra_scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/toggle-trainers.js') }}"></script>
{% endblock %}