{% extends "layout.html" %}

{% from "macros/flash_message.html" import render_flash_messages %}

{% block title %}Jockeys - Actualizar Jockey{% endblock %}


{% block main_content %}
<nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="{{ url_for('index_bp.home') }}">
                    <span class="icon is-small">
                        <i class="fas fa-home" aria-hidden="true"></i>
                    </span>
                    <span>Inicio</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('jockey_amazon_bp.get_jockeys') }}">
                    <span class="icon is-small">
                        <i class="fas fa-hat-cowboy" aria-hidden="true"></i>
                    </span>
                    <span>Jinetes y Amazonas</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="icon is-small">
                        <i class="fa-solid fa-pen-nib"></i>
                    </span>
                    <span>Actualizar Jockey</span>
                </a>
            </li>
        </ul>
    </nav>
    
    <div class="container">
        <div class="py-2">{{ render_flash_messages(messages) }}</div>
        <h1 class="title is-fullwidth has-text-centered mt-0">Actualizando a {{ jockey.first_name }} {{ jockey.last_name }}</h1>
        <div class="tabs is-toggle is-fullwidth is-toggle-rounded is-centered is-medium">
            <ul>
                <li class="is-active">
                    <a>
                          <span class="icon is-small">
                              <i class="fa fa-info-circle" aria-hidden="true"></i>
                          </span>
                        <span>Informacion General</span>
                    </a>
                </li>
                <li>
                    <a>
                          <span class="icon is-small">
                              <i class="far fa-file-alt" aria-hidden="true"></i>
                          </span>
                        <span>Documentacion Anexa</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <section id="general-information" class="mt-5">
        <div class="card">
            <header class="card-header py-3">
                <h2 class="card-header-title is-size-5">Informacion General</h2>
                <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
                </button>
            </header>
            <div class="card-content" style="display: none;">
                <div class="content">
                    <form method="POST">
                        {% include './jockey_amazon/forms/general_form.html' %}

                        <div class="mt-5">{{ general_form.submit(class="button is-primary is-outlined is-fullwidth")}}</div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section id="health-information" class="mt-5">
        <div class="card">
            <header class="card-header py-3">
                <h2 class="card-header-title is-size-5">Informacion de Salud</h2>
                <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
                </button>
            </header>
            <div class="card-content" style="display: none;">
                <div class="content">
                    <form method="POST">
                        {% include './jockey_amazon/forms/health_form.html' %}
                        <div class="mt-5">{{ health_form.submit(class="button is-primary is-outlined is-fullwidth")}}</div>
                    </form>
                </div>

            </div>
        </div>
    </section>

    <section id="family-information" class="mt-5">
        <div class="card">
            <header class="card-header py-3">
                <h2 class="card-header-title is-size-5">Informacion Familiar</h2>
                <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
                </button>
            </header>
            <div class="card-content" style="display: none;">
                <div class="content">
                    <form method="POST">

                    </form>
                </div>
            </div>
        </div>
    </section>

    <section id="school-information" class="mt-5">
        <div class="card">
            <header class="card-header py-3">
                <h2 class="card-header-title is-size-5">Informacion Escolar</h2>
                <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
                </button>
            </header>
            <div class="card-content" style="display: none;">
                <div class="content">
                    <form method="POST">
                        {% include './jockey_amazon/forms/educational_form.html' %}
                    <div class="mt-5">{{ education_form.submit(class="button is-primary is-outlined is-fullwidth")}}</div>
                    </form>
                </div>
            </div>

        </div>
    </section>
    <section id="work-assignments" class="mt-5">
        <div class="card">
            <header class="card-header py-3">
                <h2 class="card-header-title is-size-5">Asignaciones de Trabajo</h2>
                <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
                </button>
            </header>
            <div class="card-content" style="display: none;">
                <div class="content">
                    <form method="POST">
                        {% include './jockey_amazon/forms/work_assignments_form.html' %}
                        <div class="mt-5">{{ assignments_form.submit(class="button is-primary is-outlined is-fullwidth")}}</div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <a href="{{ url_for("jockey_amazon_bp.get_jockeys" )}}" class="button mt-2 is-fullwidth is-medium">Volver</a>

{% endblock %}
{% block extra_scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/toggle-search-bar.js') }}"></script>
<script>
    // Funcionalidad para mostrar/ocultar detalles de la discapacidad
    const hasDisabilityCheckbox = document.querySelector('input[name="has_disability"]');
    const disabilityDetails = document.getElementById('disability-details');

    function toggleDisabilityDetails() {
        if (hasDisabilityCheckbox.checked) {
            disabilityDetails.style.display = 'block';
        } else {
            disabilityDetails.style.display = 'none';
        }
    }

    hasDisabilityCheckbox.addEventListener('change', toggleDisabilityDetails);
    toggleDisabilityDetails();  // Initial check

  // Funcionalidad para mostrar/ocultar detalles de la curatela
  const hasCuratorshipCheckbox = document.querySelector('input[name="has_curatorship"]');
  const curatorshipDetails = document.getElementById('curatorship-details');

  function toggleCuratorshipDetails() {
      if (hasCuratorshipCheckbox.checked) {
          curatorshipDetails.style.display = 'block';
      } else {
          curatorshipDetails.style.display = 'none';
      }
  }

  hasCuratorshipCheckbox.addEventListener('change', toggleCuratorshipDetails);
  toggleCuratorshipDetails();  // Initial check

      // Funcionalidad para mostrar/ocultar detalles de la beca
      const hasScholarshipCheckbox = document.querySelector('input[name="has_scholarship"]');
    const scholarshipDetails = document.getElementById('scholarship-details');

    function toggleScholarshipDetails() {
        if (hasScholarshipCheckbox.checked) {
            scholarshipDetails.style.display = 'block';
        } else {
            scholarshipDetails.style.display = 'none';
        }
    }
    hasScholarshipCheckbox.addEventListener('change', toggleScholarshipDetails);
      toggleScholarshipDetails();  // Initial check
  
      // Funcionalidad para agregar miembros de la familia
      const addFamilyMemberButton = document.getElementById('add-family-member');
    const familyMemberContainer = document.getElementById('family-members');
    const secondFamilyMember = document.querySelector('.family-member[data-id="2"]');

    addFamilyMemberButton.addEventListener('click', function () {
      secondFamilyMember.style.display = 'block';
      addFamilyMemberButton.style.display = 'none'; // Ocultar el botón después de agregar el segundo miembro
    });

    // Maneja el evento de eliminar un miembro de la familia
    familyMemberContainer.addEventListener('click', function (event) {
      if (event.target.classList.contains('remove-family-member')) {
          const familyMember = event.target.closest('.family-member');
          if (familyMember) {
              familyMember.style.display = 'none'; // Ocultar en lugar de eliminar
              
              // Limpiar los campos
              familyMember.querySelectorAll('input, select').forEach(input => {
                  input.value = '';
                  input.required = false
              });

              addFamilyMemberButton.style.display = 'block'; // Mostrar el botón de agregar nuevamente
          }
      }
    });
    // Funcionalidad para mostrar/ocultar detalles de la asignación familiar
    const hasFamilyAssignmentCheckbox = document.querySelector('input[name="has_family_assignment"]');
    const familyAssignmentDetails = document.getElementById('family-assignment-details');

    function toggleFamilyAssignmentDetails() {
        if (hasFamilyAssignmentCheckbox.checked) {
            familyAssignmentDetails.style.display = 'block';
        } else {
            familyAssignmentDetails.style.display = 'none';
        }
    }

    hasFamilyAssignmentCheckbox.addEventListener('change', toggleFamilyAssignmentDetails);
    toggleFamilyAssignmentDetails();  // Initial check
    // Funcionalidad para mostrar/ocultar detalles de la pensión
    const hasPensionCheckbox = document.querySelector('input[name="has_pension"]');
    const pensionDetails = document.getElementById('pension-details');

    function togglePensionDetails() {
        if (hasPensionCheckbox.checked) {
            pensionDetails.style.display = 'block';
        } else {
            pensionDetails.style.display = 'none';
        }
    }

    hasPensionCheckbox.addEventListener('change', togglePensionDetails);
    togglePensionDetails();  // Initial check
</script>
{% endblock %}
