{% extends "layout.html" %}

{% from "macros/flash_message.html" import render_flash_messages %}

{% block title %}Jockeys - Actualizar Jockey{% endblock %}


{% block main_content %}
<nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="{{ url_for('index_bp.home') }}">
                    <span class="icon is-small">
                        <i class="fas fa-home" aria-hidden="true"></i>
                    </span>
                    <span>Inicio</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('jockey_amazon_bp.get_jockeys') }}">
                    <span class="icon is-small">
                        <i class="fas fa-hat-cowboy" aria-hidden="true"></i>
                    </span>
                    <span>Jinetes y Amazonas</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('jockey_amazon_bp.show_jockey', jockey_id=jockey.id) }}">
                  <span class="icon is-small">
                    <i class="fas fa-user" aria-hidden="true"></i>
                  </span>
                  <span>{{ jockey.general_information.first_name }} {{ jockey.general_information.last_name }}</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="icon is-small">
                        <i class="fa-solid fa-pen-nib"></i>
                    </span>
                    <span>Actualizar Jockey</span>
                </a>
            </li>
        </ul>
    </nav>
    
    <div class="container">
        <div class="py-2">{{ render_flash_messages(messages) }}</div>
        <h1 class="title is-fullwidth has-text-centered mt-0">Editando el perfil de 
            {{ jockey.general_information.first_name }} {{ jockey.general_information.last_name }}</h1>
        <div class="tabs is-toggle is-fullwidth is-toggle-rounded is-centered is-medium">
            <ul>
                <li class="is-active">
                    <a>
                          <span class="icon is-small">
                              <i class="fa fa-info-circle" aria-hidden="true"></i>
                          </span>
                        <span>Información General</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for("jockey_amazon_bp.edit_documents", jockey_id=jockey.id ) }}">
                          <span class="icon is-small">
                              <i class="far fa-file-alt" aria-hidden="true"></i>
                          </span>
                        <span>Documentación Anexa</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <section id="general-information" class="mt-5">
        <div class="card">
            <header class="card-header py-3">
                <h2 class="card-header-title is-size-5">
                    <p class="icon mr-2"><i class="fa-regular fa-clipboard is-size-4"></i></p>
                    Información General
                </h2>
                <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
                </button>
            </header>
            <div class="card-content" {% if not open_tab == "general_information" %} style="display: none;" {% endif %} >
                <div class="content">
                    <form method="POST">
                        {% include './jockey_amazon/forms/general_form.html' %}

                        <div class="mt-5">{{ general_form.submit(class="button is-primary is-outlined is-fullwidth")}}</div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section id="health-information" class="mt-5">
        <div class="card">
            <header class="card-header py-3">
                <h2 class="card-header-title is-size-5">
                    <p class="icon mr-2"><i class="fa-solid fa-notes-medical"></i></p>
                    Información de Salud
                </h2>
                <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
                </button>
            </header>
            <div class="card-content" {% if not open_tab == "health_information" %} style="display: none;" {% endif %} >
                <div class="content">
                    <form method="POST">
                        {% include './jockey_amazon/forms/health_form.html' %}
                        <div class="mt-5">{{ health_form.submit(class="button is-primary is-outlined is-fullwidth")}}</div>
                    </form>
                </div>

            </div>
        </div>
    </section>

    <section id="family-information" class="mt-5">
        <div class="card">
            <header class="card-header py-3">
                <h2 class="card-header-title is-size-5">
                    <p class="icon mr-2"><i class="fa-solid fa-people-roof"></i></p>
                    Información Familiar
                </h2>
                <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
                </button>
            </header>
            <div
                class="card-content" {% if not open_tab == "family_information" %} style="display: none;" {% endif %}>
                <div class="content">
                    <form method="POST">
                        {% include './jockey_amazon/forms/family_form.html' %}
                        <div class="mt-5">{{ family_form.submit(class="button is-primary is-fullwidth")}}</div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section id="school-information" class="mt-5">
        <div class="card">
            <header class="card-header py-3">
                <h2 class="card-header-title is-size-5">
                    <p class="icon mr-2"><i class="fa-solid fa-graduation-cap"></i></p>
                    Información Escolar
                </h2>
                <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
                </button>
            </header>
            <div class="card-content" {% if not open_tab == "school_information" %} style="display: none;" {% endif %} >
                <div class="content">
                    <form method="POST">
                        {% include './jockey_amazon/forms/educational_form.html' %}
                    <div class="mt-5">{{ education_form.submit(class="button is-primary is-outlined is-fullwidth")}}</div>
                    </form>
                </div>
            </div>

        </div>
    </section>
    <section id="work-assignments" class="mt-5">
        <div class="card">
            <header class="card-header py-3">
                <h2 class="card-header-title is-size-5">
                    <p class="icon mr-2"><i class="fa-solid fa-briefcase"></i></p>
                    Asignaciones de Trabajo
                </h2>
                <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
                </button>
            </header>
            <div class="card-content" {% if not open_tab == "work_assignment_information" %} style="display: none;" {% endif %} >
                <div class="content">
                    <form method="POST">
                        {% include './jockey_amazon/forms/work_assignments_form.html' %}
                        <div class="mt-5">{{ assignments_form.submit(class="button is-primary is-outlined is-fullwidth")}}</div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <a href="{{ url_for("jockey_amazon_bp.get_jockeys" )}}" class="button mt-2 is-fullwidth is-medium">Volver</a>

{% endblock %}
{% block extra_scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/toggle-search-bar.js') }}"></script>
<script src="{{ url_for('static', filename='js/jockey_amazon/family-form.js')}}"></script>
<script src="{{ url_for('static', filename='js/jockey_amazon/health-form.js')}}"></script>
<script src="{{ url_for('static', filename='js/jockey_amazon/work-assignment-form.js')}}"></script>
<script src="{{ url_for('static', filename='js/form_validator.js') }}"></script>


<script>
    // Toggle functionality for various form sections
    function setupToggle(checkboxSelector, detailsSelector) {
        const checkbox = document.querySelector(checkboxSelector);
        const details = document.getElementById(detailsSelector);

        function toggleDetails() {
            details.style.display = checkbox.checked ? 'block' : 'none';
        }
        if (checkbox) {
            checkbox.addEventListener('change', toggleDetails);
            toggleDetails(); // Initial check
        }
    }

    setupToggle('input[name="has_scholarship"]', 'scholarship-details');
    setupToggle('input[name="has_disability"]', 'disability-details');
    setupToggle('input[name="has_family_assignment"]', 'family-assignment-details');
    setupToggle('input[name="has_curatorship"]', 'curatorship-details');
    setupToggle('input[name="has_pension"]', 'pension-details');

</script>
{% endblock %}
