{% extends "base_show.html" %}

{% block title %}Ver Mensaje - CEDICA{% endblock %}

{% block breadcrumb_items %}
    <li>
        <a href="{{ url_for('contact_bp.get_messages' )}}">
            <span class="icon is-small">
                <i class="fas fa-envelope" aria-hidden="true"></i>
            </span>
            <span>Mensajes</span>
        </a>
    </li>
    <li>
        <a href="">
            <span class="icon is-small">
                <i class="fa-solid fa-envelope-open-text" aria-hidden="true"></i>
            </span>
            <span>Mensaje </span>
        </a>
    </li>
{% endblock %}
{% block card_title %}
Mensaje de {{ message.name }}
{% if message.status.value == "Pendiente" %}
<span class="tag is-warning ml-2 is-medium">{{ message.status.value }}</span>
{% elif message.status.value == "Resuelto" %}
<span class="tag is-success ml-2 is-medium">{{ message.status.value }}</span>
{% else %}
<span class="tag is-info ml-2 is-medium">{{ message.status.value }}</span>
{% endif %}
{% endblock %}

{% block card_content %}
        <ul>
            <li><strong>ID:</strong> {{ message.id }}</li>
            <li><strong>Nombre:</strong> {{ message.name }}</li>
            <li><strong>Email:</strong> {{ message.email }}</li>
            <li><strong>Estado:</strong> {{ message.status.value }}</li>
            <li><strong>Recibido: </strong>{{ message.inserted_at.strftime('%d-%m-%Y %H:%M')}}</li>
            <li><strong>Mensaje:</strong> {{ message.message }}</li>
        </ul>
{% endblock %}

{% block card_actions %}
<button class="card-footer-item has-text-danger modal-trigger" data-id="{{ message.id }}" data-target="user-delete-modal">
    Eliminar
</button>
<a href="{{ url_for('message_bp.answer_message', message_id=message.id) }}" class="card-footer-item has-text-warning">Responder</a>
{% endblock %}
