{% macro render_delete_modal(endpoint, title, msg, msg_sub, field='user', delete_text="Eliminar") %}
  <div class="modal" id="{{ field }}-delete-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">{{ title }}</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <p>{{ msg }}</p>
        <p class="has-text-danger mt-4 is-bold">{{ msg_sub }}</p>
      </section>
      <footer class="modal-card-foot">
        <div class="buttons">
          <form 
            action="{{ endpoint }}" 
            method="POST" 
            style="display: inline;"
            >
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="item_id" id="item-id">
            <button type="submit" id="delete-btn" class="button has-text-danger">{{ delete_text }}</button>
          </form>
          <button class="button">Cancelar</button>
        </div>
      </footer>
    </div>
  </div>
{% endmacro %}