{% macro render_actions_menu(to_left, endpoints, value) %}
    {% if to_left == true %}
    <div class="dropdown is-left is-hoverable">        
    {% else %}
    <div class="dropdown is-right is-hoverable">
    {% endif %}
        <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span class=" is-bold">
                {% if to_left %}
                >
                {% else %}
                <
                {% endif %}
            </span>
        </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu"> 
        <div class="dropdown-content">
            <a href="" class="dropdown-item">Ver</a>
            <a href="{{ url_for(endpoints.edit, user_id=value) }}" class="dropdown-item has-text-warning">Editar</a>
            <button class="dropdown-item has-text-danger modal-trigger" data-id="{{ value }}" data-target="user-delete-modal">Eliminar</button>
        </div>
        </div>
    </div>
{% endmacro %}