{% macro render_pagination(pagination, endpoint, additional_params={}) %}
  {% set args = request.args.to_dict() %}
  {% if 'page' in args %}
    {% set _ = args.pop('page') %}
  {% endif %}

  {# Merge additional_params with args #}
  {% for key, value in additional_params.items() %}
    {% set _ = args.update({key: value}) %}
  {% endfor %}

  <nav id="pagination"class="pagination is-centered" role="navigation" aria-label="pagination">
    {% if pagination.has_prev %}
      <a href="{{ url_for(endpoint, page=pagination.prev_num, **args) }}" class="pagination-previous">Anterior</a>
    {% else %}
      <a class="pagination-previous" disabled>Anterior</a>
    {% endif %}

    {% if pagination.has_next %}
      <a href="{{ url_for(endpoint, page=pagination.next_num, **args) }}" class="pagination-next">Siguiente</a>
    {% else %}
      <a class="pagination-next" disabled>Siguiente</a>
    {% endif %}

    <ul class="pagination-list">
      {% for page in pagination.iter_pages() %}
        {% if page %}
          {% if page != pagination.page %}
            <li>
              <a href="{{ url_for(endpoint, page=page, **args) }}" class="pagination-link" aria-label="Goto page {{ page }}">{{ page }}</a>
            </li>
          {% else %}
            <li>
              <a class="pagination-link is-current" aria-label="Page {{ page }}" aria-current="page">{{ page }}</a>
            </li>
          {% endif %}
        {% else %}
          <li>
            <span class="pagination-ellipsis">&hellip;</span>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
{% endmacro %}