{% extends "base_document_list.html" %}

{% from "employee/macros/parse_categories.html" import render_category %}

{# Variables used in base_document_list #}
{% set is_entity_deleted = employee.is_deleted %}
{% set current_url = url_for('employee_bp.edit_documents', employee_id=employee.id) %}
{% set entity_has_documents = files %}
{% set permission_to_update_docs = 'equipo_update'%}

{% block title %} Equipo - Actualizar documentos {% endblock %}

{% block breadcrumb_items %}
    <li>
      <a href="{{ url_for('employee_bp.get_employees') }}">
        <span class="icon is-small">
          <i class="fas fa-users" aria-hidden="true"></i>
        </span>
        <span>Equipo</span>
      </a>
    </li>
    <li>
      <a href="{{ url_for('employee_bp.show_employee', employee_id=employee.id) }}">
        <span class="icon is-small">
          <i class="fa-solid fa-user-tie"></i>
        </span>
        <span>{{ employee.name }} {{ employee.lastname }}</span>
      </a>
    </li>
    <li>
      <a href="">
        <span class="icon is-small">
          <i class="fa-solid fa-pen-nib"></i>
        </span>
        <span>Actualizar documentos</span>
      </a>
    </li>
{% endblock %}

{% block doc_header %}
	<div class="container">
    <h1 class="title is-fullwidth has-text-centered">Actualizando a {{ employee.name + " " + employee.lastname }}</h1>
    <div class="tabs is-toggle is-fullwidth is-toggle-rounded is-centered is-medium">
      <ul>
          {% if not employee.is_deleted and ('equipo_update' in permissions or is_admin) %}
            <li>
              <a href="{{ url_for('employee_bp.edit_employee', employee_id=employee.id) }}">
                <span class="icon is-small">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                </span>
                <span>Informacion General</span>
              </a>
            </li>
          {% endif %}
        <li class="is-active">
          <a href="{{ url_for("employee_bp.edit_documents",  employee_id=employee.id ) }}">
            <span class="icon is-small">
                <i class="far fa-file-alt" aria-hidden="true"></i>
            </span>
            <span>Documentos Anexos</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block form_action %}{{ url_for("employee_bp.edit_documents", employee_id=employee.id ) }}{% endblock %}
{% block clear_url %}{{ url_for("employee_bp.edit_documents", employee_id=employee.id ) }}{% endblock %}

{% block doc_header_title %} Actualizando documentos de {{ employee.name }} {{ employee.lastname }} {% endblock %}
{% block doc_header_endpoint %}{{ url_for("employee_bp.edit_documents", employee_id=employee.id ) }}{% endblock %}

{% block create_endpoint %}
    {{ url_for('employee_bp.create_document',employee_id=employee.id) }}
{% endblock %}

{% block top_pagination %}
  {{ render_pagination(paginated_files, 'employee_bp.edit_documents', {'employee_id': employee.id}) }}
{% endblock %}

{% macro render_document_category(file) %}
    {{ render_category(file.tag) }}
{% endmacro %}

{% block no_documents_text %} No se ha subido ningún documento para este empleado {% endblock %}

{% block bottom_pagination %}
  {{ render_pagination(paginated_files, 'employee_bp.edit_documents', {'employee_id': employee.id}) }}
{% endblock %}

{% block modal %}
    {{ render_delete_modal(
        url_for("employee_bp.delete_document", employee_id=employee.id),
        title="Eliminar documento",
        msg="¿Está seguro de que desea eliminar el documento?",
        msg_sub="Luego de confirmar, no se podrán revertir los cambios"
    ) }}
{% endblock %}