<div class="container cell">
  <div class="buttons is-centered">
      <!-- Facebook Button -->
      <a href="https://facebook.com" class="button is-black is-outlined">
          <span class="icon">
              <i class="fab fa-facebook-f"></i>
          </span>
      </a>

      <!-- Instagram Button -->
      <a href="https://instagram.com" class="button is-black is-outlined">
          <span class="icon">
              <i class="fab fa-instagram"></i>
          </span>
      </a>

      <!-- Twitter Button -->
      <a href="https://twitter.com" class="button is-black is-outlined">
          <span class="icon">
              <i class="fab fa-twitter"></i>
          </span>
      </a>

      <!-- TikTok Button -->
      <a href="https://tiktok.com" class="button is-black is-outlined">
          <span class="icon">
              <i class="fab fa-tiktok"></i>
          </span>
      </a>

      <!-- Phone Button -->
      <a href="tel:+123456789" class="button is-black is-outlined">
          <span class="icon">
              <i class="fas fa-phone"></i>
          </span>
      </a>
  </div>
</div>