<div class="container cell">
    <div class="buttons is-centered">
        <a
            href="https://www.facebook.com/cedica.equitacionparatodos/"
            target="_blank"
            rel="noopener noreferrer"
            class="button is-black is-outlined">
            <span class="icon">
                <i class="fab fa-facebook-f"></i>
            </span>
        </a>

        <a
            href="https://www.instagram.com/cedica.equitacionparatodos?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
            target="_blank"
            rel="noopener noreferrer"
            class="button is-black is-outlined"
        >
            <span class="icon">
                <i class="fab fa-instagram"></i>
            </span>
        </a>

        <a
            href="https://m.me/cedica.equitacionparatodos"
            class="button is-black is-outlined"
            target="_blank"
            rel="noopener noreferrer"
        >
            <span class="icon">
                <i class="fa-brands fa-facebook-messenger"></i>
            </span>
        </a>

    <!-- <a>
        <span class="icon">
            <i class="fab fa-twitter"></i>
        </span>
    </a> -->

      <!-- <a href="https://twitter.com" class="button is-black is-outlined">
          <span class="icon">
              <i class="fab fa-twitter"></i>
          </span>
          <span class="sr-only">Visita nuestra página de Twitter</span>
      </a> -->

      <!-- <a href="https://tiktok.com" class="button is-black is-outlined">
          <span class="icon">
              <i class="fab fa-tiktok"></i>
          </span>
          <span class="sr-only">Visita nuestra página de Tiktok</span>
      </a> -->

      <!-- <a href="tel:+123456789" class="button is-black is-outlined">
          <span class="icon">
              <i class="fas fa-phone"></i>
          </span>
           <span class="sr-only">Teléfono de la organización</span>
      </a> -->
  </div>
</div>