{% from "macros/image_from_minio.html" import profile_image %}

<nav class="navbar is-fixed-top pt-2" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for("index_bp.home") }}">
            <figure class="level">
                <img
                src="{{ url_for('static', filename='assets/cedica_isologotipo.png')}}"
                alt="CEDICA isologotipo"
                class="level-item"
                />
            </figure>
        </a>
        <a
                role="button"
                class="navbar-burger"
                aria-label="Abrir menú"
                aria-expanded="false"
                data-target="top-navbar"
        >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="top-navbar" class="navbar-menu">
        <div class="navbar-start">
            {% if is_authenticated %}
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link"> Áreas </a>
                <div class="navbar-dropdown">
                    {% if is_admin %}
                        <a href="{{ url_for('users_bp.get_users') }}" class="navbar-item" aria-label="Usuarios">
                            Usuarios 
                        </a>
                    {% endif %}
                    {% if "equipo_index" in permissions or is_admin %}
                        <a href="{{ url_for('employee_bp.get_employees') }}" class="navbar-item" aria-label="Equipo"> Equipo </a>
                    {% endif %}
                    {% if "jya_index" in permissions or is_admin %}
                        <a href="{{ url_for('jockey_amazon_bp.get_jockeys') }}" class="navbar-item" aria-label="Jinetes y Amazonas">
                            Jinetes y Amazonas
                        </a>
                    {% endif %}
                    {% if "ecuestre_index" in permissions or is_admin %}
                        <a href="{{ url_for('equestrian_bp.get_horses') }}" class="navbar-item" aria-label="Ecuestres"> Ecuestres </a>
                    {% endif %}
                    {% if "pagos_index" in permissions or "cobros_index" in permissions or is_admin %}
                        <hr class="navbar-divider" aria-hidden="true"/>
                        {% if "pagos_index" in permissions or is_admin %}
                            <a href="{{ url_for('payment_bp.get_payments') }}" class="navbar-item" aria-label="Pagos"> Pagos </a>
                        {% endif %}
                        {% if "cobros_index" in permissions or is_admin %}
                            <a href="{{ url_for('charges_bp.get_charges') }}" class="navbar-item" aria-label="Cobros"> Cobros </a>
                        {% endif %}
                    {% endif %}
                    {% if "reportes_index" in permissions or is_admin %}
                        <a href="{{ url_for('report_bp.index') }}" class="navbar-item" aria-label="Equipo"> Reportes </a>
                    {% endif %}
                    {% if "publicaciones_index" in permissions or is_admin%}
                        <hr class="navbar-divider" aria-hidden="true"/>
                        <a href="{{ url_for('publications_bp.get_publications') }}" class="navbar-item" aria-label="Publicaciones"> Publicaciones </a>
                    {% endif %}
                    {% if "mensaje_index" in permissions or is_admin%}
                    <a href="{{ url_for('contact_bp.get_messages') }}" class="navbar-item" aria-label="Mensajes"> Mensajes </a>
                {% endif %}
                    <hr class="is-hidden-desktop" /> 
                    <a href="{{url_for('auth_bp.view_profile', user_id=user_id)}}" class="dropdown-item is-hidden-desktop" role="menuitem"> Perfil </a>
                    {% if not is_admin%}
                        <a href="{{url_for('auth_bp.edit_profile', user_id=user_id)}}" class="dropdown-item is-hidden-desktop" role="menuitem"> Configuración </a>
                    {% endif %}
                    <hr class="dropdown-divider"/>
                    <form action="{{ url_for('auth_bp.logout') }}" method="POST" class="is-hidden-desktop navbar-item">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button type="submit" class="button is-danger is-small is-outlined">
                            <span class="icon is-small">
                                <i class="fas fa-sign-out"></i>
                              </span>
                              <span>Cerrar Sesión</span>
                        </button>
                    </form>

                </div>
            </div>
            {% endif %}
        </div>
        
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons has-dropdown">
                    <button id="themeToggle" class="button is-ghost" aria-label="Cambiar tema">
                        <svg width="40px" height="40px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <g fill="currentColor">
                                <path
                                    d="M12,22 C17.52,22 22,17.52 22,12 C22,6.48 17.52,2 12,2 C6.48,2 2,6.48 2,12 C2,17.52 6.48,22 12,22 Z M12,20.5 L12,3.5 C16.69,3.5 20.5,7.31 20.5,12 C20.5,16.69 16.69,20.5 12,20.5 Z" />
                            </g>
                        </svg>
                    </button>
                    {% if is_authenticated %}
                    <div class=" is-desktop is-hidden-touchable dropdown is-hoverable is-right" id="dropdown">
                        <div class="dropdown-trigger">
                            <button class="button is-ghost" aria-label="Opciones de usuario" aria-haspopup="true"
                                aria-controls="dropdown-menu">
                                <figure class="image">
                                    {{ profile_image(user_id) }}
                                </figure>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                                <a href="{{url_for('auth_bp.view_profile', user_id=user_id)}}" class="dropdown-item" role="menuitem"> Perfil </a>
                                {% if not is_admin%}
                                <a href="{{url_for('auth_bp.edit_profile', user_id=user_id)}}" class="dropdown-item" role="menuitem"> Configuración </a>
                                {% endif %}
                                <hr class="dropdown-divider"/>
                                <form action="{{ url_for('auth_bp.logout') }}" method="POST" style="display: flex; justify-content: center;">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    <button type="submit" class="button is-danger is-small is-outlined" role="menuitem">
                                        <span class="icon is-small">
                                            <i class="fas fa-sign-out"></i>
                                          </span>
                                          <span>Cerrar Sesión</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
</nav>