{% extends "create_jockey_amazon.html" %}

{% block title %} Informacion de Familia - Creando JyA {% endblock %}

{% block step_name %}
  Informacion de Familia
{% endblock %}

{% block step_number %}2{% endblock %}>

{% block step_form %}
  {% include 'jockey_amazon/forms/family_form.html' %} 
{% endblock %}

{% block prev_button %}
  <a class="button is-primary is-medium is-outlined is-fullwidth">
    <span class="icon mr-1"><i class="fa-solid fa-arrow-left"></i></span>
    Volver
  </a>
{% endblock %}

{% block next_button %}
  <button class="button is-primary is-medium is-fullwidth" type="submit">
    Siguiente
    <span class="icon ml-1"><i class="fa-solid fa-arrow-right"></i></span>
  </button>
{% endblock %}

{% block extra_scripts %}
    {{ super() }}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Funcionalidad para agregar miembros de la familia
    // Funcionalidad para mostrar/ocultar detalles de la asignación familiar
    const hasFamilyAssignmentCheckbox = document.querySelector('input[name="has_family_assignment"]');
    const familyAssignmentDetails = document.getElementById('family-assignment-details');

    function toggleFamilyAssignmentDetails() {
        if (hasFamilyAssignmentCheckbox.checked) {
            familyAssignmentDetails.style.display = 'block';
        } else {
            familyAssignmentDetails.style.display = 'none';
        }
    }

    hasFamilyAssignmentCheckbox.addEventListener('change', toggleFamilyAssignmentDetails);
    toggleFamilyAssignmentDetails();  // Initial check
    // Funcionalidad para mostrar/ocultar detalles de la pensión
    const hasPensionCheckbox = document.querySelector('input[name="has_pension"]');
    const pensionDetails = document.getElementById('pension-details');

    function togglePensionDetails() {
        if (hasPensionCheckbox.checked) {
            pensionDetails.style.display = 'block';
        } else {
            pensionDetails.style.display = 'none';
        }
    }

    hasPensionCheckbox.addEventListener('change', togglePensionDetails);
    togglePensionDetails();  // Initial check
  });
</script>
{% endblock %}


