{% extends "create_jockey_amazon.html" %}

{% block title %} Información General - Creando JyA {% endblock %}

{% block step_name %}
  Información General
{% endblock %}

{% block step_number %}0{% endblock %}>

{% block step_form %}
  {% include 'jockey_amazon/forms/general_form.html' %} 
{% endblock %}

{% block next_button %}
  <button class="button is-primary is-medium is-fullwidth" type="submit">
    Siguiente
    <span class="icon ml-1"><i class="fa-solid fa-arrow-right"></i></span>
  </button>
{% endblock %}

{% block extra_scripts %}
{{ super() }}
{% endblock %}

