  .full-height-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.full-height-container > * {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
}

.full-height-container > *:last-child {
    margin-bottom: 0;
}

/* Estilos adicionales para mejorar la apariencia del ejemplo */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.content {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
}

.toggle-password {
    pointer-events: all !important;
    cursor: pointer !important;
}