<!-- General Information -->
<div id="general-info" class="tab-pane is-active" style="display: block">
  <div id="basic-info" class="pb-4">
    <h2 class="label is-size-4">Información General</h2>
    <div class="field-body">
      <div class="field">
        <label class="label">{{ form.general_information.first_name.label }}</label>
        <div class="control">
          {{ form.general_information.first_name(class="input", placeholder="Ingrese el nombre") }}
        </div>
        {% if form.general_information.first_name.errors %}
        <p class="help is-danger">{{ form.general_information.first_name.errors[0] }}</p>
        {% endif %}
      </div>
      <div class="field">
        <label class="label">{{ form.general_information.last_name.label }}</label>
        <div class="control">
          {{ form.general_information.last_name(class="input", placeholder="Ingrese el apellido") }}
        </div>
        {% if form.general_information.last_name.errors %}
        <p class="help is-danger">{{ form.general_information.last_name.errors[0] }}</p>
        {% endif %}
      </div>
    </div>
    <div class="field pt-2">
      <label class="label">{{ form.general_information.birthplace.label }}</label>
      <div class="control">
        {{ form.general_information.birthplace(class="input", placeholder="Ingrese el lugar de
        nacimiento", required=true) }}
      </div>
    </div>
    <div class="field-body">
      <div class="field">
        <label class="label">{{ form.general_information.dni.label }}</label>
        <div class="control">
          {{ form.general_information.dni(class="input", placeholder="Ingrese el DNI") }}
        </div>
        {% if form.general_information.dni.errors %}
        <p class="help is-danger">{{ form.general_information.dni.errors[0] }}</p>
        {% endif %}
      </div>
      <div class="field">
        <label class="label">{{ form.general_information.birth_date.label }}</label>
        <div class="control">
          {{ form.general_information.birth_date(class="input", type="date") }}
        </div>
        {% if form.general_information.birth_date.errors %}
        <p class="help is-danger">{{ form.general_information.birth_date.errors[0] }}</p>
        {% endif %}
      </div>
    </div>
    <div class="field-body pt-2">
      <div class="field">
        <label class="label">{{ form.general_information.phone.country_code.label }}</label>
        <div class="control">
          {{ form.general_information.phone.country_code(class="input", placeholder="Código de país")
          }}
        </div>
        {% if form.general_information.phone.country_code.errors %}
        <p class="help is-danger">{{ form.general_information.phone.country_code.errors[0] }}</p>
        {% endif %}
      </div>
      <div class="field">
        <label class="label">{{ form.general_information.phone.area_code.label }}</label>
        <div class="control">
          {{ form.general_information.phone.area_code(class="input", placeholder="Código de área") }}
        </div>
        {% if form.general_information.phone.area_code.errors %}
        <p class="help is-danger">{{ form.general_information.phone.area_code.errors[0] }}</p>
        {% endif %}
      </div>
      <div class="field">
        <label class="label">{{ form.general_information.phone.number.label }}</label>
        <div class="control">
          {{ form.general_information.phone.number(class="input", placeholder="Número") }}
        </div>
        {% if form.general_information.phone.number.errors %}
        <p class="help is-danger">{{ form.general_information.phone.number.errors[0] }}</p>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- Address Information -->
  <div id="address-info" class="field py-4">
    <h2 class="label is-size-4">Dirección</h2>
    <div class="field">
      <div class="field-body">
        <div class="field">
          <label class="label">{{ form.general_information.address.province.label }}</label>
          <div class="control">
            {{ form.general_information.address.province(class="input", placeholder="Ingrese la
            provincia") }}
          </div>
          {% if form.general_information.address.province.errors %}
          <p class="help is-danger">{{ form.general_information.address.province.errors[0] }}</p>
          {% endif %}
        </div>
        <div class="field">
          <label class="label">{{ form.general_information.address.locality.label }}</label>
          <div class="control">
            {{ form.general_information.address.locality(class="input", placeholder="Ingrese la
            localidad") }}
          </div>
          {% if form.general_information.address.locality.errors %}
          <p class="help is-danger">{{ form.general_information.address.locality.errors[0] }}</p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="field-body">
      <div class="field">
        <label class="label">{{ form.general_information.address.department.label }}</label>
        <div class="control">
          {{ form.general_information.address.department(class="input", placeholder="Ingrese el
          departamento") }}
        </div>
        {% if form.general_information.address.department.errors %}
        <p class="help is-danger">{{ form.general_information.address.department.errors[0] }}</p>
        {% endif %}
      </div>
      <div class="field">
        <label class="label">{{ form.general_information.address.street.label }}</label>
        <div class="control">
          {{ form.general_information.address.street(class="input", placeholder="Ingrese la calle")
          }}
        </div>
        {% if form.general_information.address.street.errors %}
        <p class="help is-danger">{{ form.general_information.address.street.errors[0] }}</p>
        {% endif %}
      </div>
      <div class="field">
        <label class="label">{{ form.general_information.address.number.label }}</label>
        <div class="control">
          {{ form.general_information.address.number(class="input", placeholder="Ingrese el número")
          }}
        </div>
        {% if form.general_information.address.number.errors %}
        <p class="help is-danger">{{ form.general_information.address.number.errors[0] }}</p>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- Emergency Contact -->
  <div id="emergency-contact">
    <h2 class="label is-size-4">Contacto de Emergencia</h2>
    <div class="field">
      <label class="label"
        >{{ form.general_information.emergency_contact.emergency_contact_name.label }}</label
      >
      <div class="control">
        {{ form.general_information.emergency_contact.emergency_contact_name(class="input",
        placeholder="Ingrese el nombre del contacto de emergencia", required=true)
        }}
      </div>
    </div>
    <div class="field">
      <label class="label"
        >{{ form.general_information.emergency_contact.emergency_contact_phone.label }}</label
      >
      <div class="control">
        {{ form.general_information.emergency_contact.emergency_contact_phone(class="input",
        placeholder="Ingrese el teléfono del contacto de emergencia",
        required=true) }}
      </div>
    </div>
  </div>
</div>

