<div id="health-info" class="tab-pane" style="display: none">
  <!-- Disability Information -->
  <div id="disability-info">
    <label class="label is-size-4">Información de Discapacidad</label>
    <div class="field">
      <div class="control">
        <label class="checkbox is-small">
          {{ form.health_information.has_disability.label(class="has-text-weight-bold is-size-5 mr-2") }} 
          {{ form.health_information.has_disability(class="ml-2", type="checkbox", style="transform: scale(1.5)") }}
        </label>
      </div>
      {% if form.health_information.has_disability.errors %}
      <p class="help is-danger">{{ form.health_information.has_disability.errors[0] }}</p>
      {% endif %}
    </div>

    <div class="field" id="disability-details" style="display: none">
      <label class="label">Diagnóstico de Discapacidad</label>
      <div class="control">
        {{ form.health_information.disability_diagnosis(class="textarea is-small", placeholder="Ingrese el diagnóstico de discapacidad") }}
      </div>
      {% if form.health_information.disability_diagnosis.errors %}
      <p class="help is-danger">{{ form.health_information.disability_diagnosis.errors[0] }}</p>
      {% endif %}

      <label class="label is-size-6">Otra Discapacidad</label>
      <div class="control">
        {{ form.health_information.disability_other(class="textarea is-small", placeholder="Ingrese otra discapacidad") }}
      </div>
      {% if form.health_information.disability_other.errors %}
      <p class="help is-danger">{{ form.health_information.disability_other.errors[0] }}</p>
      {% endif %}

      <label class="label is-size-6">Tipo de Discapacidad</label>
      <div class="control">
        {{ form.health_information.disability_type(class="textarea is-small", placeholder="Ingrese el tipo de discapacidad") }}
      </div>
      {% if form.health_information.disability_type.errors %}
      <p class="help is-danger">{{ form.health_information.disability_type.errors[0] }}</p>
      {% endif %}
    </div>
  </div>
  <!-- Health Information -->
  <div id="health-info" class="py-4">
    <label class="label is-size-4">Cobertura médica</label>
    <div class="field">
      <label class="label">{{ form.health_information.social_security.label }}</label>
      <div class="control">
        {{ form.health_information.social_security(class="input", placeholder="Ingrese la cobertura médica") }}
      </div>
      {% if form.health_information.social_security.errors %}
      <p class="help is-danger">{{ form.health_information.social_security.errors[0] }}</p>
      {% endif %}
    </div>
    <div class="field">
      <label class="label">{{ form.health_information.social_security_number.label }}</label>
      <div class="control">
        {{ form.health_information.social_security_number(class="input", placeholder="Ingrese el número de afiliado") }}
      </div>
      {% if form.health_information.social_security_number.errors %}
      <p class="help is-danger">{{ form.health_information.social_security_number.errors[0] }}</p>
      {% endif %}
    </div>
  </div>
  <!-- Curatorship Information -->
  <div id="curatorship-info" class="py-4"> 
    <h2 class="label is-size-4">Información de Curatela</h2>
    <div class="field">
      <div class="control">
        <label class="checkbox">
          {{ form.health_information.has_curatorship.label(class="has-text-weight-bold is-size-5") }} 
          {{ form.health_information.has_curatorship(class="ml-2", type="checkbox", style="transform: scale(1.5)") }}
        </label>
      </div>
      {% if form.health_information.has_curatorship.errors %}
      <p class="help is-danger">{{ form.health_information.has_curatorship.errors[0] }}</p>
      {% endif %}
    </div>
  </div>
  <div class="field" id="curatorship-details" style="display: none;">
    <h3 class="label">Observaciones de Curatela</h3>
    <div class="control">
        {{ form.health_information.curatorship_observations(class="textarea", placeholder="Ingrese observaciones de la curatela") }}
    </div>
    {% if form.health_information.curatorship_observations.errors %}
        <p class="help is-danger">{{ form.curatorship_observations.errors[0] }}</p>
    {% endif %}
    </div>
</div>

