<div id="work-assignments-info" class="tab-pane" style="display: none">
  <!-- Scholarship info -->
  <div id="scholarship-info">
    <label class="label is-size-4">Información de Beca</label>
    <div class="field">
      <div class="control">
        <label class="checkbox">
          {{ form.organization_information.has_scholarship.label(class="has-text-weight-bold is-size-5") }} 
          {{ form.organization_information.has_scholarship(class="ml-2", type="checkbox", style="transform: scale(1.5)") }}
        </label>
      </div>
      {% if form.organization_information.has_scholarship.errors %}
      <p class="help is-danger">{{ form.organization_information.has_scholarship.errors[0] }}</p>
      {% endif %}
    </div>

    <div class="field" id="scholarship-details">
      <label class="label mt-2">Porcentaje de Beca</label>
      <div class="control">
        {{ form.organization_information.scholarship_percentage(class="input", placeholder="Ingrese el porcentaje de beca") }}
      </div>
      {% if form.organization_information.scholarship_percentage.errors %}
      <p class="help is-danger">{{ form.organization_information.scholarship_percentage.errors[0] }}</p>
      {% endif %}

      <label class="label mt-2">Observaciones de Beca</label>
      <div class="control">
        {{ form.organization_information.scholarship_observations(class="textarea", placeholder="Ingrese observaciones de la beca") }}
      </div>
      {% if form.organization_information.scholarship_observations.errors %}
      <p class="help is-danger">
        {{ form.organization_information.scholarship_observations.errors[0] }}
      </p>
      {% endif %}
    </div>
  </div>

  <!-- Professionals Information -->
  <div id="professionals-info" class="mt-4">
    <label class="label is-size-4">{{ form.organization_information.professionals.label }}</label>
    <div class="control">
      {{ form.organization_information.professionals(class="textarea", placeholder="Ingrese los profesionales que lo atienden") }}
    </div>
    {% if form.organization_information.professionals.errors %}
    <p class="help is-danger">{{ form.organization_information.professionals.errors[0] }}</p>
    {% endif %}
  </div>

  <div id="work-assignments-info" class="mt-4">
    <label class="label is-size-4">Asignaciones de Trabajo</label>
    <div class="field-body">
      <div class="field">
        <label class="label">{{ form.organization_information.work_assignments.proposal.label }}</label>
        <div class="control">
          <div class="select">{{ form.organization_information.work_assignments.proposal() }}</div>
        </div>
      </div>
      <div class="field">
        <label class="label">{{ form.organization_information.work_assignments.condition.label }}</label>
        <div class="control">
          <div class="select">{{ form.organization_information.work_assignments.condition() }}</div>
        </div>
      </div>
      <div class="field">
        <label class="label">{{ form.organization_information.work_assignments.sede.label }}</label>
        <div class="control">
          <div class="select">{{ form.organization_information.work_assignments.sede() }}</div>
        </div>
      </div>
      <div class="field">
        <label class="label">{{ form.organization_information.work_assignments.days.label }}</label>
        <div class="control">
          <div class="select is-multiple">{{ form.organization_information.work_assignments.days() }}</div>
        </div>
      </div>
    </div>
    <div class="field mt-2">
      <label class="label">{{ form.organization_information.work_assignments.professor_or_therapist_id.label }}</label>
      <div class="control">
        {{ form.organization_information.work_assignments.professor_or_therapist_id(class="input",
        type="number") }}
      </div>
    </div>
    <div class="field">
      <label class="label">{{ form.organization_information.work_assignments.conductor_id.label }}</label>
      <div class="control">
        {{ form.organization_information.work_assignments.conductor_id(class="input", type="number") }}
      </div>
    </div>
    <div class="field">
      <label class="label">{{ form.organization_information.work_assignments.track_assistant_id.label }}</label>
      <div class="control">
        {{ form.organization_information.work_assignments.track_assistant_id(class="input",
        type="number") }}
      </div>
    </div>
    <div class="field">
      <label class="label">{{ form.organization_information.work_assignments.horse_id.label }}</label>
      <div class="control">
        {{ form.organization_information.work_assignments.horse_id(class="input", type="number") }}
      </div>
    </div>
  </div>
</div>
