<!doctype html>
<html>
    <body>
        <p>Estimado {{ user.alias }},</p>
        <p>
            Para reestablecer su contraseña
            <a href="{{ url_for('reset_password', token=token, _external=True) }}">
              Haga click aqui
            </a>.
        </p>
        <p>Alternativamente, puede pegar el siguiente link en la barra de busqueda del navegador:</p>
        <p>{{ url_for('reset_password', token=token, _external=True) }}</p>
        <p>Si no ha solicitado un cambio de contraseña, desestime este mensaje.</p>
        <p>Atentamente,</p>
        <p>Grupo19</p>
    </body>
</html>